<div>
    <p><b>Note</b> Activities will only show up after rolling <b>Prepare Campsite</b></p>
    <p><b>UUIDs</b> can be found in the item's <b>Rules</b> tab</p>
    <p>Override an existing activity by giving it the same name</p>
    <form class="simple-dialog-form">
        <div>
            <label for="km-name">Name</label>
            <input type="text" name="name" id="km-name" placeholder="Unknown Activity" value="{{name}}">
        </div>
        <div>
            <label for="km-journal">Journal UUID</label>
            <input type="text" name="journal" id="km-journal" value="{{journalUuid}}">
        </div>
        <div>
            <div class="label">Skills</div>
            <div>{{> modules/pf2e-kingmaker-tools/templates/common/skills.partial.hbs skills=skills}}</div>
        </div>
        <div>
            <label for="km-dc">DC</label>
            <select name="dc" id="km-dc">
                <option value="">-</option>
                {{selectOptions dcs selected=dc}}
            </select>
        </div>
        <div>
            <label for="km-day-encounter-dc">Day Encounter DC Modifier</label>
            <input type="number" name="day-encounter-dc" id="km-day-encounter-dc" placeholder="0"
                   value="{{modifyRandomEncounterDc.day}}">
        </div>
        <div>
            <label for="km-night-encounter-dc">Night Encounter DC Modifier</label>
            <input type="number" name="night-encounter-dc" id="km-night-encounter-dc" placeholder="0"
                   value="{{modifyRandomEncounterDc.night}}">
        </div>
        <div>
            <label for="km-secret">Secret Check</label>
            <input type="checkbox" name="secret" id="km-secret" {{checked isSecret}}>
        </div>
        {{#each outcomes}}
            {{#each effects}}
                <div>
                    <div class="label">Effect targeting: {{target}}</div>
                    <div class="camping-effect">
                        {{{effect}}}
                        <button title="edit" type="button" class="edit-effect" data-type="{{key}}"
                                data-index="{{@index}}"><i class="fa-solid fa-pencil"></i></button>
                        <button title="edit" type="button" class="delete-effect" data-type="{{key}}"
                                data-index="{{@index}}"><i class="fa-solid fa-trash"></i></button>
                    </div>
                </div>
            {{/each}}
            <div>
                <div></div>
                <button type="button" title="add" class="add-effect full-width" data-type="{{id}}">Add Effect <i
                        class="fa-solid fa-plus"></i></button>
            </div>
            <div>
                <label for="km-{{id}}-message">{{label}}: Message</label>
                <textarea name="{{id}}-message" id="km-{{id}}-message" placeholder="">{{message}}</textarea>
            </div>
            <div>
                <label for="km-{{id}}-day-modifier">{{label}}: Day Encounter DC Modifier</label>
                <input type="number" name="{{id}}-day-modifier" id="km-{{id}}-day-modifier" placeholder="0"
                       value="{{modifyRandomEncounterDc.day}}">
            </div>
            <div>
                <label for="km-{{id}}-night-modifier">{{label}}: Night Encounter DC Modifier</label>
                <input type="number" name="{{id}}-night-modifier" id="km-{{id}}-night-modifier" placeholder="0"
                       value="{{modifyRandomEncounterDc.night}}">
            </div>
            <div>
                <label for="km-{{id}}-roll-encounter">{{label}}: Random Encounter</label>
                <input type="checkbox" name="{{id}}-roll-encounter" id="km-{{id}}-roll-encounter" {{checked
                        checkRandomEncounter}}>
            </div>
        {{/each}}
        {{#each effects}}
            <div>
                <div class="label">Effect targeting: {{target}}</div>
                <div class="camping-effect">
                    {{{effect}}}
                    <button title="edit" type="button" class="edit-effect" data-type="{{key}}"
                            data-index="{{@index}}"><i class="fa-solid fa-pencil"></i></button>
                    <button title="edit" type="button" class="delete-effect" data-type="{{key}}"
                            data-index="{{@index}}"><i class="fa-solid fa-trash"></i></button>
                </div>
            </div>
        {{/each}}
        <div>
            <div></div>
            <button type="button" title="add" class="add-effect full-width" data-type="effect">Add Effect <i
                    class="fa-solid fa-plus"></i>
            </button>
        </div>
    </form>
    {{#each errors}}
        <p class="simple-dialog-form-error">{{this}}</p>
    {{/each}}
    <button class="save" {{#if errors}}disabled{{/if}}>Save <i class="fa-solid fa-save"></i></button>
</div>
