<form class="camping-sheet">
    <div class="camping-header">
        <div class="region-controls">
            <div class="region-player-controls">
                <div><span class="label">Time:</span> {{time}}</div>
                <div><span class="label">Adventuring:</span> {{adventuringSince}}
                    {{#if isGM}}
                        <button type="button" class="reset-adventuring-time" title="reset to 00:00"><i
                                class="fa-solid fa-rotate-left"></i>
                        </button>
                    {{/if}}
                </div>
            </div>
            <div {{#if isUser}}hidden{{/if}} class="region-gm-controls">
                <div>
                    <label for="region-input">Region:</label>
                    <select name="currentRegion" id="region-input" {{#if isUser}}disabled{{/if}}>
                        {{selectOptions regions selected=currentRegion}}
                    </select>
                </div>
                <div>
                    <div><span class="label">Modifier:</span> {{currentEncounterDCModifier}}</div>
                    <button type="button" class="decrease-zone-dc-modifier" title="Decrease Modifier"><i
                            class="fa-solid fa-minus"></i></button>
                    <button type="button" class="increase-zone-dc-modifier" title="Increase Modifier"><i
                            class="fa-solid fa-plus"></i></button>
                    <button type="button" class="reset-zone-dc-modifier" title="Reset Modifier"><i
                            class="fa-solid fa-rotate-left"></i></button>
                </div>
                <div>
                    <div><span class="label">DC:</span> {{encounterDC}}</div>
                    <button type="button" class="roll-encounter" title="Roll Random Encounter" data-phase="activities">
                        <i class="fa-solid fa-skull"></i></button>
                    <button type="button" class="check-encounter" title="Check Random Encounter"
                            data-phase="activities"><i class="fa-solid fa-dice-d20"></i><i
                            class="fa-solid fa-skull"></i></button>
                </div>
            </div>
        </div>
        <div class="time">
            <div style="left: {{timeMarkerPositionPx}}px" class="time-marker">{{#if isDay}}
            <i class="fa-regular fa-sun">{{else}}<i class="fa-regular fa-moon"></i>{{/if}}</i></div>
        </div>
        <div class="region-controls">
            <div class="region-player-controls">
                {{#if watchEnabled}}
                    <div>
                        <div title="Watch: {{watchDuration}}, Daily Preparations: {{dailyPrepsDuration}}, Actors keeping watch: {{actorsKeepingWatch}}">
                            <span class="label">Rest:</span> {{currentRestHours}} of {{restHours}}</div>
                    </div>
                {{/if}}
            </div>
            <div {{#if isUser}}hidden{{/if}} class="region-gm-controls">
                <div>
                    {{#if watchEnabled}}
                        <button type="button" class="rest">{{#if showContinueRest}}
                            Continue Rest{{else}}Begin Rest{{/if}} <i class="fa-solid fa-bed"></i></button>
                    {{/if}}
                    <button type="button" class="camping-settings"><i class="fa-solid fa-cog"></i></button>
                </div>
            </div>
        </div>
    </div>

    <!-- sidebar -->
    <div class="camping-sidebar">
        <h2>In Camp</h2>
        <ul class="camping-actors">
            {{#each actors}}
                <li class="camping-actor" data-uuid="{{uuid}}" data-actor-uuid="{{uuid}}">
                    <div class="chosen-camping-activity {{#if cssClass}}{{cssClass}}{{/if}}"
                         {{#if noActivityChosen}}hidden{{/if}}>{{activity}}</div>
                    <div class="actor-image-container">
                        <img src="{{image}}" class="actor-image" data-uuid="{{uuid}}">
                        <button type="button" class="remove-actor" data-uuid="{{uuid}}" data-type="camping-actors"><i
                                class="fa-solid fa-xmark"></i>
                        </button>
                    </div>
                </li>
            {{/each}}
            <li class="new-camping-actor">
                <img src="modules/pf2e-kingmaker-tools/static/img/add-actor.webp" title="Drop Actor Here"
                     class="no-actor-image">
                <div class="new-camping-actor-label">Drop Actor Here</div>
            </li>
        </ul>
    </div>

    <!-- content -->
    <div class="camping-content">
        <header class="camping-section-header">
            <h2>Activities</h2>
            <div {{#if isUser}}hidden{{/if}} class="camping-gm-buttons">
                <button type="button" class="reset-activities" title="Reset Activities">Reset <i
                        class="fa-solid fa-rotate-left"></i></button>
                <button type="button" class="post-combat-effects">Combat Effects to Chat <i
                        class="fa-solid fa-swords"></i></button>
                <button type="button" class="manage-activities">Manage <i class="fa-solid fa-book-open"></i></button>
                <button type="button" class="advance-hours" data-hours="-1">-1h</button>
                <button type="button" class="advance-hours" data-hours="1">+1h</button>
                <button type="button" class="advance-hours" data-hours="-2">-2h</button>
                <button type="button" class="advance-hours" data-hours="2">+2h</button>
            </div>
        </header>

        <ul class="camping-actors">
            {{#each campingActivities}}
                <li class="camping-activity" data-name="{{name}}" {{#if isHidden}}hidden{{/if}} {{#if
                        actor}}data-actor-uuid="{{actor.uuid}}"{{/if}}>
                    {{> modules/pf2e-kingmaker-tools/templates/camping/activity.partial.hbs activity=this isUser=../isUser degreesOfSuccesses=../degreesOfSuccesses}}
                </li>
            {{/each}}
            {{#if needsPrepareCampsite}}
                <li class="prepare-campsite-notice">Run <b>Prepare Campsite</b> to show additional activities!</li>
            {{/if}}
        </ul>

        <header class="camping-section-header">
            <h2>Eating</h2>
            <div class="camping-user-buttons">
                <button type="button" class="manage-recipes">Manage Recipes <i class="fa-solid fa-book-open"></i>
                </button>
            </div>
            <div {{#if isUser}}hidden{{/if}} class="camping-gm-buttons">
                <button type="button" class="add-recipes">Add Recipes <i class="fa-solid fa-plus"></i></button>
            </div>
        </header>

        <ul class="camping-actors">
            {{#each actorMeals}}
                <li class="eating-actor" data-actor-uuid="{{uuid}}">
                    {{> modules/pf2e-kingmaker-tools/templates/camping/eating.partial.hbs actor=this knownRecipes=../knownFavoriteRecipes mealChoices=../mealChoices}}
                </li>
            {{/each}}
        </ul>

        <div>
            <table class="km-table cost-table">
                <tr>
                    <th>Consumables</th>
                    <th>Rations</th>
                    <th>Subsistence</th>
                    <th>Magical Subsistence</th>
                    <th>Basic Ingredients</th>
                    <th>Special Ingredients</th>
                    <th>Pay</th>
                </tr>
                <tr>
                    <td>Available</td>
                    <td>{{rations}}</td>
                    <td><input type="number" name="subsistenceAmount" value="{{subsistenceAmount}}"></td>
                    <td><input type="number" name="magicalSubsistenceAmount" value="{{magicalSubsistenceAmount}}"></td>
                    <td>{{basicIngredients}}</td>
                    <td>{{specialIngredients}}</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Consumed</td>
                    <td {{#if consumedFood.rations.warning}}class="consume-warning"{{/if}}>{{consumedFood.rations.value}}</td>
                    <td>{{consumedFood.subsistence}}</td>
                    <td>{{consumedFood.magicalSubsistence}}</td>
                    <td {{#if consumedFood.basicIngredients.warning}}class="consume-warning"{{/if}}>{{consumedFood.basicIngredients.value}}</td>
                    <td {{#if consumedFood.specialIngredients.warning}}class="consume-warning"{{/if}}>{{consumedFood.specialIngredients.value}}</td>
                    <td>
                        <button type="button" class="consume-food" title="Remove from Actor's inventories"
                                {{#if isUser}}disabled{{/if}}><i class="fa-solid fa-minus"></i></button>
                    </td>
                </tr>
            </table>
            {{#unless hasCookingActor}}
                <p class="cook-warning">No <b>Cook Meal</b> activity selected, can only consume rations!</p>{{/unless}}
            <div class="camping-cook" {{#unless hasCookingActor}}hidden{{/unless}}>
                <div>
                    <label>Recipe
                        <select name="chosenMeal">
                            {{selectOptions knownRecipes selected=chosenMeal}}
                        </select>
                    </label>
                    <button type="button" class="recipe-info" title="Recipe Info"><i class="fa-solid fa-question"></i>
                    </button>
                </div>
                <div>
                    <label>Skill
                        <select name="cookingSkill">
                            {{selectOptions cookingSkills selected=cookingSkill}}
                        </select>
                    </label>
                    <span><span class="label">DC</span> {{chosenMealDc}}</span>
                    <button type="button" class="cook-food"><i class="fa-solid fa-dice-d20"></i></button>
                </div>
                <div>
                    <label>Degree
                        <select name="mealDegreeOfSuccess">
                            {{selectOptions degreesOfSuccesses selected=mealDegreeOfSuccess blank="-"}}
                        </select>
                    </label>
                    <button type="button" title="Apply Meal Effects" class="eat-food" {{#if isUser}}disabled{{/if}}><i
                            class="fa-solid fa-utensils"></i></button>
                </div>
            </div>
        </div>
    </div>
</form>
