<form class="camping-sheet">
    <div class="camping-header">
        <span class="adventuring-since"><span class="label">Adventuring:</span> {{adventuringSince}}</span>
        <label for="region-input">Region</label>:
        <select name="currentRegion" id="region-input" {{#if isUser}}disabled{{/if}}>
            {{#select currentRegion}}
                {{#each regions}}
                    <option value="{{this}}">{{this}}</option>
                {{/each}}
            {{/select}}
        </select>
        <label {{#if isUser}}hidden{{/if}}>Zone DC Modifier
            <input type="number" name="">
        </label>
        <button {{#if isUser}}hidden{{/if}} type="button" class="reset-zone-dc-modifier" title="Reset Modifier"><i class="fa-solid fa-rotate-left"></i></button>
        <span {{#if isUser}}hidden{{/if}}><span class="label">Zone DC:</span> {{encounterDC}}</span>
    </div>
    <div class="camping-sidebar">
        <h2>Available</h2>
        <ul class="camping-actors">
            {{#each actors}}
                <li class="camping-actor" data-uuid="{{uuid}}">
                    <div class="actor-image-container">
                        <img src="{{image}}" class="actor-image" title="{{name}}" data-uuid="{{uuid}}">
                        <button type="button" class="remove-actor" data-uuid="{{uuid}}" data-type="camping-actors"><i
                                class="fa-solid fa-xmark"></i>
                        </button>
                    </div>
                </li>
            {{/each}}
            <li class="new-camping-actor">
                <img src="modules/pf2e-kingmaker-tools/static/img/add-actor.webp" title="Drop Actor Here"
                     class="no-actor-image">
            </li>
        </ul>
    </div>

    <div class="camping-content">
        <header class="camping-section-header">
            <h2>Prepare a Campsite</h2>
            <div {{#if isUser}}hidden{{/if}} class="camping-gm-buttons">
                <button type="button" class="advance-hours" data-hours="1">+1h <i class="fa-solid fa-clock"></i></button>
                <button type="button" class="advance-hours" data-hours="2">+2h <i class="fa-solid fa-clock"></i></button>
                <button type="button" class="roll-encounter" title="Roll Random Encounter DC {{encounterDC}}" data-phase="activities"><i class="fa-solid fa-skull"></i></button>
            </div>
        </header>

        <ul class="camping-actors">
            <li class="prepare-camp-actor">
                {{> modules/pf2e-kingmaker-tools/templates/camping/activity.partial.hbs actor=prepareCamp.actor activity=prepareCamp.name journalUuid=prepareCamp.journalUuid}}
            </li>
        </ul>

        <header class="camping-section-header">
            <h2>Camping Activities</h2>
            <div {{#if isUser}}hidden{{/if}} class="camping-gm-buttons">
                <button type="button" class="unlock-activities" data-hours="1">Unlock <i class="fa-solid fa-lock-open"></i></button>
                <button type="button" class="clear-activities" data-hours="1">Clear <i class="fa-solid fa-trash"></i></button>
                <button type="button" class="advance-hours" data-hours="1">+1h <i class="fa-solid fa-clock"></i></button>
                <button type="button" class="advance-hours" data-hours="2">+2h <i class="fa-solid fa-clock"></i></button>
                <button type="button" class="roll-encounter" title="Roll Random Encounter DC {{encounterDC}}" data-phase="activities"><i class="fa-solid fa-skull"></i></button>
            </div>
        </header>

        <ul class="camping-actors">
            {{#each campingActivities}}
                <li class="camping-activity" data-name="{{name}}">
                    {{> modules/pf2e-kingmaker-tools/templates/camping/activity.partial.hbs actor=actor activity=name journalUuid=journalUuid}}
                </li>
            {{/each}}
        </ul>

        <header class="camping-section-header">
            <h2>Eating</h2>
            <div {{#if isUser}}hidden{{/if}} class="camping-gm-buttons">
                <button type="button" class="add-recipes">Add Recipes <i class="fa-solid fa-plus"></i></button>
                <button type="button" class="manage-recipes">Manage Recipes <i class="fa-solid fa-book-open"></i></button>
            </div>
        </header>

        <ul class="camping-actors">
            {{#each actors}}
            <li class="eating-actors">
                {{> modules/pf2e-kingmaker-tools/templates/camping/eating.partial.hbs actor=this}}
            </li>
            {{/each}}
        </ul>

        <div>
            <table class="km-table">
                <tr>
                    <th>Consumables</th>
                    <th>Rations</th>
                    <th>Subsistence</th>
                    <th>Magical Subsistence</th>
                    <th>Basic Ingredients</th>
                    <th>Special Ingredients</th>
                    <th>Meals</th>
                </tr>
                <tr>
                    <td>Current</td>
                    <td>{{rations}}</td>
                    <td><input type="number" value="{{subsistenceAmount}}"></td>
                    <td><input type="number" value="{{magicalSubsistenceAmount}}"></td>
                    <td>{{basicIngredients}}</td>
                    <td>{{specialIngredients}}</td>
                    <td>{{servings}}</td>
                </tr>
                <tr>
                    <td>Consumed</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                </tr>
            </table>
            <div class="camping-cook">
                <label>Servings <input type="number" value="0"></label>
                <label>Recipe
                    <select>
                        <option>Jeweled Rice</option>
                    </select>
                </label>
                <span><span class="label">DC</span> 20</span>
                <!-- chooses cooking lore if higher, otherwise survival -->
                <button type="button" class="cook-recipe">Cook <i class="fa-solid fa-dice-d20"></i></button>
                <button type="button" class="cook-recipe">Consume Ingredients <i class="fa-solid fa-minus"></i></button>
            </div>
        </div>

        <header class="camping-section-header">
            <h2>Resting</h2>
            <div {{#if isUser}}hidden{{/if}} class="camping-gm-buttons">

                <!--
                    click on button checks for x encounters and otherwise advances to the end of the rest plus runs daily preps at the end
                    if an encounter happens, it calculates the time it happens, and stops at that point in time, determines the character on watch and gives you a button to roll a perception check
                    if the encounter is over and the GM clicks continue rest, it advances after daily preps
                    and executes rest for the night (with additional healing depending on the meal or activity)
                -->
                <!-- button swaps to continue rest when interrupted -->
                <button type="button" class="rest">Begin Rest <i class="fa-solid fa-bed"></i></button>
                <button type="button" class="roll-encounter" title="Roll Random Encounter DC {{encounterDC}}" data-phase="watch"><i class="fa-solid fa-skull"></i></button>
                <!-- settings include: 1 check per rest or 1 every 4 hours, guns to clean -->
                <button type="button" class="watch-settings"><i class="fa-solid fa-gear"></i></button>
            </div>
        </header>
        <div class="resting-progress">
            <label>Time Rested: <progress value="{{watchSecondsElapsed}}" max="{{watchSecondsDuration}}"></progress></label>
            <div>{{watchElapsed}} of {{watchDuration}}</div>
            insert perception check and random watch PC here
        </div>
    </div>
</form>
