<aside class="km-kingdom-sheet-sidebar km-kingdom-sheet-sidebar-turn" {{#if (ne currentNavEntry 'turn')}}hidden{{/if}}>
    <div {{#if (ne currentNavEntry 'turn')}}hidden{{/if}}>
        <h3>{{localizeKM "kingdom.status"}}</h3>
        {{> formElement settlementInput }}
        <div class="km-sidebar-spacer"></div>
        {{> formElement activeLeader}}
        <div class="km-sidebar-spacer"></div>
        {{> formElement atWarInput }}
        <h3>{{localizeKM "kingdom.vacancies"}}</h3>
        {{#each leadersContext}}
            {{> formElement vacant }}
        {{/each}}
        {{#useLeadershipModifiers}}
            <div class="km-leadership-modifier-info">
                <button type="button" data-action="inspect-leader-skills">{{localizeKM "kingdom.characterSkills"}}</button>
                <button type="button" data-action="inspect-kingdom-skills">{{localizeKM "kingdom.kingdomSkills"}}</button>
            </div>
        {{/useLeadershipModifiers}}
        <h3>{{localizeKM "kingdom.unrest"}}</h3>
        <table class="km-unrest">
            <tr>
                <td>{{> formElement unrestInput }}</td>
                <td>/</td>
                <td title="{{localizeKM "kingdom.threshold"}}">{{anarchyAt}}</td>
                <td>=</td>
                <td title="{{localizeKM "kingdom.penalty"}}">{{ unrestPenalty}}</td>
            </tr>
        </table>
        <h3>{{localizeKM "kingdom.ruin"}}</h3>
        <table class="km-unrest-ruin">
            {{#each ruinContext}}
                <tr>
                    <td>{{> formElement value }}</td>
                    <td>/</td>
                    <td title="{{localizeKM "kingdom.threshold"}}">{{> formElement threshold }}{{#if ../automateStats}}
                        <div class="km-threshold-value">{{thresholdValue}}</div>{{/if}}</td>
                    <td>=</td>
                    <td title="{{localizeKM "kingdom.penalty"}}">{{> formElement penalty }}</td>
                </tr>
            {{/each}}
        </table>
        <h3>{{localizeKM "applications.skills"}} ({{localizeKM "kingdom.controlDc"}}: {{controlDc}})</h3>
        {{#if (eq currentNavEntry 'turn')}}
        <table class="km-skill-checks">
        {{#each skillChecks}}
            <tr>
                <td class="km-skills-label" title="{{label}}">{{label}}</td>
                <td>{{> formElement input }}{{#if ../automateStats}}<span class="km-proficiency km-proficiency-value {{valueClass}}">{{proficiency}}</span>{{/if}}</td>
                <td><button type="button" data-action="roll-skill-check" data-skill="{{skill}}">{{modifier}} <i class="fa-solid fa-dice-d20"></i></button></td>
            </tr>
        {{/each}}
        </table>
        {{/if}}
        <h3>{{localizeKM "kingdom.resources"}}</h3>
        <table class="km-unrest-ruin">
            <tr>
                <td>{{> formElement resourceDiceContext.now }}</td>
                <td>{{> formElement resourceDiceContext.next }}</td>
            </tr>
            <tr>
                <td>{{> formElement resourcePointsContext.now }}</td>
                <td>{{> formElement resourcePointsContext.next }}</td>
            </tr>
        </table>
        <h3>{{localizeKM "kingdom.commodities"}}</h3>
        <table class="km-unrest-ruin">
            <tr>
                <td>{{> formElement commoditiesContext.now.food }}</td>
                <td>/</td>
                <td class="km-capacity">{{ commoditiesContext.capacity.food }}</td>
                <td>{{> formElement commoditiesContext.next.food }}</td>
            </tr>
            <tr>
                <td>{{> formElement commoditiesContext.now.lumber }}</td>
                <td>/</td>
                <td class="km-capacity">{{ commoditiesContext.capacity.lumber }}</td>
                <td>{{> formElement commoditiesContext.next.lumber }}</td>
            </tr>
            <tr>
                <td>{{> formElement commoditiesContext.now.stone }}</td>
                <td>/</td>
                <td class="km-capacity">{{ commoditiesContext.capacity.stone }}</td>
                <td>{{> formElement commoditiesContext.next.stone }}</td>
            </tr>
            <tr>
                <td>{{> formElement commoditiesContext.now.ore }}</td>
                <td>/</td>
                <td class="km-capacity">{{ commoditiesContext.capacity.ore }}</td>
                <td>{{> formElement commoditiesContext.next.ore }}</td>
            </tr>
            <tr>
                <td>{{> formElement commoditiesContext.now.luxuries }}</td>
                <td>/</td>
                <td class="km-capacity">{{ commoditiesContext.capacity.luxuries }}</td>
                <td>{{> formElement commoditiesContext.next.luxuries }}</td>
            </tr>
        </table>
        <h3>{{localizeKM "kingdom.solutions"}}</h3>
        {{> formElement supernaturalSolutionsInput }}
        {{> formElement creativeSolutionsInput }}
    </div>
</aside>
<div class="km-kingdom-sheet-content" {{#if (ne currentNavEntry 'turn')}}hidden{{/if}}>
    <nav class="km-kingdom-sheet-sub-nav">
        <ul class="km-grow-subnav">
            {{#each turnSectionNav}}
                <li><a title="{{title}}"{{#if active}}class="active"{{/if}} href="#" data-id="{{../actorUuid}}-km-turn-{{link}}"
                       data-action="{{action}}">{{label}}</a></li>
            {{/each}}
        </ul>
    </nav>
    <div class="km-kingdom-sheet-sub-content km-kingdom-sheet-turn">
        <section class="km-kingdom-sheet-section">
            <h2 id="{{actorUuid}}-km-turn-upkeep">{{localizeKM "kingdom.upkeep"}}</h2>
            <div class="km-upkeep-button">{{localizeKM "kingdom.gain1Fame"}}
                <button type="button" data-action="gain-fame">{{localizeKM "kingdom.perform"}}</button>
            </div>
            {{> kingdom-activities activities=activities.upkeep}}
            <div class="km-upkeep-button">{{localizeKM "kingdom.adjustUnrest"}}
                <button type="button" data-action="adjust-unrest">{{localizeKM "kingdom.perform"}}</button>
            </div>
            <div class="km-upkeep-button">{{localizeKM "kingdom.collectResources" diceFormula=resourceDiceIncome}}
                <button type="button" data-action="collect-resources">{{localizeKM "kingdom.perform"}}</button>
            </div>
            <div class="km-upkeep-button">{{localizeKM "kingdom.payConsumption"}} ({{consumption}})
                <button type="button" data-action="pay-consumption">{{localizeKM "kingdom.perform"}}</button>
            </div>
        </section>
        <section class="km-kingdom-sheet-section">
            <h2 id="{{actorUuid}}-km-turn-commerce" {{#unless activities.commerce}}hidden{{/unless}}>{{localizeKM "kingdom.commerce"}}</h2>
            {{> kingdom-activities activities=activities.commerce collectTaxesReduceUnrestDisabled=collectTaxesReduceUnrestDisabled}}
        </section>
        <section class="km-kingdom-sheet-section">
            <h2 id="{{actorUuid}}-km-turn-leadership" {{#unless activities.leadership}}hidden{{/unless}}>{{localizeKM "kingdom.leadership" count=leadershipActivities}}</h2>
            {{> kingdom-activities activities=activities.leadership}}
        </section>
        <section class="km-kingdom-sheet-section">
            <h2 id="{{actorUuid}}-km-turn-region" {{#unless activities.region}}hidden{{/unless}}>{{localizeKM "kingdom.region"}}</h2>

            {{#if heartlandLabel}}
                <p>{{localizeKM "kingdom.favoredLand" heartland=heartlandLabel}}</p>
            {{/if}}

            <p>{{localizeKM "kingdom.terrainFeature"}}</p>
            <p>{{localizeKM "kingdom.clickToClaim"}}:</p>

            <div class="km-turn-buttons">
                <button type="button" data-action="claimed-refuge">{{localizeKM "kingdom.claimedRefuge"}}</button>
                <button type="button" data-action="claimed-landmark">{{localizeKM "kingdom.claimedLandmark"}}</button>
            </div>
            {{> kingdom-activities activities=activities.region}}
        </section>
        <section class="km-kingdom-sheet-section">
            <h2 id="{{actorUuid}}-km-turn-civic" {{#unless activities.civic}}hidden{{/unless}}>{{localizeKM "kingdom.civic"}}</h2>
            {{#if civicPlanning}}
                <p>{{localizeKM "kingdom.civicPlanning"}}</p>
            {{/if}}
            <p>{{localizeKM "kingdom.civicHelp"}}</p>
            {{> kingdom-activities activities=activities.civic}}
        </section>
        <section class="km-kingdom-sheet-section">
            <h2 id="{{actorUuid}}-km-turn-army" {{#unless activities.army}}hidden{{/unless}}>{{localizeKM "kingdom.army"}}</h2>
            <p>{{localizeKM "kingdom.armyHelp"}}</p>
            {{> kingdom-activities activities=activities.army}}
        </section>
        <section class="km-kingdom-sheet-section">
            <h2 id="{{actorUuid}}-km-turn-event">{{localizeKM "kingdom.event"}}</h2>
            <div {{#unless cultOfTheBloomEvents}}hidden{{/unless}}>
                <h3>{{localizeKM "kingdom.cultEvents"}}</h3>
                <p>{{localizeKM "kingdom.cultHelp"}}</p>
                <p class="km-turn-buttons">
                    <button type="button" data-action="check-cult-event">{{localizeKM "kingdom.checkCultEvent" dc=cultEventDC}}</button>
                    <button type="button" data-action="roll-cult-event">{{localizeKM "kingdom.rollCultEvent"}}</button>
                </p>
            </div>
        </section>
        <section class="km-kingdom-sheet-section">
            <h3>{{localizeKM "kingdom.kingdomEvents"}}</h3>
            <p class="km-turn-buttons">
                <button {{#unless isGM}}hidden{{/unless}} type="button" data-action="check-event">{{localizeKM "kingdom.checkKingdomEvent" dc=eventDC}}</button>
                <button {{#unless isGM}}hidden{{/unless}} type="button" data-action="roll-event">{{localizeKM "kingdom.rollKingdomEvent"}}</button>
            </p>
        </section>
        <section class="km-kingdom-sheet-section">
            <h3>{{localizeKM "kingdom.activeEvents"}} <span class="km-header-right-align" {{#unless isGM}}hidden{{/unless}}><button type="button" data-action="add-event">{{localizeKM "kingdom.addEvent"}}</button></span></h3>
            {{> kingdom-events ongoingEvents=ongoingEvents isGM=isGM}}
        </section>
        <section class="km-kingdom-sheet-section">
            <h2 id="{{actorUuid}}-km-turn-xp">{{localizeKM "applications.xp"}}</h2>
            <p>{{localizeKM "kingdom.resolvedEventXp"}}:</p>
            <p class="km-turn-buttons">
                <button type="button" data-action="gain-xp" data-xp="10">-4</button>
                <button type="button" data-action="gain-xp" data-xp="15">-3</button>
                <button type="button" data-action="gain-xp" data-xp="20">-2</button>
                <button type="button" data-action="gain-xp" data-xp="30">-1</button>
                <button type="button" data-action="gain-xp" data-xp="40">0</button>
                <button type="button" data-action="gain-xp" data-xp="60">+1</button>
                <button type="button" data-action="gain-xp" data-xp="80">+2</button>
                <button type="button" data-action="gain-xp" data-xp="120">+3</button>
                <button type="button" data-action="gain-xp" data-xp="160">+4</button>
            </p>
            <hr>
            <p>{{localizeKM "kingdom.claimedHexXp"}}:</p>
            <p class="km-turn-buttons">
                <button type="button" data-action="hex-xp" data-hexes="1">{{localizeKM "kingdom.hex" count=1}}</button>
                <button type="button" data-action="hex-xp" data-hexes="2">{{localizeKM "kingdom.hex" count=2}}</button>
                <button type="button" data-action="hex-xp" data-hexes="3">{{localizeKM "kingdom.hex" count=3}}</button>
            </p>
            <hr>
            {{#if vkXp}}
                <p>{{localizeKM "kingdom.constructedTerrainOrStructure"}}:</p>
                <p class="km-turn-buttons">
                    <button type="button" data-action="gain-xp" data-xp="10">{{localizeKM "kingdom.farmOrWorksite"}}</button>
                    <button type="button" data-action="gain-xp" data-xp="5">{{localizeKM "kingdom.bridgeOrRoad"}}</button>
                    <button type="button" data-action="structure-xp">{{localizeKM "kingdom.structure"}}</button>
                </p>
                <hr>
            {{/if}}
            <p>{{localizeKM "kingdom.unusedResources"}}:</p>
            <p class="km-turn-buttons">
                <button type="button" data-action="solution-xp">{{localizeKM "kingdom.creativeOrSupernaturalSolution"}}</button>
                <button type="button" data-action="rp-xp">{{localizeKM "kingdom.resourcePoints"}}</button>
            </p>
            <hr>
            <table>
                <tr>
                    <thead>
                    <th>{{localizeKM "applications.xp"}}</th>
                    <th>{{localizeKM "kingdom.milestone"}}</th>
                    </thead>
                </tr>
                {{#each milestones}}
                    <tr {{#if hidden}}hidden{{/if}}>
                        <td>{{xp}}</td>
                        <td>{{> formElement completed }}{{> formElement id }}{{> formElement enabled }}</td>
                    </tr>
                {{/each}}
            </table>
        </section>
        <section class="km-kingdom-sheet-section">
            <h2 id="{{actorUuid}}-km-turn-end">{{localizeKM "kingdom.endTurn"}}</h2>
            <p class="km-turn-buttons">
                <button type="button" {{#unless canLevelUp}}disabled{{/unless}} data-action="level-up">{{localizeKM "kingdom.levelUp"}}</button>
                <button type="button" data-action="end-turn">{{localizeKM "kingdom.endTurn"}}</button>
            </p>
        </section>
    </div>
</div>