<aside class="km-kingdom-sheet-sidebar km-kingdom-sheet-sidebar-turn" {{#if (ne currentNavEntry 'turn')}}hidden{{/if}}>
    <div {{#if (ne currentNavEntry 'turn')}}hidden{{/if}}>
        <h3>Status</h3>
        {{> formElement settlementInput }}
        <div class="km-sidebar-spacer"></div>
        {{> formElement atWarInput }}
        <h3>Vacancies</h3>
        {{#each leadersContext}}
            {{> formElement vacant }}
        {{/each}}
        <h3>Unrest & Ruin</h3>
        <table class="km-unrest-ruin">
            <tr>
                <td>{{> formElement unrestInput }}</td>
                <td>/</td>
                <td title="Threshold">{{anarchyAt}}</td>
                <td>=</td>
                <td title="Penalty">{{ unrestPenalty}}</td>
            </tr>
            {{#each ruinContext}}
                <tr>
                    <td>{{> formElement value }}</td>
                    <td>/</td>
                    <td title="Threshold">{{> formElement threshold }}{{#if ../automateStats}}
                        <div class="km-threshold-value">{{thresholdValue}}</div>{{/if}}</td>
                    <td>=</td>
                    <td title="Penalty">{{> formElement penalty }}</td>
                </tr>
            {{/each}}
        </table>
        <h3>Skills (Control DC: {{controlDc}})</h3>
        {{#if (eq currentNavEntry 'turn')}}
        <table class="km-skill-checks">
        {{#each skillChecks}}
            <tr>
                <td>{{label}}</td>
                <td>{{> formElement input }}{{#if ../automateStats}}<span class="km-proficiency km-proficiency-value {{valueClass}}">{{proficiency}}</span>{{/if}}</td>
                <td><button type="button" data-action="roll-skill-check" data-skill="{{skill}}">{{modifier}} <i class="fa-solid fa-dice-d20"></i></button></td>
            </tr>
        {{/each}}
        </table>
        {{/if}}
        <h3>Resources</h3>
        <table class="km-unrest-ruin">
            <tr>
                <td>{{> formElement resourceDiceContext.now }}</td>
                <td>{{> formElement resourceDiceContext.next }}</td>
            </tr>
            <tr>
                <td>{{> formElement resourcePointsContext.now }}</td>
                <td>{{> formElement resourcePointsContext.next }}</td>
            </tr>
        </table>
        <h3>Commodities</h3>
        <table class="km-unrest-ruin">
            <tr>
                <td>{{> formElement commoditiesContext.now.food }}</td>
                <td>/</td>
                <td class="km-capacity">{{ commoditiesContext.capacity.food }}</td>
                <td>{{> formElement commoditiesContext.next.food }}</td>
            </tr>
            <tr>
                <td>{{> formElement commoditiesContext.now.lumber }}</td>
                <td>/</td>
                <td class="km-capacity">{{ commoditiesContext.capacity.lumber }}</td>
                <td>{{> formElement commoditiesContext.next.lumber }}</td>
            </tr>
            <tr>
                <td>{{> formElement commoditiesContext.now.stone }}</td>
                <td>/</td>
                <td class="km-capacity">{{ commoditiesContext.capacity.stone }}</td>
                <td>{{> formElement commoditiesContext.next.stone }}</td>
            </tr>
            <tr>
                <td>{{> formElement commoditiesContext.now.ore }}</td>
                <td>/</td>
                <td class="km-capacity">{{ commoditiesContext.capacity.ore }}</td>
                <td>{{> formElement commoditiesContext.next.ore }}</td>
            </tr>
            <tr>
                <td>{{> formElement commoditiesContext.now.luxuries }}</td>
                <td>/</td>
                <td class="km-capacity">{{ commoditiesContext.capacity.luxuries }}</td>
                <td>{{> formElement commoditiesContext.next.luxuries }}</td>
            </tr>
        </table>
        <h3>Solutions</h3>
        {{> formElement supernaturalSolutionsInput }}
        {{> formElement creativeSolutionsInput }}
    </div>
</aside>
<div class="km-kingdom-sheet-content" {{#if (ne currentNavEntry 'turn')}}hidden{{/if}}>
    <nav class="km-kingdom-sheet-sub-nav">
        <ul class="km-grow-subnav">
            {{#each turnSectionNav}}
                <li><a title="{{title}}"{{#if active}}class="active"{{/if}} href="#" data-id="km-turn-{{link}}"
                       data-action="{{action}}">{{label}}</a></li>
            {{/each}}
        </ul>
    </nav>
    <div class="km-kingdom-sheet-sub-content km-kingdom-sheet-turn">
        <section class="km-kingdom-sheet-section">
            <h2 id="km-turn-upkeep">Upkeep</h2>
            <div class="km-upkeep-button">Gain 1 Fame
                <button type="button" data-action="gain-fame">Perform</button>
            </div>
            {{> kingdom-activities activities=activities.upkeep}}
            <div class="km-upkeep-button">Adjust Unrest
                <button type="button" data-action="adjust-unrest">Perform</button>
            </div>
            <div class="km-upkeep-button">Collect Resources ({{ resourceDiceIncome }} Resource Dice)
                <button type="button" data-action="collect-resources">Perform</button>
            </div>
            <div class="km-upkeep-button">Pay Consumption ({{consumption}})
                <button type="button" data-action="pay-consumption">Perform</button>
            </div>
        </section>
        <section class="km-kingdom-sheet-section">
            <h2 id="km-turn-commerce" {{#unless activities.commerce}}hidden{{/unless}}>Commerce</h2>
            {{> kingdom-activities activities=activities.commerce collectTaxesReduceUnrestDisabled=collectTaxesReduceUnrestDisabled}}
        </section>
        <section class="km-kingdom-sheet-section">
            <h2 id="km-turn-leadership" {{#unless activities.leadership}}hidden{{/unless}}>Leadership
                ({{leadershipActivities}}
                per player)</h2>
            {{> kingdom-activities activities=activities.leadership}}
        </section>
        <section class="km-kingdom-sheet-section">
            <h2 id="km-turn-region" {{#unless activities.region}}hidden{{/unless}}>Region</h2>

            {{#if heartlandLabel}}
                <p>You can attempt 2 Region activities simultaneously as long as both activities take place in the same
                    hex and the hex is either a {{heartlandLabel}}. You take a –2 penalty to Kingdom skill checks made
                    during these two activities.</p>
            {{/if}}

            <p>A hex can have at most one of these: Farmland, Freehold, Ruins, Settlement, Structure, or Work Site. A
                Settlement can be built in a hex that contains Ruins or a Structure. A Free Hold can be brought into
                your kingdom in which case it becomes a Settlement instead.</p>
            <p>Click these buttons after successfully claiming a hex containing a refuge or landmark:</p>

            <div class="km-turn-buttons">
                <button type="button" data-action="claimed-refuge">Claimed Refuge</button>
                <button type="button" data-action="claimed-landmark">Claimed Landmark</button>
            </div>
            {{> kingdom-activities activities=activities.region}}
        </section>
        <section class="km-kingdom-sheet-section">
            <h2 id="km-turn-civic" {{#unless activities.civic}}hidden{{/unless}}>Civic</h2>
            {{#if civicPlanning}}
                <p>During the Civic Activities step of the Activities phase of a Kingdom turn, one settlement of the
                    party’s choice can attempt two Civic activities rather than one. The second Civic activity occurs
                    after all other settlements have taken their individual Civic activities.</p>
            {{/if}}
            <p>First, import all structures from the <b>Structures</b> compendium in the <b>Kingmaker Tools</b> folder,
                then add the relevant scene in the <b>Settlements</b> tab. Then hit <b>Build Structure</b> and choose a
                building. After rolling the check, and drag the building link from chat onto the settlement scene.</p>
            {{> kingdom-activities activities=activities.civic}}
        </section>
        <section class="km-kingdom-sheet-section">
            <h2 id="km-turn-army" {{#unless activities.army}}hidden{{/unless}}>Army</h2>
            <p>Select an army on the scene before performing the activity to
                correctly apply conditions and DCs. For <b>Offensive Gambit</b>, select all enemy units)</p>
            {{> kingdom-activities activities=activities.army}}
        </section>
        <section class="km-kingdom-sheet-section">
            <h2 id="km-turn-event">Event</h2>
            <div {{#unless cultOfTheBloomEvents}}hidden{{/unless}}>
                <h3>Cult of the Bloom Events</h3>
                <p>These events happen after completing a day of downtime researching the Cult of the Bloom in Chapter
                    5.
                    The first
                    time one of these Cult events occurs, the PCs earn 80 Kingdom XP regardless of how successful the
                    kingdom was in
                    dealing with the event; they do not earn additional Kingdom XP for repeated events. This sheet
                    tracks
                    them as
                    milestones.</p>
                <p class="km-turn-buttons">
                    <button type="button" data-action="check-cult-event">Check for Cult Event (DC {{cultEventDC}})
                    </button>
                    <button type="button" data-action="roll-cult-event">Roll Cult Event</button>
                </p>
            </div>
        </section>
        <section class="km-kingdom-sheet-section">
            <h3>Kingdom Events</h3>
            <p class="km-turn-buttons">
                <button {{#unless isGM}}hidden{{/unless}} type="button" data-action="check-event">Check for Kingdom
                    Event
                    (DC {{eventDC}})
                </button>
                <button {{#unless isGM}}hidden{{/unless}} type="button" data-action="roll-event">Roll Kingdom Event
                </button>
            </p>
        </section>
        <section class="km-kingdom-sheet-section">
            <h2>Ongoing Events</h2>
            <table {{#unless ongoingEvents}}hidden{{/unless}}>
                <tr>
                    <th>Ongoing Events</th>
                    <th>Resolve</th>
                </tr>
                {{#each ongoingEvents}}
                    <tr>
                        <td>{{{this}}}</td>
                        <td>
                            <button type="button" data-action="remove-ongoing-event" data-index="{{@index}}"><i
                                    class="fa fa-trash"></i></button>
                        </td>
                    </tr>
                {{/each}}
            </table>
            <p {{#unless isGM}}hidden{{/unless}} >You can add an ongoing event by right-clicking on the
                rolled event in chat and choosing <b>Add to Ongoing Events</b> or add it manually:</p>
            <p {{#unless isGM}}hidden{{/unless}} class="km-turn-buttons">
                {{> formElement ongoingEvent }}
                <button type="button" data-action="add-ongoing-event" {{#if ongoingEventButtonDisabled}}disabled{{/if}}>
                    Add Event
                </button>
            </p>
        </section>
        <section class="km-kingdom-sheet-section">
            <h2 id="km-turn-xp">XP</h2>
            <p>Resolved Event with Modidifer:</p>
            <p class="km-turn-buttons">
                <button type="button" data-action="gain-xp" data-xp="10">-4</button>
                <button type="button" data-action="gain-xp" data-xp="15">-3</button>
                <button type="button" data-action="gain-xp" data-xp="20">-2</button>
                <button type="button" data-action="gain-xp" data-xp="30">-1</button>
                <button type="button" data-action="gain-xp" data-xp="40">0</button>
                <button type="button" data-action="gain-xp" data-xp="60">+1</button>
                <button type="button" data-action="gain-xp" data-xp="80">+2</button>
                <button type="button" data-action="gain-xp" data-xp="120">+3</button>
                <button type="button" data-action="gain-xp" data-xp="160">+4</button>
            </p>
            <hr>
            <p>Claimed Hexes:</p>
            <p class="km-turn-buttons">
                <button type="button" data-action="hex-xp" data-hexes="1">1 Hex</button>
                <button type="button" data-action="hex-xp" data-hexes="2">2 Hexes</button>
                <button type="button" data-action="hex-xp" data-hexes="3">3 Hexes</button>
            </p>
            <hr>
            {{#if vkXp}}
                <p>Constructed a Terrain Feature or Structure:</p>
                <p class="km-turn-buttons">
                    <button type="button" data-action="gain-xp" data-xp="10">Farm or Worksite</button>
                    <button type="button" data-action="gain-xp" data-xp="5">Bridge or Road</button>
                    <button type="button" data-action="structure-xp">Structure</button>
                </p>
                <hr>
            {{/if}}
            <p>Unused resources:</p>
            <p class="km-turn-buttons">
                <button type="button" data-action="solution-xp">Supernatural/Creative Solutions</button>
                <button type="button" data-action="rp-xp">Resource Points</button>
            </p>
            <hr>
            <table>
                <tr>
                    <thead>
                    <th>XP</th>
                    <th>Milestone</th>
                    </thead>
                </tr>
                {{#each milestones}}
                    <tr {{#if hidden}}hidden{{/if}}>
                        <td>{{xp}}</td>
                        <td>{{> formElement completed }}{{> formElement id }}{{> formElement enabled }}</td>
                    </tr>
                {{/each}}
            </table>
        </section>
        <section class="km-kingdom-sheet-section">
            <h2 id="km-turn-end">End Turn</h2>
            <p class="km-turn-buttons">
                <button type="button" {{#unless canLevelUp}}disabled{{/unless}} data-action="level-up">Level Up</button>
                <button type="button" data-action="end-turn">End Turn</button>
            </p>
        </section>
    </div>
</div>