<table>
    <thead>
    <th>{{localizeKM "kingdom.tactic"}}</th>
    <th>{{localizeKM "applications.level"}}</th>
    <th>{{localizeKM "applications.dc"}}</th>
    <th>{{localizeKM "kingdom.learn"}}</th>
    </thead>
    <tbody>
    {{#each tactics}}
        <tr>
            <td>{{{link}}}</td>
            <td>{{level}}</td>
            <td>{{dc}}</td>
            <td>
                <button type="button" data-action="train-tactic" data-uuid="{{uuid}}"
                        {{#unless enabled}}disabled{{/unless}}>{{localizeKM "kingdom.learn"}}
                </button>
            </td>
        </tr>
    {{/each}}
    </tbody>
</table>
