<table>
    <thead>
    <th>{{localizeKM "kingdom.army"}}</th>
    <th>{{localizeKM "kingdom.armyType"}}</th>
    <th>{{localizeKM "applications.dc"}}</th>
    <th>{{localizeKM "kingdom.special"}}</th>
    <th>{{localizeKM "kingdom.recruit"}}</th>
    </thead>
    <tbody>
    {{#each armies}}
        <tr>
            <td>{{{link}}}</td>
            <td>{{type}}</td>
            <td>{{dc}}</td>
            <td>{{#if special}}<i class="fa-solid fa-circle-check"></i>{{/if}}</td>
            <td>
                <button type="button" data-action="recruit-army" data-uuid="{{uuid}}">{{localizeKM "kingdom.recruit"}}</button>
            </td>
        </tr>
    {{/each}}
    </tbody>
</table>
