<div class="km-check-dialog">
    <div class="km-check-header">
        <div>{{> formElement leaderInput }}</div>
        <div>{{> formElement skillInput }}</div>
        <div {{#if hidePhase}}hidden{{/if}}>{{> formElement phaseInput }}</div>
        <div>{{> formElement dcInput }}</div>
    </div>
    <hr>
    <table {{#if useAssurance}}hidden{{/if}}>
        <tbody>
        {{#each modifiers}}
            <tr class="km-check-modifier-entry" {{#if hidden}}hidden{{/if}}>
                <td>{{label}}{{#if fortune}}<i class="fa-solid fa-clover"></i>{{/if}}</td>
                <td>{{type}}: {{modifier}}</td>
                <td>{{> formElement enabledInput }}</td>
                <td>
                    <button type="button"
                            class="km-no-button-margin"
                            data-id="{{id}}"
                            data-action="delete-modifier"
                            {{#unless removable}}disabled{{/unless}}
                            title="Delete Modifier"
                    ><i class="fa-solid fa-trash"></i></button>
                </td>
                {{> formElement idInput }}
            </tr>
        {{/each}}
        <tr class="km-check-modifier-entry">
            <td>{{> formElement newModifierNameInput }}</td>
            <td>{{> formElement newModifierTypeInput }}</td>
            <td>{{> formElement newModifierModifierInput }}</td>
            <td>
                <button type="button"
                        {{#unless isFormValid}}disabled{{/unless}}
                        class="km-no-button-margin"
                        data-action="add-modifier"
                        title="Add Modifier"
                ><i class="fa-solid fa-plus"></i></button>
            </td>
        </tr>
        </tbody>
    </table>
    <hr {{#if useAssurance}}hidden{{/if}}>
    <div class="km-check-roll">
        <div {{#unless hasAssurance}}hidden{{/unless}}>{{> formElement assuranceInput }}</div>
        <div {{#if useAssurance}}hidden{{/if}} {{#if supernaturalSolutionDisabled}}hidden{{/if}}>{{> formElement supernaturalSolutionInput }}</div>
        <div class="km-check-roll-mode">{{> formElement rollModeInput }}</div>
        <button
                {{#if useAssurance}}hidden{{/if}}
                data-notes="{{notes}}"
                data-action="roll"
                data-modifier="{{checkModifier}}"
                data-pills="{{pills}}"
                data-creative-solution-pills="{{creativeSolutionPills}}"
                data-upgrades="{{upgrades}}"
                data-downgrades="{{downgrades}}"
                data-fortune="{{fortune}}"
                data-roll-twice-keep-highest="{{rollTwiceKeepHighest}}"
                data-roll-twice-keep-lowest="{{rollTwiceKeepLowest}}"
                data-creative-solution-modifier="{{creativeSolutionModifier}}"
                data-consume-modifiers="{{consumeModifiers}}"
                {{#if fortune}}title="Roll With Fortune"{{/if}}
        >Roll ({{checkModifierLabel}})<span> </span><i
                class="fa-solid fa-dice-d20"></i>{{#if fortune}}<i class="fa-solid fa-clover"></i>{{/if}}
        </button>
        <button
                {{#unless useAssurance}}hidden{{/unless}}
                data-action="assurance"
                data-modifier="{{checkModifier}}"
        >Assurance ({{assuranceModifier}}: {{assuranceDegree}})</button>
    </div>
</div>