<div>
    <h1>Total Consumption</h1>
    <p><b>Resource Surplus</b>: {{resourcesSurplus}}</p>
    <p><b>Settlement Surplus</b>: {{settlementSurplus}}</p>
    <table>
        <tr>
            <th>Now</th>
            <th></th>
            <th>Armies</th>
            <th></th>
            <th>Settlements</th>
            <th></th>
            <th>Farmlands</th>
            <th></th>
            <th>Food</th>
            <th></th>
            <th>Total</th>
        </tr>
        <tr>
            <td>{{now}}</td>
            <td>+</td>
            <td>{{armies}}</td>
            <td>+</td>
            <td>{{settlements}}</td>
            <td>-</td>
            <td>{{farmlands}}</td>
            <td>-</td>
            <td>{{food}}</td>
            <td>=</td>
            <td>{{total}}</td>
        </tr>
    </table>
</div>