<div>
    <header class="km-kingdom-sheet-header">
        <div class="km-kingdom-sheet-name">{{> formElement kingdomNameInput }}</div>
        <div class="km-kingdom-sheet-active-settlement">{{> formElement settlementInput }}</div>
        <div class="km-kingdom-sheet-active-xp">{{> formElement xpInput }}</div>
        <div class="km-kingdom-sheet-active-xp-threshold">{{> formElement xpThresholdInput }}</div>
        <div class="km-kingdom-sheet-active-level">{{> formElement levelInput }}</div>
        <div class="km-kingdom-sheet-active-fame">{{> formElement fameContext.now }}</div>
        <div class="km-kingdom-sheet-active-fame-next">{{> formElement fameContext.next }}</div>
    </header>

    <nav class="km-kingdom-sheet-main-nav">
        <ul>
            <li><a data-action="change-nav" href="#" data-link="turn">Turn</a></li>
            <li><a data-action="change-nav" href="#" data-link="characterSheet">Character Sheet</a></li>
            <li><a data-action="change-nav" href="#" data-link="settlements">Settlements</a></li>
            <li><a data-action="change-nav" href="#" data-link="tradeAgreements">Trade Agreements (1)</a></li>
            <li><a data-action="change-nav" href="#" data-link="effects">Effects</a></li>
            <li><a data-action="change-nav" href="#" data-link="notes">Notes</a></li>
        </ul>
    </nav>

    <main class="km-kingdom-sheet-main">
        {{> kingdom-character-sheet this}}

        <div hidden>
            {{> formElement worksitesContext.farmlands.resources }}
            {{> formElement worksitesContext.farmlands.quantity }}
            {{ worksitesContext.farmlands.quantityValue }}
            {{ worksitesContext.farmlands.resourcesValue }}
            {{> formElement  worksitesContext.lumberCamps.resources }}
            {{> formElement  worksitesContext.lumberCamps.quantity }}
            {{ worksitesContext.lumberCamps.quantityValue }}
            {{ worksitesContext.lumberCamps.resourcesValue }}
            {{> formElement  worksitesContext.mines.resources }}
            {{> formElement  worksitesContext.mines.quantity }}
            {{ worksitesContext.mines.quantityValue }}
            {{ worksitesContext.mines.resourcesValue }}
            {{> formElement  worksitesContext.quarries.resources }}
            {{> formElement  worksitesContext.quarries.quantity }}
            {{ worksitesContext.quarries.quantityValue }}
            {{ worksitesContext.quarries.resourcesValue }}
            {{> formElement  worksitesContext.luxurySources.resources }}
            {{> formElement  worksitesContext.luxurySources.quantity }}
            {{ worksitesContext.luxurySources.quantityValue }}
            {{ worksitesContext.luxurySources.resourcesValue }}

            {{> formElement sizeInput }}
            {{> formElement consumptionContext.now }}
            {{> formElement consumptionContext.next }}
            {{> formElement consumptionContext.armies }}

            {{editor notesContext.public target="notes.public" button=true editable=true engine="prosemirror"}}
            {{editor notesContext.gm target="notes.gm" button=true editable=true engine="prosemirror"}}

            scores
            {{> formElement abilityScores.economy }}
            {{> formElement abilityScores.stability }}
            {{> formElement abilityScores.loyalty }}
            {{> formElement abilityScores.culture }}

            milestones
            {{> formElement ongoingEvent }}

            {{#each milestones}}
                {{> formElement id }}
                {{> formElement enabled }}
                {{> formElement completed }}
                {{xp}} {{homebrew}}  {{hidden}}
            {{/each}}

            ranks

            {{> formElement skillRanks.agriculture }}
            {{> formElement skillRanks.arts }}
            {{> formElement skillRanks.boating }}
            {{> formElement skillRanks.defense }}
            {{> formElement skillRanks.engineering }}
            {{> formElement skillRanks.exploration }}
            {{> formElement skillRanks.folklore }}
            {{> formElement skillRanks.industry }}
            {{> formElement skillRanks.intrigue }}
            {{> formElement skillRanks.magic }}
            {{> formElement skillRanks.politics }}
            {{> formElement skillRanks.scholarship }}
            {{> formElement skillRanks.statecraft }}
            {{> formElement skillRanks.trade }}
            {{> formElement skillRanks.warfare }}
            {{> formElement skillRanks.wilderness }}

            groups

            {{#each groups}}
                {{> formElement name}}
                {{> formElement negotiationDC}}
                {{> formElement atWar}}
                {{> formElement relations}}
            {{/each}}

            leaders

            {{> formElement leadersContext.ruler.invested }}
            {{> formElement leadersContext.ruler.vacant }}
            {{> formElement leadersContext.ruler.type }}
            {{#if leadersContext.ruler.actor }}
                {{> formElement leadersContext.ruler.actor.uuidInput }}
            {{/if}}
            {{> formElement leadersContext.counselor.invested }}
            {{> formElement leadersContext.counselor.vacant }}
            {{> formElement leadersContext.counselor.type }}
            {{#if leadersContext.counselor.actor }}
                {{> formElement leadersContext.counselor.actor.uuidInput }}
            {{/if}}
            {{> formElement leadersContext.emissary.invested }}
            {{> formElement leadersContext.emissary.vacant }}
            {{> formElement leadersContext.emissary.type }}
            {{#if leadersContext.emissary.actor }}
                {{> formElement leadersContext.emissary.actor.uuidInput }}
            {{/if}}
            {{> formElement leadersContext.general.invested }}
            {{> formElement leadersContext.general.vacant }}
            {{> formElement leadersContext.general.type }}
            {{#if leadersContext.general.actor }}
                {{> formElement leadersContext.general.actor.uuidInput }}
            {{/if}}
            {{> formElement leadersContext.magister.invested }}
            {{> formElement leadersContext.magister.vacant }}
            {{> formElement leadersContext.magister.type }}
            {{#if leadersContext.magister.actor }}
                {{> formElement leadersContext.magister.actor.uuidInput }}
            {{/if}}
            {{> formElement leadersContext.treasurer.invested }}
            {{> formElement leadersContext.treasurer.vacant }}
            {{> formElement leadersContext.treasurer.type }}
            {{#if leadersContext.treasurer.actor }}
                {{> formElement leadersContext.treasurer.actor.uuidInput }}
            {{/if}}
            {{> formElement leadersContext.viceroy.invested }}
            {{> formElement leadersContext.viceroy.vacant }}
            {{> formElement leadersContext.viceroy.type }}
            {{#if leadersContext.viceroy.actor }}
                {{> formElement leadersContext.viceroy.actor.uuidInput }}
            {{/if}}
            {{> formElement leadersContext.warden.invested }}
            {{> formElement leadersContext.warden.vacant }}
            {{> formElement leadersContext.warden.type }}
            {{#if leadersContext.warden.actor }}
                {{> formElement leadersContext.warden.actor.uuidInput }}
            {{/if}}
        </div>
    </main>
</div>