<div>
    <header class="km-kingdom-sheet-header">
        <div class="km-kingdom-sheet-name">{{> formElement kingdomNameInput }}</div>
        <div class="km-kingdom-sheet-active-settlement">{{> formElement settlementInput }}</div>
        <div class="km-kingdom-sheet-active-xp">{{> formElement xpInput }}</div>
        <div class="km-kingdom-sheet-active-xp-threshold">{{> formElement xpThresholdInput }}</div>
        <div class="km-kingdom-sheet-active-level">{{> formElement levelInput }}</div>
        <div class="km-kingdom-sheet-active-fame">{{> formElement fameContext.now }}</div>
        <div class="km-kingdom-sheet-active-fame-next">{{> formElement fameContext.next }}</div>
    </header>

    <nav class="km-kingdom-sheet-main-nav">
        <ul>
            {{#each mainNav}}
                <li><a class="{{#if active}}active{{/if}}" data-action="change-nav" href="#" data-link="{{link}}">{{label}}</a></li>
            {{/each}}
        </ul>
    </nav>

    <main class="km-kingdom-sheet-main">
        {{> kingdom-character-sheet this}}
        {{> kingdom-notes this}}
        {{> kingdom-turn this}}
        {{> kingdom-trade-agreements this}}
        {{> kingdom-settlements this}}
        {{> kingdom-modifiers this}}

        <div hidden>
            {{> formElement worksitesContext.farmlands.resources }}
            {{> formElement worksitesContext.farmlands.quantity }}
            {{ worksitesContext.farmlands.quantityValue }}
            {{ worksitesContext.farmlands.resourcesValue }}
            {{> formElement  worksitesContext.lumberCamps.resources }}
            {{> formElement  worksitesContext.lumberCamps.quantity }}
            {{ worksitesContext.lumberCamps.quantityValue }}
            {{ worksitesContext.lumberCamps.resourcesValue }}
            {{> formElement  worksitesContext.mines.resources }}
            {{> formElement  worksitesContext.mines.quantity }}
            {{ worksitesContext.mines.quantityValue }}
            {{ worksitesContext.mines.resourcesValue }}
            {{> formElement  worksitesContext.quarries.resources }}
            {{> formElement  worksitesContext.quarries.quantity }}
            {{ worksitesContext.quarries.quantityValue }}
            {{ worksitesContext.quarries.resourcesValue }}
            {{> formElement  worksitesContext.luxurySources.resources }}
            {{> formElement  worksitesContext.luxurySources.quantity }}
            {{ worksitesContext.luxurySources.quantityValue }}
            {{ worksitesContext.luxurySources.resourcesValue }}

            {{> formElement sizeInput }}
            {{> formElement consumptionContext.now }}
            {{> formElement consumptionContext.next }}
            {{> formElement consumptionContext.armies }}



            scores
            {{> formElement abilityScores.economy }}
            {{> formElement abilityScores.stability }}
            {{> formElement abilityScores.loyalty }}
            {{> formElement abilityScores.culture }}

            milestones
            {{> formElement ongoingEvent }}

            {{#each milestones}}
                {{> formElement id }}
                {{> formElement enabled }}
                {{> formElement completed }}
                {{xp}} {{homebrew}}  {{hidden}}
            {{/each}}

            ranks

            {{> formElement skillRanks.agriculture }}
            {{> formElement skillRanks.arts }}
            {{> formElement skillRanks.boating }}
            {{> formElement skillRanks.defense }}
            {{> formElement skillRanks.engineering }}
            {{> formElement skillRanks.exploration }}
            {{> formElement skillRanks.folklore }}
            {{> formElement skillRanks.industry }}
            {{> formElement skillRanks.intrigue }}
            {{> formElement skillRanks.magic }}
            {{> formElement skillRanks.politics }}
            {{> formElement skillRanks.scholarship }}
            {{> formElement skillRanks.statecraft }}
            {{> formElement skillRanks.trade }}
            {{> formElement skillRanks.warfare }}
            {{> formElement skillRanks.wilderness }}

            leaders
            {{#each leadersContext}}
                {{> formElement vacant }}
            {{/each}}
        </div>
    </main>
</div>