<table>
    <tr>
        <th>{{localizeKM "kingdom.settlement"}}</th>
        <th>{{localizeKM "kingdom.blocks"}}</th>
        <th>{{localizeKM "kingdom.population"}}</th>
        <th>{{localizeKM "applications.level"}}</th>
        <th>{{localizeKM "kingdom.consumption"}}</th>
        <th>{{localizeKM "kingdom.maxItemBonus"}}</th>
        <th>{{localizeKM "kingdom.influence"}}</th>
    </tr>
    {{#each data}}
        <tr>
            <td>{{type}}</td>
            <td>{{blocks}}</td>
            <td>{{population}}</td>
            <td>{{level}}</td>
            <td>{{consumption}}</td>
            <td>{{maxItemBonus}}</td>
            <td>{{influence}}</td>
        </tr>
    {{/each}}
</table>