{{#each actions}}
    <div class="km-army-action">
        <div class="km-army-action-header">
            <div class="km-army-action-name">{{name}}</div>
            <div class="km-army-action-icon">{{icon}}</div>
        </div>
        <ul class="km-army-traits">
            {{#each traits}}
                <li>{{this}}</li>
            {{/each}}
        </ul>
        {{#if requirements}}<p class="km-army-action-requirement"><b>Requirements</b> {{requirements}}</p>{{/if}}
        {{#if trigger}}<p class="km-army-action-trigger"><b>Trigger</b> {{trigger}}</p>{{/if}}
        {{#if description}}<p class="km-army-action-description">{{description}}</p>{{/if}}
        {{#if frequency}}<p class="km-army-frequency"><b>Frequency</b> {{frequency}} <b>Effect</b> {{effect}}</p>{{/if}}
        {{#if results}}
            <ul class="km-army-action-results">
                {{#if results.criticalSuccess}}
                    <li><b>Critical Success</b> {{results.criticalSuccess}}</li>{{/if}}
                {{#if results.success}}
                    <li><b>Success</b> {{results.success}}</li>{{/if}}
                {{#if results.failure}}
                    <li><b>Failure</b> {{results.failure}}</li>{{/if}}
                {{#if results.criticalFailure}}
                    <li><b>Critical Failure</b> {{results.criticalFailure}}</li>{{/if}}
            </ul>
        {{/if}}
        {{#if type}}<button class="km-army-action-button" type="button" data-type="type.value" data-type-name="{{name}}">{{type.label}} <i class="fa-solid fa-dice-d20"></i></button>{{/if}}
    </div>
{{/each}}
