<p><button class="km-army-gear-add" type="button">Add Gear <i class="fa-solid fa-plus"></i></button></p>
{{#each gear}}
    <div class="km-army-gear">
        <div class="km-army-gear-header">
            <div class="km-army-gear-name">{{name}}</div>
            <div class="km-army-gear-level">Item {{level}}</div>
        </div>
        <ul class="km-army-traits">
            {{#each traits}}
                <li>{{this}}</li>
            {{/each}}
        </ul>
        <p><b>Price</b> {{price}} RP {{#if quantity}}per dose{{/if}}</p>
        <hr>
        <div class="km-army-gear-description">{{description}}</div>
        {{#if quantity}}<div class="km-army-gear-quantity"><label>Quantity <input type="number" name="gear.{{@index}}.quantity" value="{{quantity}}"> / {{maximumQuantity}}</label></div>{{/if}}
        <p><button class="km-army-gear-remove" data-index="{{@index}}" type="button">Remove <i class="fa-solid fa-trash"></i></button></p>
    </div>
{{/each}}
