<form class="km-base-form">
    <table class="km-table">
        <tr>
            <th>Type</th>
            <th>Modifier Adjustment</th>
        </tr>
        <tr>
            <td>Scouting</td>
            <td><input name="adjustments.scouting" id="km-army-adjustment-scouting" value="{{adjustments.scouting}}"
                       type="number"></td>
        </tr>
        <tr>
            <td>AC</td>
            <td><input name="adjustments.ac" id="km-army-adjustment-ac" value="{{adjustments.ac}}" type="number"></td>
        </tr>
        <tr>
            <td>Recruitment DC</td>
            <td><input name="adjustments.recruitmentDC" id="km-army-adjustment-recruitmentDC"
                       value="{{adjustments.recruitmentDC}}" type="number">
            </td>
        </tr>
        <tr>
            <td>Moral</td>
            <td><input name="adjustments.morale" id="km-army-adjustment-morale" value="{{adjustments.morale}}"
                       type="number"></td>
        </tr>
        <tr>
            <td>Maneuver</td>
            <td><input name="adjustments.maneuver" id="km-army-adjustment-maneuver" value="{{adjustments.maneuver}}"
                       type="number"></td>
        </tr>
        <tr>
            <td>Melee</td>
            <td><input name="adjustments.melee" id="km-army-adjustment-melee" value="{{adjustments.melee}}"
                       type="number"></td>
        </tr>
        <tr>
            <td>Ranged</td>
            <td><input name="adjustments.ranged" id="km-army-adjustment-ranged" value="{{adjustments.ranged}}"
                       type="number"></td>
        </tr>
    </table>
</form>
