<form class="km-base-form">
    <p><b>Actor Level</b>: {{actorLevel}}</p>
    <table class="km-table">
        <tr>
            <th>Type</th>
            <th>Modifier Adjustment</th>
            <th>Calculated</th>
        </tr>
        <tr>
            <td>Scouting</td>
            <td><input name="adjustments.scouting" id="km-army-adjustment-scouting" value="{{adjustments.scouting}}"
                       type="number"></td>
            <td>{{calculated.scouting}}</td>
        </tr>
        <tr>
            <td>AC</td>
            <td><input name="adjustments.ac" id="km-army-adjustment-ac" value="{{adjustments.ac}}" type="number"></td>
            <td>{{calculated.ac}}</td>
        </tr>
        <tr>
            <td>Recruitment DC</td>
            <td><input name="adjustments.recruitmentDC" id="km-army-adjustment-recruitmentDC"
                       value="{{adjustments.recruitmentDC}}" type="number">
            </td>
            <td>{{calculated.recruitmentDC}}</td>
        </tr>
        <tr>
            <td>High Save</td>
            <td>
                <select name="adjustments.highSave" id="km-army-adjustment-high-save">
                    {{#select adjustments.highSave}}
                        <option value="maneuver">Maneuver</option>
                        <option value="morale">Morale</option>
                    {{/select}}
                </select>
            </td>
            <td>-</td>
        </tr>
        <tr>
            <td>Moral</td>
            <td><input name="adjustments.morale" id="km-army-adjustment-morale" value="{{adjustments.morale}}"
                       type="number"></td>
            <td>{{calculated.morale}}</td>
        </tr>
        <tr>
            <td>Maneuver</td>
            <td><input name="adjustments.maneuver" id="km-army-adjustment-maneuver" value="{{adjustments.maneuver}}"
                       type="number"></td>
            <td>{{calculated.maneuver}}</td>
        </tr>
        <tr>
            <td>Melee</td>
            <td><input name="adjustments.melee" id="km-army-adjustment-melee" value="{{adjustments.melee}}"
                       type="number"></td>
            <td>{{calculated.melee}}</td>
        </tr>
        <tr>
            <td>Ranged</td>
            <td><input name="adjustments.ranged" id="km-army-adjustment-ranged" value="{{adjustments.ranged}}"
                       type="number"></td>
            <td>{{calculated.ranged}}</td>
        </tr>
    </table>
</form>
