<table class="km-table">
    <tr>
        <th>HP</th>
        <td class="km-hp">
            <input name="currentHp" id="km-army-currentHp" value="{{currentHp}}" type="number"> /
            {{calculated.hp}}
        </td>
    </tr>
    <tr>
        <th>Route Threshold</th>
        <td>{{calculated.routeThreshold}}</td>
    </tr>
    <tr>
        <th>Armor Class</th>
        <td>{{calculated.ac}}</td>
    </tr>
    <tr>
        <th>Scouting</th>
        <td>{{calculated.scouting}}</td>
    </tr>
    <tr>
        <th>Initiative</th>
        <td>{{calculated.initiative}}</td>
    </tr>
    <tr>
        <th>Recruitment DC</th>
        <td>{{calculated.recruitmentDC}}</td>
    </tr>
    <tr>
        <th>Consumption</th>
        <td>{{calculated.consumption}}</td>
    </tr>
</table>

<table class="km-table">
    <tr>
        <th>Save</th>
        <th>Modifier</th>
    </tr>
    <tr>
        <td>Morale</td>
        <td><button type="button">{{calculated.morale}} <i class="fa-solid fa-dice-d20"></i></button></td>
    </tr>
    <tr>
        <td>Maneuver</td>
        <td><button type="button">{{calculated.maneuver}} <i class="fa-solid fa-dice-d20"></i></button></td>
    </tr>
</table>

{{#if melee}}
    <table class="km-table">
        <tr>
            <th>Melee Weapon</th>
            <th>Modifier</th>
            <!-- todo plus -->
        </tr>
        <tr>
            <td><input name="melee.name" id="km-army-melee-name" value="{{melee.name}}" type="text"></td>
            <td><button type="button">{{calculated.meleeModifier}} <i class="fa-solid fa-dice-d20"></i></button></td>
        </tr>
    </table>
{{/if}}

{{#if ranged}}
    <table class="km-table">
        <tr>
            <th>Ranged Weapon</th>
            <th>Shots</th>
            <th>Modifier</th>
            <!-- todo plus -->
        </tr>
        <tr>
            <td><input name="ranged.name" id="km-army-ranged-name" value="{{ranged.name}}" type="text"></td>
            <td class="km-shots">
                <input name="ranged.currentShots" id="km-army-ranged-current-shots" value="{{ranged.currentShots}}" type="number"> /
                {{calculated.shots}}
            </td>
            <td><button type="button">{{calculated.rangedModifier}} <i class="fa-solid fa-dice-d20"></i></button></td>
        </tr>
    </table>
{{/if}}
