<section {{#if hideBonus}}hidden{{/if}}>
    <section class="km-kingdom-sheet-section">
        <h2>{{localizeKM "kingdom.addBonusFeat"}} <span class="km-header-right-align">{{> formElement bonusFeat.feat}}</span></h2>
        {{#if bonusFeat.description}}
            <details open>
                <summary>{{bonusFeat.name}}</summary>
                <p class="km-detail-description">{{bonusFeat.description}}</p>
                {{#if bonusFeat.requirements}}<p {{#unless bonusFeat.satisfiesRequirements}}class="km-unsatisfied-requirement"{{/unless}}><b>{{localizeKM "kingdom.prerequisites"}}:</b> {{bonusFeat.requirements}}</p>{{/if}}
                {{#if bonusFeat.automationNotes}}<p><b>{{localizeKM "kingdom.automationNotes"}}:</b> {{bonusFeat.automationNotes}}</p>{{/if}}
            </details>
            <p>
                <button type="button"
                        class="km-no-button-margin"
                        data-action="add-bonus-feat"
                        title="{{localizeKM "kingdom.addBonusFeat"}}"
                >{{localizeKM "applications.add"}}</button>
            </p>
        {{/if}}
    </section>
    {{#each bonusFeats}}
        {{> formElement id}}
        <section class="km-kingdom-sheet-section">
            <h2>{{name}} <span class="km-header-right-align">
                <button type="button"
                        class="km-no-button-margin"
                        data-id="{{idValue}}"
                        data-action="delete-bonus-feat"
                        title="{{localizeKM "applications.delete"}}"
                ><i class="fa-solid fa-trash"></i></button>
            </span></h2>
            <p>{{description}}</p>
            {{#if requirements}}<p {{#unless satisfiesRequirements}}class="km-unsatisfied-requirement"{{/unless}}><b>{{localizeKM "kingdom.prerequisites"}}:</b> {{requirements}}</p>{{/if}}
            {{#if automationNotes}}<p><b>{{localizeKM "kingdom.automationNotes"}}:</b> {{automationNotes}}</p>{{/if}}
            {{#if removeLeaderVacancyPenalty}}{{> formElement removeLeaderVacancyPenalty}}{{/if}}
            {{#each ruinThresholdIncreases}}
                <div class="km-choose-boosts">
                    <p>{{localizeKM "kingdom.pickRuinIncreases" count=amount value=value}}</p>
                    <ul class="km-choose-ruins">
                        <li>
                            {{> formElement crime.input}}
                            {{> formElement crime.valueInput}}
                        </li>
                        <li>
                            {{> formElement corruption.input}}
                            {{> formElement corruption.valueInput}}
                        </li>
                        <li>
                            {{> formElement strife.input}}
                            {{> formElement strife.valueInput}}
                        </li>
                        <li>
                            {{> formElement stability.input}}
                            {{> formElement stability.valueInput}}
                        </li>
                    </ul>
                </div>
            {{/each}}
        </section>
    {{/each}}
</section>