<section {{#if hideBonus}}hidden{{/if}}>
    <section class="km-kingdom-sheet-section">
        <h2>Add Bonus Feat <span class="km-header-right-align">{{> formElement bonusFeat.feat}}</span></h2>
        {{#if bonusFeat.description}}
            <details>
                <summary>{{bonusFeat.name}}</summary>
                <p class="km-detail-description">{{bonusFeat.description}}</p>
            </details>
            <p>
                <button type="button"
                        class="km-no-button-margin"
                        data-action="add-bonus-feat"
                        title="Add Bonus Feat"
                >Add</button>
            </p>
        {{/if}}
    </section>
    {{#each bonusFeats}}
        {{> formElement id}}
        <section class="km-kingdom-sheet-section">
            <h2>{{name}} <span class="km-header-right-align">
                <button type="button"
                        class="km-no-button-margin"
                        data-id="{{idValue}}"
                        data-action="delete-bonus-feat"
                        title="Delete Bonus Feat"
                ><i class="fa-solid fa-trash"></i></button>
            </span></h2>
            <p>{{description}}</p>
            {{#if automationNotes}}<p><b>Automation Notes:</b> {{automationNotes}}</p>{{/if}}
            {{#each ruinThresholdIncreases}}
                <div class="km-choose-boosts">
                    <p>Choose {{amount}} Ruins to increase by {{value}}</p>
                    <ul class="km-choose-ruins">
                        <li>
                            {{> formElement crime.input}}
                            {{> formElement crime.valueInput}}
                        </li>
                        <li>
                            {{> formElement corruption.input}}
                            {{> formElement corruption.valueInput}}
                        </li>
                        <li>
                            {{> formElement strife.input}}
                            {{> formElement strife.valueInput}}
                        </li>
                        <li>
                            {{> formElement stability.input}}
                            {{> formElement stability.valueInput}}
                        </li>
                    </ul>
                </div>
            {{/each}}
        </section>
    {{/each}}
</section>