<section {{#if hideCreation}}hidden{{/if}}>
    <section class="km-kingdom-sheet-section">
        <h2>Select Charter <span class="km-header-right-align">{{> formElement charter.type}}</span></h2>
        {{#if charter.description}}<p>{{charter.description}}</p>
            <hr>{{/if}}
        {{#if charter.boost}}<p><b>Ability Boost</b>: {{charter.boost}}</p>{{/if}}
        {{#if charter.flaw}}<p><b>Ability Flaw</b>: {{charter.flaw}}</p>{{/if}}
        <div class="km-choose-boosts" {{#unless charter.description}}hidden{{/unless}}>
            <p><b>Pick {{charter.abilityBoosts.free}} Boost:</b></p>
            <ul>
                <li {{#if charter.abilityBoosts.cultureHidden}}hidden{{/if}}>{{> formElement charter.abilityBoosts.culture}}</li>
                <li {{#if charter.abilityBoosts.economyHidden}}hidden{{/if}}>{{> formElement charter.abilityBoosts.economy}}</li>
                <li {{#if charter.abilityBoosts.loyaltyHidden}}hidden{{/if}}>{{> formElement charter.abilityBoosts.loyalty}}</li>
                <li {{#if charter.abilityBoosts.stabilityHidden}}hidden{{/if}}>{{> formElement charter.abilityBoosts.stability}}</li>
            </ul>
        </div>
    </section>
    <section class="km-kingdom-sheet-section">
        <h2>Choose a Heartland <span class="km-header-right-align">{{> formElement heartland.type}}</span></h2>
        {{#unless heartland.description}}<p>The PCs can choose any hex that they have Reconnoitered. Note that terrain features
            can grant other benefits to the kingdom when claimed. The choice of terrain made here influences how the
            Favored Land kingdom ability functions (see section <b>1</b> next to the <b>Creation</b> section).</p>{{/unless}}
        {{#if heartland.description}}<p>{{heartland.description}}</p>
            <hr>{{/if}}
        {{#if heartland.description}}<p><b>Ability Boost</b>: {{heartland.boost}}</p>{{/if}}
    </section>
    <section class="km-kingdom-sheet-section">
        <h2>Choose a Government <span class="km-header-right-align">{{> formElement government.type}}</span></h2>
        {{#if government.description}}<p>{{government.description}}</p>
            <hr>{{/if}}

        <div class="km-choose-boosts" {{#unless government.description}}hidden{{/unless}}>
            <p><b>Ability Boosts</b>: {{government.boosts}}</p>
            <p class="km-government-pick-label"><b>Pick {{government.abilityBoosts.free}} Boost:</b></p>
            <ul>
                <li {{#if government.abilityBoosts.cultureHidden}}hidden{{/if}}>{{> formElement government.abilityBoosts.culture}}</li>
                <li {{#if government.abilityBoosts.economyHidden}}hidden{{/if}}>{{> formElement government.abilityBoosts.economy}}</li>
                <li {{#if government.abilityBoosts.loyaltyHidden}}hidden{{/if}}>{{> formElement government.abilityBoosts.loyalty}}</li>
                <li {{#if government.abilityBoosts.stabilityHidden}}hidden{{/if}}>{{> formElement government.abilityBoosts.stability}}</li>
            </ul>
        </div>
        {{#if government.skills}}
            <p><b>Skill Proficiencies</b>: {{government.skills}}</p>
        {{/if}}
        {{#if government.description}}
            {{#unless government.feat}}<p><b>Feat disabled in Feat management!</b></p>{{/unless}}
            <details {{# unless government.feat}}hidden{{/unless}} open>
                <summary><b>Bonus Feat</b>: {{government.feat}}</summary>
                <p class="km-detail-description">{{government.featDescription}}</p>
                {{#if government.featRequirements}}<p><b>Prerequisites:</b> {{government.featRequirements}}</p>{{/if}}
                {{#if government.featAutomationNotes}}<p><b>Automation Notes:</b> {{government.featAutomationNotes}}</p>{{/if}}
            </details>
        {{/if}}
    </section>
    <section class="km-kingdom-sheet-section">
        <h2>Finalize Ability Scores</h2>
        <div class="km-choose-boosts">
            <p><b>Pick {{abilityBoosts.free}} Boosts:</b></p>
            <ul>
                <li>{{> formElement abilityBoosts.culture}}</li>
                <li>{{> formElement abilityBoosts.economy}}</li>
                <li>{{> formElement abilityBoosts.loyalty}}</li>
                <li>{{> formElement abilityBoosts.stability}}</li>
            </ul>
        </div>
    </section>
    <section class="km-kingdom-sheet-section">
        <h2>Choose Leaders</h2>
        <p>Assign your leaders by drag and dropping <b>Character</b> or <b>NPC</b> actors from the sidebar onto each tile.{{#unless enableLeadershipModifiers}} Next, choose four leadership roles to invest. Investing a role provides a status bonus to Kingdom
            skill checks based on that role's key ability.{{/unless}}</p>
        <ul class="km-choose-leaders">
            {{#each leadersContext}}
                <li data-leader="{{leader}}">
                    <header><span>{{label}}</span>{{#if actor}} <span class="km-leader-bonus"><i class="fa-solid fa-dice-d20"></i> {{actor.bonus}}</span>{{/if}}</header>
                    {{#if actor }}
                        {{> formElement actor.uuidInput }}
                        <div class="km-leader-portrait">
                            <button data-leader="{{leader}}" data-action="clear-leader" type="button"><i class="fa-regular fa-circle-xmark"></i>
                            </button>
                            <img src="{{actor.img}}" alt="{{actor.name}}" data-action="open-leader" data-leader="{{leader}}">
                        </div>
                    {{else}}
                        <div class="km-choose-leader-placeholder">
                            <span>Drop Actor from Sidebar</span>
                            <i class="fa-solid fa-plus"></i>
                        </div>
                    {{/if}}
                    <span {{#unless ../enableLeadershipModifiers}}hidden{{/unless}}>{{> formElement type }}</span>
                    <span {{#if ../enableLeadershipModifiers}}hidden{{/if}}>{{> formElement invested }}</span>
                </li>
            {{/each}}
        </ul>
        <p>Then, {{#if enableLeadershipModifiers}}choose four skills to apply the trained proficiency rank to{{else}}each of the four invested leaders chooses to apply the trained proficiency rank to a different skill{{/if}}. These proficiency ranks cannot be reassigned later.</p>
        <div class="km-choose-skills">
            <ul>
                {{#each initialProficiencies}}
                    <li>{{> formElement this}}</li>
                {{/each}}
            </ul>
        </div>
        <hr>
        <p><b>Additional Trained Skills (V&K)</b>: You can add additional Skill Trainings in the Bonus tab.</p>
    </section>
    <section class="km-kingdom-sheet-section">
        <h2>First Village</h2>
        <p>First, <button class="km-inline-button" type="button" data-action="structures-import">Import All Structures</button> into your world.</p>
        <p>Next, <button class="km-inline-button" type="button" data-action="create-capital">Create a Capital</button> within your Heartland's terrain. The Scene includes blocks, onto which you can place your structures to automatically calculate settlement level. Only visible blocks are included in the calculation.</p>
        <img src="modules/pf2e-kingmaker-tools/img/kingdom/docs/settlement.webp" alt="structures on blocks">
        <p>Since this is their first village, the PCs gain 40 kingdom XP as a milestone award. Check off the <b>Establish your first village</b> milestone in the <b>XP</b> section in the <b>Turn</b> tab.</p>
        <p>Finally, place any existing structures on the chosen hex onto the scene's blocks from the <b>Structures</b> folder in your
            actors directory.</p>
        <img src="modules/pf2e-kingmaker-tools/img/kingdom/docs/structures.webp" alt="structures entry in the sidebar">
        <p>Further settlements can be added in the <b>Settlements</b> tab.</p>
    </section>
    <section class="km-kingdom-sheet-section">
        <h2>Fame or Infamy? <span class="km-header-right-align">{{> formElement fameContext.type}}</span></h2>
        <p>The choice here solely determines whether the kingdom uses Fame or Infamy points and the influence certain
            structures might have on the kingdom.</p>
    </section>
</section>