<aside class="km-kingdom-sheet-sidebar km-kingdom-sheet-sidebar-kingdom"
       {{#if (ne currentNavEntry 'kingdom')}}hidden{{/if}}>
    <div {{#if (ne currentNavEntry 'kingdom')}}hidden{{/if}}>
        <h3>Size <span class="km-header-right-align"><button type="button" data-action="kingdom-size-info"
                                                             title="Kingdom Size"><i
                class="fa-solid fa-circle-info"></i></button></span></h3>
        <table class="km-unrest-ruin">
            <tr>
                <td class="km-ability-score-label">Claimed Hexes</td>
                <td>{{#if automateResources}}<span class="km-ability-stat">{{size}}</span>{{/if}}
                    {{> formElement sizeInput }}</td>
                <td>{{kingdomSize}}</td>
            </tr>
        </table>
        <h3>Consumption ({{consumption}}) <span class="km-header-right-align"><button type="button"
                                                                                      data-action="consumption-breakdown"
                                                                                      title="Consumption Breakdown"><i
                class="fa-solid fa-circle-info"></i></button></span></h3>
        <table class="km-unrest-ruin">
            <tr>
                <td>{{> formElement consumptionContext.armies }}</td>
                <td>{{> formElement consumptionContext.now }}</td>
                <td>{{> formElement consumptionContext.next }}</td>
            </tr>
        </table>
        <h3>Ability Scores</h3>
        <table class="km-unrest-ruin">
            {{#each abilityScores}}
                <tr>
                    <td class="km-ability-score-label">{{ label }}</td>
                    <td>{{> formElement input }}{{#if ../automateStats}}
                        <span class="km-ability-stat">{{value}}</span>{{/if}}</td>
                    <td>=</td>
                    <td title="modifier">{{mod}}</td>
                </tr>
            {{/each}}
        </table>
        <h3>Skills</h3>
        <table class="km-skill-checks">
            {{#each skillChecks}}
                <tr>
                    <td>{{label}}</td>
                    <td>{{> formElement input }}{{#if ../automateStats}}
                        <span class="km-proficiency km-proficiency-value {{valueClass}}">{{proficiency}}</span>{{/if}}
                    </td>
                </tr>
            {{/each}}
        </table>
        <h3>Worksites (+ Resource)</h3>
        <table class="km-worksites">
            {{#each worksitesContext}}
                <tr>
                    <td>{{label}}</td>
                    <td>
                        {{> formElement quantity }}
                        {{#if ../automateResources}}
                            <span class="km-worksite-value">{{ quantityValue }}</span>
                        {{/if}}
                    </td>
                    <td>
                        {{> formElement resources }}
                        {{#if ../automateResources}}
                            <span class="km-worksite-value">{{ resourcesValue }}</span>
                        {{/if}}
                    </td>
                </tr>
            {{/each}}
        </table>
    </div>
</aside>
<div class="km-kingdom-sheet-content" {{#if (ne currentNavEntry 'kingdom')}}hidden{{/if}}>
    <nav class="km-kingdom-sheet-sub-nav">
        <ul class="km-center-middle">
            <li><a title="Creation" data-action="change-kingdom-section-nav"
                   {{#unless hideCreation}}class="active"{{/unless}} href="#" data-link="Creation">Creation</a></li>
            {{#each kingdomSectionNav}}
                <li><a title="{{title}}" data-action="{{action}}"
                       {{#if active}}class="active"{{/if}} href="#" data-link="{{link}}">{{label}}</a></li>
            {{/each}}
            <li><a title="Bonus" data-action="change-kingdom-section-nav"
                   {{#unless hideBonus}}class="active"{{/unless}} href="#" data-link="Bonus">Bonus</a></li>
        </ul>
    </nav>
    <div class="km-kingdom-sheet-sub-content km-kingdom-sheet-kingdom">
        {{> kingdom-character-sheet-creation this}}
        {{> kingdom-character-sheet-bonus this}}
        {{> kingdom-character-sheet-levels this}}
    </div>
</div>