<aside class="km-kingdom-sheet-sidebar km-kingdom-sheet-sidebar-kingdom" {{#if (ne currentNavEntry 'kingdom')}}hidden{{/if}}>
    {{currentNavEntry}}
    <div {{#if (ne currentNavEntry 'kingdom')}}hidden{{/if}}>
        {{> formElement abilityScores.economy }}
        {{> formElement abilityScores.stability }}
        {{> formElement abilityScores.loyalty }}
        {{> formElement abilityScores.culture }}

        {{> formElement skillRanks.agriculture }}
        {{> formElement skillRanks.arts }}
        {{> formElement skillRanks.boating }}
        {{> formElement skillRanks.defense }}
        {{> formElement skillRanks.engineering }}
        {{> formElement skillRanks.exploration }}
        {{> formElement skillRanks.folklore }}
        {{> formElement skillRanks.industry }}
        {{> formElement skillRanks.intrigue }}
        {{> formElement skillRanks.magic }}
        {{> formElement skillRanks.politics }}
        {{> formElement skillRanks.scholarship }}
        {{> formElement skillRanks.statecraft }}
        {{> formElement skillRanks.trade }}
        {{> formElement skillRanks.warfare }}
        {{> formElement skillRanks.wilderness }}

        {{> formElement worksitesContext.farmlands.resources }}
        {{> formElement worksitesContext.farmlands.quantity }}
        {{ worksitesContext.farmlands.quantityValue }}
        {{ worksitesContext.farmlands.resourcesValue }}
        {{> formElement  worksitesContext.lumberCamps.resources }}
        {{> formElement  worksitesContext.lumberCamps.quantity }}
        {{ worksitesContext.lumberCamps.quantityValue }}
        {{ worksitesContext.lumberCamps.resourcesValue }}
        {{> formElement  worksitesContext.mines.resources }}
        {{> formElement  worksitesContext.mines.quantity }}
        {{ worksitesContext.mines.quantityValue }}
        {{ worksitesContext.mines.resourcesValue }}
        {{> formElement  worksitesContext.quarries.resources }}
        {{> formElement  worksitesContext.quarries.quantity }}
        {{ worksitesContext.quarries.quantityValue }}
        {{ worksitesContext.quarries.resourcesValue }}
        {{> formElement  worksitesContext.luxurySources.resources }}
        {{> formElement  worksitesContext.luxurySources.quantity }}
        {{ worksitesContext.luxurySources.quantityValue }}
        {{ worksitesContext.luxurySources.resourcesValue }}

        {{> formElement sizeInput }}
        {{> formElement consumptionContext.now }}
        {{> formElement consumptionContext.next }}
        {{> formElement consumptionContext.armies }}

    </div>
</aside>
<div class="km-kingdom-sheet-content" {{#if (ne currentNavEntry 'kingdom')}}hidden{{/if}}>
    <nav class="km-kingdom-sheet-sub-nav">
        <ul class="km-center-middle">
            <li><a title="Creation" data-action="change-kingdom-section-nav"
                   {{#unless hideCreation}}class="active"{{/unless}} href="#" data-link="Creation">Creation</a></li>
            {{#each kingdomSectionNav}}
                <li><a title="{{title}}" data-action="{{action}}"
                       {{#if active}}class="active"{{/if}} href="#" data-link="{{link}}">{{label}}</a></li>
            {{/each}}
            <li><a title="Bonus" data-action="change-kingdom-section-nav"
                   {{#unless hideBonus}}class="active"{{/unless}} href="#" data-link="Bonus">Bonus</a></li>
        </ul>
    </nav>
    <div class="km-kingdom-sheet-sub-content km-kingdom-sheet-kingdom">
        {{> kingdom-character-sheet-creation this}}
        {{> kingdom-character-sheet-bonus this}}
        {{> kingdom-character-sheet-levels this}}
    </div>
</div>