<div {{#if (ne currentNavEntry 'tradeAgreements')}}hidden{{/if}} class="km-kingdom-sheet-content">
    <div class="km-kingdom-sheet-sub-content km-kingdom-sheet-trade-agreements">
        <section>
            <h2>{{localizeKM "kingdom.groups"}}  <span class="km-header-right-align"><button type="button" data-action="add-group"><i class="fa-solid fa-plus"></i></button></span></h2>
            <table>
                <thead>
                <tr>
                    <td>{{localizeKM "applications.name"}}</td>
                    <td>{{localizeKM "kingdom.negotiationDc"}}</td>
                    <td>{{localizeKM "kingdom.atWar"}}</td>
                    <td>{{localizeKM "kingdom.preventPledgeOfFealty"}}</td>
                    <td>{{localizeKM "kingdom.relations"}}</td>
                    <td>{{localizeKM "applications.delete"}}</td>
                </tr>
                </thead>
                <tbody>
                {{#each groups}}
                    <tr>
                        <td>{{> formElement name}}</td>
                        <td>{{> formElement negotiationDC}}</td>
                        <td>{{> formElement atWar}}</td>
                        <td>{{> formElement preventPledgeOfFealty}}</td>
                        <td>{{> formElement relations}}</td>
                        <td><button type="button" data-action="delete-group" data-index="{{@index}}">
                            <i class="fa-solid fa-trash"></i>
                        </button></td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
        </section>
    </div>
</div>