<p><b>{{localizeKM "chatMessages.addHuntAndGather.gained" actorName=actorName}}</b></p>
<ul>
    <li><b>{{localizeKM "camping.basicIngredients"}}</b>: {{basicIngredients}}</li>
    <li><b>{{localizeKM "camping.specialIngredients"}}</b>: {{specialIngredients}}</li>
</ul>