<h3>{{name}} ({{label}})</h3>
{{#if message}}<p>{{message}}</p>{{/if}}
<button type="button"
        class="km-apply-meal-effect"
        data-degree="{{degree}}"
        data-recipe="{{name}}"
>{{#unless failure}}Apply Meal Effects & {{/unless}}Remove Ingredients
</button>
