<h2>{{localizeKM "kingdom.collecting"}}</h2>
<ul>
    <li><b>{{localizeKM "kingdom.resourcePoints"}}</b>: {{rp}}</li>
    <li><b>{{localizeKM "kingdom.ore"}}</b>: {{ore}}</li>
    <li><b>{{localizeKM "kingdom.lumber"}}</b>: {{lumber}}</li>
    <li><b>{{localizeKM "kingdom.stone"}}</b>: {{stone}}</li>
    <li><b>{{localizeKM "kingdom.luxuries"}}</b>: {{luxuries}}</li>
</ul>