<h2>Collecting Resources</h2>
<ul>
    <li><b>Resource Points</b>: {{rp}}</li>
    <li><b>Ore</b>: {{ore}}</li>
    <li><b>Lumber</b>: {{lumber}}</li>
    <li><b>Stone</b>: {{stone}}</li>
    <li><b>Luxuries</b>: {{luxuries}}</li>
</ul>