<div hidden>{{{meta}}}</div>
{{#if title}}<h3>{{{title}}}</h3>{{/if}}
{{#if preHtml}}{{{preHtml}}}{{/if}}
<b>{{#if original}}<span class="strike-through">{{original}}</span> {{/if}}{{degree}}</b>{{#if message}}: {{{message}}}{{/if}}
{{#if postHtml}}{{{postHtml}}}{{/if}}
