<h2>{{localizeKM "chatMessages.endTurn.title"}}</h2>
<ul>
    <li>{{localizeKM "chatMessages.endTurn.resetRP"}}</li>
    <li>{{localizeKM "chatMessages.endTurn.reduceMods"}}</li>
    <li>{{localizeKM "chatMessages.endTurn.resetSolutions"}}</li>
    <li>{{localizeKM "chatMessages.endTurn.moveValues"}}</li>
</ul>