<h3>Kingdom Building, Camping & Weather</h3>

<p>You've just enabled the <b>Kingdom Building, Camping & Weather</b> module for PFRPG 2e. This module is licensed under
    the OGL
    and
    AGPLv3 (see {{{license}}}).
    To get started, drag the following macros to
    your macro hotbar and launch them:</p>

<ul>
    <li>{{{camping}}}</li>
    <li>{{{kingdom}}}</li>
</ul>

<p>You can view the instruction manual here: {{{manual}}}. Make sure to carefully review the {{{upgrading}}} when
    updating to major releases.</p>

<p>All macros and journals can be found in the Compendium Tab!</p>

<button type="button" class="km-disable-firstrun-message">Don't show this again</button>