<p>Paid Structure:</p>
<ul>
    {{#if rp}}<li><b>Resource Points</b>: {{rp}}</li>{{/if}}
    {{#if lumber}}<li><b>Lumber</b>: {{lumber}}</li>{{/if}}
    {{#if luxuries}}<li><b>Luxuries</b>: {{luxuries}}</li>{{/if}}
    {{#if stone}}<li><b>Stone</b>: {{stone}}</li>{{/if}}
    {{#if ore}}<li><b>Ore</b>: {{ore}}</li>{{/if}}
</ul>