<p>{{localizeKM "kingdom.paidStructure"}}:</p>
<ul>
    {{#if rp}}<li><b>{{localizeKM "kingdom.resourcePoints"}}</b>: {{rp}}</li>{{/if}}
    {{#if lumber}}<li><b>{{localizeKM "kingdom.lumber"}}</b>: {{lumber}}</li>{{/if}}
    {{#if luxuries}}<li><b>{{localizeKM "kingdom.luxuries"}}</b>: {{luxuries}}</li>{{/if}}
    {{#if stone}}<li><b>{{localizeKM "kingdom.stone"}}</b>: {{stone}}</li>{{/if}}
    {{#if ore}}<li><b>{{localizeKM "kingdom.ore"}}</b>: {{ore}}</li>{{/if}}
</ul>