<span class="km-skill-check-header">Skill Check: {{label}}, DC {{dc}}</span>
<div class="km-roll-meta" hidden
     data-activity-id="{{activityId}}"
     data-degree="{{degree}}"
     data-roll-mode="{{rollMode}}"
     data-kingdom-actor-uuid="{{actorUuid}}"
     data-skill="{{skill}}"
     data-modifier="{{modifier}}"
     data-modifier-with-creative-solution="{{modifierWithCreativeSolution}}"
     data-fortune="{{fortune}}"
     data-dc="{{dc}}"
     {{#if upgrades}}data-upgrades="{{upgrades}}"{{/if}}
    {{#if downgrades}}data-downgrades="{{downgrades}}"{{/if}}
    {{#if additionalChatMessages}}data-additional-chat-messages="{{additionalChatMessages}}"{{/if}}
>
</div>
<hr>
<div class="km-modifier-breakdown">
    {{#each creativeSolutionPills}}
        <span {{#unless ../isCreativeSolution}}hidden="hidden"{{/unless}}
              class="km-modifier-pill km-creative-solution-pills">{{this}}</span>
    {{/each}}
    {{#each pills}}
        <span {{#if ../isCreativeSolution}}hidden="hidden"{{/if}} class="km-modifier-pill">{{this}}</span>
    {{/each}}
</div>