<span class="km-skill-check-header">Skill Check: {{label}}, DC {{dc}}</span>
<div class="km-kingdom-actor-uuid" data-uuid="{{actorUuid}}"></div>
<div class="km-roll-meta" hidden
     data-activity-id="{{activityId}}"
     data-degree="{{degree}}"
     data-roll-mode="{{rollMode}}"
     data-modifier="{{modifier}}"
>
</div>
<hr>
<div class="km-modifier-breakdown">
    {{#each pill}}
        <span class="km-modifier-pill">{{this}}</span>
    {{/each}}
</div>