<h3>Constructing {{name}}</h3>
{{#unless free}}
    <button type="button"
            data-rp="{{cost.rp}}"
            data-lumber="{{cost.lumber}}"
            data-luxuries="{{cost.luxuries}}"
            data-stone="{{cost.stone}}"
            data-ore="{{cost.ore}}"
            data-kingdom-actor-uuid="{{actorUuid}}"
            class="km-pay-structure">
        <b>Pay</b>: {{cost.label}}
    </button>
{{/unless}}
<p>Drag onto scene to build{{#if slowedLink}} and apply {{{slowedLink}}}{{/if}}:</p>
<p>{{{link}}}</p>
{{#if messages}}
    <hr>
    {{#each messages}}
        <div>{{{this}}}</div>
    {{/each}}
{{/if}}