<h3>{{localizeKM "kingdom.gainingUnrest"}}</h3>
<ul>
    {{#if overcrowded}}<li><b>{{localizeKM "chatMessages.unrest.overcrowded"}}</b>: {{overcrowded}}</li>{{/if}}
    {{#if secondary}}<li><b>{{localizeKM "chatMessages.unrest.secondaryTerritory"}}</b>: {{secondary}}</li>{{/if}}
    {{#if atWar}}<li><b>{{localizeKM "chatMessages.unrest.atWar"}}</b>: {{atWar}}</li>{{/if}}
    {{#if rulerVacant}}<li><b>{{localizeKM "chatMessages.unrest.rulerVacant"}}</b>: {{rulerVacant}}</li>{{/if}}
    <li><b>{{localizeKM "applications.total"}}</b>: {{total}}</li>
</ul>