<h3>Gaining Unrest</h3>
<ul>
    {{#if overcrowded}}<li><b>Overcrowded Settlements</b>: {{overcrowded}}</li>{{/if}}
    {{#if secondary}}<li><b>At Least One Secondary Territory</b>: {{secondary}}</li>{{/if}}
    {{#if atWar}}<li><b>Kingdom at War</b>: {{atWar}}</li>{{/if}}
    {{#if rulerVacant}}<li><b>Ruler Vacancy Penalty</b>: {{rulerVacant}}</li>{{/if}}
    <li><b>Total</b>: {{total}}</li>
</ul>