<div hidden class="km-upgrade-result"
     data-roll-mode="{{rollMode}}"
     data-activity-id="{{activityId}}"
     data-degree="{{degree}}"
     data-kingdom-actor-uuid="{{actorUuid}}"
     {{#if notes}}data-notes="{{notes}}"{{/if}}
     {{#if additionalChatMessages}}data-additional-chat-messages="{{additionalChatMessages}}"{{/if}}></div>