<form>
    <table class="km-table">
        <tr>
            <th>Bonus Feat</th>
            <th>Minimum Level</th>
            <th>Prerequisites</th>
            <th title="Comes With Automation">Auto</th>
        </tr>
        <tr>
            <td>
                <select name="selected">
                    {{selectOptions feats valueAttr="name" labelAttr="name" selected=selected}}
                </select>
            </td>
            <td>{{feat.level}}</td>
            <td>{{feat.prerequisites}}</td>
            <td title="{{feat.automationNotes}}">
                {{#if feat.automationNotes}}
                    <i class="fa-regular fa-circle-xmark"></i>
                {{else}}
                    <i class="fa-solid fa-circle-check"></i>
                {{/if}}
            </td>
        </tr>
        {{#if feat.text}}
            <tr>
                <td colspan="5">{{feat.text}}</td>
            </tr>
        {{/if}}
    </table>
    <button>Add</button>
</form>
