<div><p>Use the same id as an existing activity to override it. The ID is the name in lowercase separated by hyphens,
    e.g. "Do Something" becomes "do-something".</p>
    <form class="simple-dialog-form">
        <div>
            <label for="km-add-kingdom-activity-id">Id</label>
            <input type="text" name="id" placeholder="my-custom-activity" id="km-add-kingdom-activity-id" value="{{id}}"
                   {{#if edit}}disabled{{/if}}>
        </div>
        <div>
            <label for="km-add-kingdom-activity-title">Title</label>
            <input type="text" name="title" id="km-add-kingdom-activity-title" value="{{title}}">
        </div>
        <div>
            <label for="km-add-kingdom-activity-description">Description</label>
            <textarea name="description"
                      id="km-add-kingdom-activity-description">{{description}}</textarea>
        </div>
        <div>
            <label for="km-add-kingdom-activity-hint">Hint</label>
            <textarea name="hint" id="km-add-kingdom-activity-hint">{{hint}}</textarea>
        </div>
        <div>
            <label for="km-add-kingdom-activity-special">Special</label>
            <textarea name="special" id="km-add-kingdom-activity-special">{{special}}</textarea>
        </div>
        <div>
            <label for="km-add-kingdom-activity-requirement">Requirement</label>
            <textarea name="requirement"
                      id="km-add-kingdom-activity-requirement">{{requirement}}</textarea>
        </div>
        <div>
            <label for="km-add-kingdom-activity-phase">Phase</label>
            <select id="km-add-kingdom-activity-phase" name="phase">
                {{selectOptions phases selected=phase}}
            </select>
        </div>
        <div>
            <div class="label">Skills</div>
            <div>{{> modules/pf2e-kingmaker-tools/templates/common/skills.partial.hbs skills=skills}}</div>
        </div>
        <div>
            <label for="km-add-kingdom-activity-dc">DC</label>
            <select id="km-add-kingdom-activity-dc" name="dc">
                {{selectOptions dcs selected=dc}}
            </select>
        </div>
        <div>
            <label for="km-add-kingdom-activity-dc-adjustment">DC Adjustment</label>
            <input type="number" name="dcAdjustment" id="km-add-kingdom-activity-dc-adjustment"
                   value="{{dcAdjustment}}">
        </div>
        <div>
            <label for="km-add-kingdom-activity-once-per-round">Once Per Round</label>
            <input type="checkbox" name="oncePerRound" id="km-add-kingdom-activity-once-per-round" {{checked
                    oncePerRound}}>
        </div>
        <div>
            <label for="km-add-kingdom-activity-fortune">Fortune</label>
            <input type="checkbox" name="fortune" id="km-add-kingdom-activity-fortune" {{checked fortune}}>
        </div>
        <div>
            <label for="km-add-kingdom-activity-critical-success">Critical Success</label>
            <textarea name="criticalSuccess"
                      id="km-add-kingdom-activity-critical-success">{{criticalSuccess}}</textarea>
        </div>
        <div>
            <label for="km-add-kingdom-activity-success">Success</label>
            <textarea name="success"
                      id="km-add-kingdom-activity-success">{{success}}</textarea>
        </div>
        <div>
            <label for="km-add-kingdom-activity-failure">Failure</label>
            <textarea name="failure"
                      id="km-add-kingdom-activity-failure">{{failure}}</textarea>
        </div>
        <div>
            <label for="km-add-kingdom-activity-critical-failure">Critical Failure</label>
            <textarea name="criticalFailure"
                      id="km-add-kingdom-activity-critical-failure">{{criticalFailure}}</textarea>
        </div>
    </form>
    {{#each errors}}
        <p class="error">{{this}}</p>
    {{/each}}
    <button type="button" class="save" {{#if errors}}disabled{{/if}}>Save <i class="fa-solid fa-save"></i></button>
</div>