<form>
    {{#if armies}}
        <p><b>Note</b>: Only armies in a folder named <b>Recruitable Armies</b> which are player owned will show up in
            this
            dialog! For more armies, check out the <b>Armies</b> folder in the <b>Kingmaker</b> Bestiary.</p>
        <table class="km-table">
            <thead>
            <th>Army</th>
            <th>Type</th>
            <th>DC</th>
            <th>Special</th>
            <th>Recruit</th>
            </thead>
            <tbody>
            {{#each armies}}
                <tr>
                    <td>{{{link}}}</td>
                    <td>{{type}}</td>
                    <td>{{dc}}</td>
                    <td>{{#if special}}<i class="fa-solid fa-circle-check"></i>{{/if}}</td>
                    <td>
                        <button type="button" class="km-recruit-army" data-id="{{uuid}}">Recruit
                        </button>
                    </td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    {{else}}
        {{#if isGM}}
            <button class="km-import-basic-armies">Import Basic Armies</button>
        {{else}}
            <p class="km-import-notice">No structures imported, ask your GM to open this window and click on <b>Import
                Basic Armies</b></p>
        {{/if}}
    {{/if}}
</form>