<form>
    <h2>{{title}}</h2>

    {{#if invalid}}
        <div>No valid skill found. This is most likely due to the activity requiring a higher skill proficiency than
            currently available.
        </div>
    {{else}}
        <div class="simple-dialog-form">
            <div>
                <label for="km-check-roll-mode">Roll Mode</label>
                <select name="rollMode" id="km-check-roll-mode">
                    {{selectOptions rollModeChoices selected=rollMode}}
                </select>
            </div>
            {{#if activity}}
                <div>
                    <label for="km-applicable-skills">Applicable Skills:</label>
                    <select id="km-applicable-skills" name="selectedSkill">
                        {{selectOptions selectableSkills selected=selectedSkill}}
                    </select>
                    <input type="hidden" name="phase" value="{{phase}}">
                </div>
            {{else}}
                <input type="hidden" name="selectedSkill" value="{{selectedSkill}}">
                <div>
                    <label for="km-event-phase-toggle">Phase:</label>
                    <select name="phase">
                        {{selectOptions phases selected=phase}}
                    </select>
                </div>
            {{/if}}
            <div>
                <label for="km-check-dc">DC:</label>
                <input id="km-check-dc" type="number" value="{{dc}}" name="dc">
            </div>
        </div>

        {{#if modifiers.modifiers}}
            <h3>Modifier Breakdown</h3>
            <table class="km-table">
                <tr>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Value</th>
                    <th>Enabled</th>
                    <th>Override</th>
                    <th title="If enabled, remove modifier after roll">Consumable</th>
                </tr>
                {{#each modifiers.modifiers}}
                    <tr>
                        <td>{{name}}</td>
                        <td>{{type}}</td>
                        <td>{{value}}</td>
                        <td>
                            {{#if enabled}}
                                <i class="fa-solid fa-circle-check"></i>
                            {{else}}
                                <i class="fa-regular fa-circle-xmark"></i>
                            {{/if}}
                        </td>
                        <td>
                            <select name="overrideModifiers.{{id}}">
                                {{selectOptions ../overrides selected=override}}
                            </select>
                        </td>
                        <td title="If enabled, remove modifier after roll">
                            {{#if consumable}}
                                <i class="fa-solid fa-circle-check"></i>
                            {{else}}
                                <i class="fa-regular fa-circle-xmark"></i>
                            {{/if}}
                        </td>
                    </tr>
                {{/each}}
            </table>
        {{/if}}

        <h3>Custom modifiers</h3>
        <table class="km-table">
            <tr>
                <th>Type</th>
                <th>Bonus</th>
                <th>Penalty</th>
            </tr>
            <tr>
                <td>Status</td>
                <td><input type="number" value="{{customModifiers.status.bonus}}" name="customModifiers.status.bonus">
                </td>
                <td><input type="number" value="{{customModifiers.status.penalty}}"
                           name="customModifiers.status.penalty"></td>
            </tr>
            <tr>
                <td>Circumstance</td>
                <td><input type="number" value="{{customModifiers.circumstance.bonus}}"
                           name="customModifiers.circumstance.bonus"></td>
                <td><input type="number" value="{{customModifiers.circumstance.penalty}}"
                           name="customModifiers.circumstance.penalty"></td>
            </tr>
            <tr>
                <td>Item</td>
                <td><input type="number" value="{{customModifiers.item.bonus}}" name="customModifiers.item.bonus"></td>
                <td><input type="number" value="{{customModifiers.item.penalty}}" name="customModifiers.item.penalty">
                </td>
            </tr>
            <tr>
                <td>Untyped</td>
                <td><input type="number" value="{{customModifiers.untyped.bonus}}" name="customModifiers.untyped.bonus">
                </td>
                <td><input type="number" value="{{customModifiers.untyped.penalty}}"
                           name="customModifiers.untyped.penalty"></td>
            </tr>
        </table>

        <div class="activity-choice">
            <button type="button" id="km-roll-skill-assurance"
                    data-modifier="{{modifiers.assurance}}"
                    data-modifier-creative-solution="{{creativeSolutionModifier}}"
                    data-modifier-supernatural-solution="{{supernaturalSolutionModifier}}"
                    data-type="{{title}}"
                    data-skill="{{selectedSkill}}"
                    data-modifier-breakdown="{{modifierBreakdown}}"
                    {{#if activity}}data-activity="{{activity}}"{{/if}}
                    data-dc="{{dc}}">
                Assurance {{modifiers.assurance}} <i class="fa-solid fa-dice-d20"></i></button>
            <button type="button" id="km-roll-skill"
                    {{#if activity}}data-activity="{{activity}}"{{/if}}
                    data-skill="{{selectedSkill}}"
                    data-dc="{{dc}}"
                    data-type="{{title}}"
                    data-modifier-breakdown="{{modifierBreakdown}}"
                    data-creative-solution-modifier="{{creativeSolutionModifier}}"
                    data-supernatural-solution-modifier="{{supernaturalSolutionModifier}}"
                    data-modifier="{{modifiers.total}}">Roll
                {{modifiers.totalLabel}}
                <i class="fa-solid fa-dice-d20"></i></button>
        </div>
    {{/if}}
</form>
