{{#if effects}}
    <table class="km-table">
        <tr>
            <th>Name</th>
            <th>Value</th>
            <th>Turns</th>
            <th>Consumable</th>
            <th>Delete</th>
        </tr>
        {{#each effects}}
            <tr>
                <td>{{name}}</td>
                <td>{{effect}}</td>
                <td>{{turns}}</td>
                <td>
                    {{#if consumable}}
                        <i class="fa-solid fa-circle-check"></i>
                    {{else}}
                        <i class="fa-regular fa-circle-xmark"></i>
                    {{/if}}
                </td>
                <td>
                    <button type="button" class="icon-action km-delete-effect" data-delete-index="{{@index}}"><i
                            class="fa-solid fa-trash"></i></button>
                </td>
            </tr>
        {{/each}}
    </table>
{{/if}}
<button type="button" id="km-add-effect">Add Effect <i class="fa-solid fa-plus"></i></button>
