<h2>Feats</h2>
{{#if levelFeats}}
    <table class="km-table">
        <tr>
            <th>Level</th>
            <th>Feat</th>
            <th>Minimum Level</th>
            <th>Prerequisites</th>
            <th title="Comes With Automation">Auto</th>
        </tr>
        {{#each levelFeats}}
            <tr>
                <td>{{takenAt}}<input type="hidden" name="feats.{{@index}}.level" value="{{takenAt}}"></td>
                <td>
                    <select name="feats.{{@index}}.id">
                        {{selectOptions ../featIds selected=name}}
                    </select>
                </td>
                <td>{{level}}</td>
                <td>{{prerequisites}}</td>
                <td {{#if automationNotes}}title="{{automationNotes}}"{{/if}}>
                    {{#if automationNotes}}
                        <i class="fa-regular fa-circle-xmark"></i>
                    {{else}}
                        <i class="fa-solid fa-circle-check"></i>
                    {{/if}}
                </td>
            </tr>
            {{#if text}}
                <tr>
                    <td colspan="5" class="left-align">{{text}}</td>
                </tr>
            {{/if}}
        {{/each}}
    </table>
{{/if}}

{{#if bonusFeats}}
    <table class="km-table">
        <tr>
            <th>Bonus Feat</th>
            <th>Minimum Level</th>
            <th>Prerequisites</th>
            <th title="Comes With Automation">Auto</th>
            <th>Remove</th>
        </tr>
        {{#each bonusFeats}}
            <tr>
                <td>
                    <select name="bonusFeats.{{@index}}.id">
                        {{selectOptions ../featIds selected=name}}
                    </select>
                </td>
                <td>{{level}}</td>
                <td>{{prerequisites}}</td>
                <td {{#if automationNotes}}title="{{automationNotes}}"{{/if}}>
                    {{#if automationNotes}}
                        <i class="fa-regular fa-circle-xmark"></i>
                    {{else}}
                        <i class="fa-solid fa-circle-check"></i>
                    {{/if}}
                </td>
                <td>
                    <button type="button" class="icon-action km-delete-bonus-feat" data-delete-index="{{@index}}"><i
                            class="fa-solid fa-trash"></i></button>
                </td>
            </tr>
            {{#if text}}
                <tr>
                    <td colspan="5" class="left-align">{{text}}</td>
                </tr>
            {{/if}}
        {{/each}}
    </table>
{{/if}}
<button type="button" id="km-add-bonus-feat">Add Bonus Feat <i class="fa-solid fa-plus"></i></button>

<h2>Features</h2>
<table class="km-table">
    <tr>
        <th>Level</th>
        <th>Features</th>
    </tr>
    {{#each featuresByLevel}}
        <tr>
            <td>{{level}}</td>
            <td class="left-align">{{features}}</td>
        </tr>
    {{/each}}
</table>

{{#each uniqueFeatures}}
    <h3>Level {{level}}: {{name}}</h3>
    <p>{{description}}</p>
{{/each}}
