<table class="km-table">
    <tr>
        <th>Level</th>
        <th>Feat</th>
        <th>Minimum Level</th>
        <th>Prerequisites</th>
    </tr>
    {{#each levelFeats}}
        <tr>
            <td>{{takenAt}}<input type="hidden" name="feats.{{@index}}.level" value="{{takenAt}}"></td>
            <td>
                <select name="feats.{{@index}}.id">
                    {{#select name}}
                        {{#each ../featIds}}
                            <option value="{{this}}">{{this}}</option>
                        {{/each}}
                    {{/select}}
                </select>
            </td>
            <td>{{level}}</td>
            <td>{{prerequisites}}</td>
        </tr>
        {{#if text}}
            <tr>
                <td colspan="4">{{text}}</td>
            </tr>
        {{/if}}
    {{/each}}
</table>

<table class="km-table">
    <tr>
        <th>Bonus Feat</th>
        <th>Minimum Level</th>
        <th>Prerequisites</th>
        <th>Remove/Add</th>
    </tr>
    {{#each bonusFeats}}
        <tr>
            <td>
                <select name="bonusFeats.{{@index}}.id">
                    {{#select name}}
                        {{#each ../featIds}}
                            <option value="{{this}}">{{this}}</option>
                        {{/each}}
                    {{/select}}
                </select>
            </td>
            <td>{{level}}</td>
            <td>{{prerequisites}}</td>
            <td>
                <button class="icon-action"><i class="fa-solid fa-trash"></i></button>
            </td>
        </tr>
        {{#if text}}
            <tr>
                <td colspan="4">{{text}}</td>
            </tr>
        {{/if}}
    {{/each}}
    <tr>
        <td>
            <select name="newBonusFeat">
                {{#select newBonusFeat.name}}
                    {{#each featIds}}
                        <option value="{{this}}">{{this}}</option>
                    {{/each}}
                {{/select}}
            </select>
        </td>
        <td>{{newBonusFeat.level}}</td>
        <td>{{newBonusFeat.prerequisites}}</td>
        <td>
            <button class="icon-action"><i class="fa-solid fa-plus"></i></button>
        </td>
    </tr>
    {{#if newBonusFeat.text}}
        <tr>
            <td colspan="4">{{newBonusFeat.text}}</td>
        </tr>
    {{/if}}
</table>
