{{#if groups}}
    <table class="km-table">
        <tr>
            <th>Group</th>
            <th>Negotiation DC</th>
            <th>At War</th>
            <th>Relations</th>
            <th>Remove</th>
        </tr>
        {{#each groups}}
            <tr>
                <td><input type="text" name="groups.{{@index}}.name" value="{{name}}"></td>
                <td class="negotiation-dc-column"><input type="number" name="groups.{{@index}}.negotiationDC"
                                                         value="{{negotiationDC}}"
                                                         data-dtype="Number"></td>
                <td class="at-war-column"><input type="checkbox" {{checked atWar}} name="groups.{{@index}}.atWar"></td>
                <td>
                    <select name="groups.{{@index}}.relations">
                        {{selectOptions ../groupRelationTypes selected=relations}}
                    </select>
                </td>
                <td>
                    <button type="button" class="icon-action km-delete-group" data-delete-index="{{@index}}"><i
                            class="fa-solid fa-trash"></i></button>
                </td>
            </tr>
        {{/each}}
    </table>
{{/if}}
<button type="button" id="km-add-group">Add Group <i class="fa-solid fa-plus"></i></button>

