<table class="km-table">
    <tr>
        <th>Group</th>
        <th>Negotiation DC</th>
        <th>At War</th>
        <th>State</th>
        <th>Remove</th>
    </tr>
    {{#each groups}}
        <tr>
            <td>{{name}}<input type="hidden" name="tradeAgreements.{{@index}}.name" value="{{name}}"></td>
            <td>{{negotiationDC}}<input type="hidden" name="tradeAgreements.{{@index}}.negotiationDC"
                                        value="{{negotiationDC}}" data-dtype="Number"></td>
            <td><input type="checkbox" {{checked atWar}} name="tradeAgreements.{{@index}}.atWar"></td>
            <td>
                <select name="tradeAgreements.{{@index}}.relations">
                    {{#select relations}}
                        {{#each ../groupRelationTypes}}
                            <option value="{{value}}">{{label}}</option>
                        {{/each}}
                    {{/select}}
                </select>
            </td>
            <td>
                <button type="button" class="icon-action km-delete-group" data-delete-index="{{@index}}"><i class="fa-solid fa-trash"></i></button>
            </td>
        </tr>
    {{/each}}
</table>
<button type="button" id="km-add-group">Add Group <i class="fa-solid fa-plus"></i></button>

