<div>
    <p><b>Note</b>: You need to reload the kingdom sheet after changing these settings.</p>

    <form class="simple-dialog-form">
        <div>
            <label>Amiri</label>
            <input name="companions.amiri" type="checkbox" {{checked companions.amiri}}>
        </div>
        <div>
            <label>Ekundayo</label>
            <input name="companions.ekunday" type="checkbox" {{checked companions.ekunday}}>
        </div>
        <div>
            <label>Harrim</label>
            <input name="companions.harrim" type="checkbox" {{checked companions.harrim}}>
        </div>
        <div>
            <label>Jaethal</label>
            <input name="companions.jaethal" type="checkbox" {{checked companions.jaethal}}>
        </div>
        <div>
            <label>Jubilost</label>
            <input name="companions.jubilost" type="checkbox" {{checked companions.jubilost}}>
        </div>
        <div>
            <label>Kalikke</label>
            <input name="companions.kalikke" type="checkbox" {{checked companions.kalikke}}>
        </div>
        <div>
            <label>Kanerah</label>
            <input name="companions.kanerah" type="checkbox" {{checked companions.kanerah}}>
        </div>
        <div>
            <label>Linzi</label>
            <input name="companions.linzi" type="checkbox" {{checked companions.linzi}}>
        </div>
        <div>
            <label>Nok-Nok</label>
            <input name="companions.noknok" type="checkbox" {{checked companions.noknok}}>
        </div>
        <div>
            <label>Octavia</label>
            <input name="companions.octavia" type="checkbox" {{checked companions.octavia}}>
        </div>
        <div>
            <label>Regongar</label>
            <input name="companions.regongar" type="checkbox" {{checked companions.regongar}}>
        </div>
        <div>
            <label>Tristian</label>
            <input name="companions.tristian" type="checkbox" {{checked companions.tristian}}>
        </div>
        <div>
            <label>Valerie</label>
            <input name="companions.valerie" type="checkbox" {{checked companions.valerie}}>
        </div>
    </form>
</div>