{{#if settlements}}
    <table class="km-table">
        <tr>
            <th>Name</th>
            <th>Level</th>
            <th>Type</th>
            <th>Overcrowded</th>
            <th>Secondary</th>
            <th>Open</th>
        </tr>
        {{#each settlements}}
            <tr>
                <td>{{name}}<input type="hidden" value="{{id}}" name="settlements.{{@index}}.id"></td>
                <td><input type="number" value="{{settlementLevel}}" style="width: 30px"
                           name="settlements.{{@index}}.settlementLevel" {{#if isUser}}disabled{{/if}}></td>
                <td>
                    {{#select settlementType}}
                        <select name="settlements.{{@index}}.settlementType" {{#if isUser}}disabled{{/if}}>
                            <option value="-">-</option>
                            <option value="Capital">Capital</option>
                            <option value="Settlement">Settlement</option>
                        </select>
                    {{/select}}
                </td>
                <td><input type="checkbox" name="settlements.{{@index}}.overcrowded" {{checked overcrowded}} {{#if
                        isUser}}disabled{{/if}}></td>
                <td><input type="checkbox" name="settlements.{{@index}}.secondaryTerritory" {{checked
                        secondaryTerritory}} {{#if isUser}}disabled{{/if}}></td>
                <td>
                    <button type="button" class="inspect-settlement" data-id="{{id}}"><i
                            class="fa-solid fa-magnifying-glass"></i></button>
                </td>
            </tr>
        {{/each}}
    </table>
{{/if}}
<button id="make-current-scene-settlement" {{#unless canAddCurrentSceneSettlement}}disabled{{/unless}}>Add Current Scene
    <i class="fa-solid fa-plus"></i></button>
