{{#if settlements}}
    <table class="km-table">
        <tr>
            <th>Name</th>
            <th>Level</th>
            <th>Capital</th>
            <th>Overcrowded</th>
            <th>Lacks Bridge</th>
            <th>Delete</th>
            <th>Edit</th>
            <th>Inspect</th>
        </tr>
        {{#each settlements}}
            <tr>
                <td><a href="#" class="km-view-settlement-scene" data-id="{{sceneId}}">{{name}}</a></td>
                <td>{{level}}</td>
                <td>
                    {{#if isCapital}}
                        <i class="fa-solid fa-circle-check"></i>
                    {{else}}
                        <i class="fa-regular fa-circle-xmark"></i>
                    {{/if}}
                </td>
                <td>
                    {{#if overcrowded}}
                        <i class="fa-solid fa-circle-check"></i>
                    {{else}}
                        <i class="fa-regular fa-circle-xmark"></i>
                    {{/if}}
                </td>
                <td>
                    {{#if lacksBridge}}
                        <i class="fa-solid fa-circle-check"></i>
                    {{else}}
                        <i class="fa-regular fa-circle-xmark"></i>
                    {{/if}}
                </td>
                <td>
                    <button type="button" class="icon-action km-delete-settlement"
                            data-delete-index="{{@index}}"><i
                            class="fa-solid fa-trash"></i></button>
                </td>
                <td>
                    <button type="button" class="icon-action edit-settlement" data-index="{{@index}}"><i
                            class="fa-solid fa-bars"></i></button>
                </td>
                <td>
                    <button type="button" class="icon-action inspect-settlement" data-id="{{sceneId}}"><i
                            class="fa-solid fa-magnifying-glass"></i></button>
                </td>
            </tr>
        {{/each}}
    </table>
{{/if}}
<button type="button" id="make-current-scene-settlement" {{#unless canAddSettlement}}disabled{{/unless}}>Add Current
    Scene
    <i class="fa-solid fa-plus"></i></button>
