{{#if settlements}}
    <table class="km-table">
        <tr>
            <th>Name</th>
            <th>Level</th>
            <th>Capital</th>
            <th>Overcrowded</th>
            <th>Lacks Bridge</th>
            <th>Delete</th>
            <th>Edit</th>
            <th>Inspect</th>
        </tr>
        {{#each settlements}}
            <tr>
                <td>{{name}}<input type="hidden" value="{{sceneId}}" name="settlements.{{@index}}.sceneId"></td>
                <td>{{level}}</td>
                <td>
                    {{#if isCapital}}
                        <i class="fa-solid fa-circle-check"></i>
                    {{else}}
                        <i class="fa-regular fa-circle-xmark"></i>
                    {{/if}}
                </td>
                <td>
                    {{#if overcrowded}}
                        <i class="fa-solid fa-circle-check"></i>
                    {{else}}
                        <i class="fa-regular fa-circle-xmark"></i>
                    {{/if}}
                </td>
                <td>
                    {{#if lacksBridge}}
                        <i class="fa-solid fa-circle-check"></i>
                    {{else}}
                        <i class="fa-regular fa-circle-xmark"></i>
                    {{/if}}
                </td>
                <td>
                    <button type="button" class="icon-action km-delete-settlement"
                            data-delete-index="{{@index}}"><i
                            class="fa-solid fa-trash"></i></button>
                </td>
                <td>
                    <button type="button" class="icon-action edit-settlement" data-index="{{@index}}"><i
                            class="fa-solid fa-bars"></i></button>
                </td>
                <td>
                    <button type="button" class="icon-action inspect-settlement" data-id="{{sceneId}}"><i
                            class="fa-solid fa-magnifying-glass"></i></button>
                    <input type="hidden" value="{{lots}}" name="settlements.{{@index}}.lots">
                    <input type="hidden" value="{{level}}" name="settlements.{{@index}}.level">
                    <input type="hidden" value="{{waterBorders}}" name="settlements.{{@index}}.waterBorders">
                    <input type="hidden" value="{{type}}" name="settlements.{{@index}}.type">
                    <input type="checkbox" name="settlements.{{@index}}.secondaryTerritory" {{checked secondaryTerritory}} hidden>
                </td>
            </tr>
        {{/each}}
    </table>
{{/if}}
<button type="button" id="make-current-scene-settlement" {{#unless canAddSettlement}}disabled{{/unless}}>Add Current
    Scene
    <i class="fa-solid fa-plus"></i></button>
