<form class="settlement-content">
    <nav class="km-nav">
        <a data-tab="status" class="{{#if statusTab}}active{{/if}}">Status</a>
        <a {{#unless hasBonuses}}hidden{{/unless}} data-tab="bonuses"
           class="{{#if bonusesTab}}active{{/if}}">Bonuses</a>
        <a {{#unless hasStorage}}hidden{{/unless}} data-tab="storage"
           class="{{#if storageTab}}active{{/if}}">Storage</a>
        <a {{#unless hasEffects}}hidden{{/unless}} data-tab="effects"
           class="{{#if effectsTab}}active{{/if}}">Effects</a>
        <a data-tab="shopping" class="{{#if shoppingTab}}active{{/if}}">Shopping</a>
        <a {{#unless hasBuildings}}hidden{{/unless}} data-tab="buildings" class="{{#if buildingsTab}}active{{/if}}">Buildings</a>
    </nav>

    <div {{#unless statusTab}}hidden{{/unless}}>
        <table class="km-table">
            <tr>
                <th>Name</th>
                <td>{{name}}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{type}}</td>
            </tr>
            <tr>
                <th>Settlement Level</th>
                <td>{{level}}</td>
            </tr>
            <tr>
                <th>Residential Buildings</th>
                <td>{{residentialLots}}</td>
            </tr>
            <tr>
                <th>Overcrowded</th>
                <td>
                    {{#if overcrowded}}
                        <i class="fa-solid fa-circle-check"></i>
                    {{else}}
                        <i class="fa-regular fa-circle-xmark"></i>
                    {{/if}}
                </td>
            </tr>
            <tr>
                <th>Secondary Territory</th>
                <td>
                    {{#if secondaryTerritory}}
                        <i class="fa-solid fa-circle-check"></i>
                    {{else}}
                        <i class="fa-regular fa-circle-xmark"></i>
                    {{/if}}
                </td>
            </tr>
            <tr>
                <th>Water Borders</th>
                <td>{{waterBorders}}</td>
            </tr>
            <tr>
                <th>Has Bridge</th>
                <td>
                    {{#if hasBridge}}
                        <i class="fa-solid fa-circle-check"></i>
                    {{else}}
                        <i class="fa-regular fa-circle-xmark"></i>
                    {{/if}}
                </td>
            </tr>
            <tr>
                <th>Required Kingdom Level</th>
                <td>{{config.requiredKingdomLevel}}</td>
            </tr>
            <tr>
                <th>Consumption</th>
                <td>{{consumption}}</td>
            </tr>
            <tr>
                <th>Consumption Surplus</th>
                <td>{{consumptionSurplus}}</td>
            </tr>
            <tr>
                <th>Influence</th>
                <td>{{config.influence}}</td>
            </tr>
            <tr>
                <th>Blocks</th>
                <td>{{lots}}/{{config.maximumLots}}</td>
            </tr>
            <tr>
                <th>Max Item Bonus</th>
                <td>{{config.maxItemBonus}}</td>
            </tr>
            <tr>
                <th>Population</th>
                <td>{{config.population}}</td>
            </tr>
            <tr>
                <th>Capital Investment Possible</th>
                <td>{{capitalInvestmentPossible}}</td>
            </tr>
        </table>
    </div>
    <div {{#unless shoppingTab}}hidden{{/unless}}>
        <table class="km-table">
            {{#each availableItems}}
                <tr>
                    <th>{{label}}</th>
                    <td>Up to level {{value}}</td>
                </tr>
            {{/each}}
        </table>
    </div>
    <div {{#unless storageTab}}hidden{{/unless}}>
        <table class="km-table">
            {{#each storage}}
                <tr>
                    <th>{{label}}</th>
                    <td>{{value}}</td>
                </tr>
            {{/each}}
        </table>
    </div>
    <div {{#unless effectsTab}}hidden{{/unless}}>
        <ul>
            {{#each notes}}
                <li>{{this}}</li>
            {{/each}}
        </ul>
    </div>
    <div {{#unless bonusesTab}}hidden{{/unless}}>
        <table class="km-table">
            {{#if settlementEventBonus}}
                <tr>
                    <th>Settlement Event Item Bonus</th>
                    <td>{{settlementEventBonus}}</td>
                </tr>
            {{/if}}
            {{#if leadershipActivityBonus}}
                <tr>
                    <th>Leadership Activity Item Bonus</th>
                    <td>{{leadershipActivityBonus}}</td>
                </tr>
            {{/if}}
            {{#each skillItemBonuses}}
                <tr>
                    <th>{{label}}</th>
                    <td>
                        <ul>
                            {{#if value}}
                                <li><b>Item Bonus</b>: {{value}}</li>
                            {{/if}}
                            {{#each actions}}
                                <li><b>{{label}}</b>: {{value}}</li>
                            {{/each}}
                        </ul>
                    </td>
                </tr>
            {{/each}}
        </table>
    </div>
    <div {{#unless buildingsTab}}hidden{{/unless}}>
        <ul>
            {{#each builtStructures}}
                <li>{{{link}}} ({{occurrences}})</li>
            {{/each}}
        </ul>
    </div>
</form>
