<h2>Settlements <a href="#" id="km-settlement-size-help"><i class="fa-solid fa-question"></i></a></h2>
{{#if settlements}}
    <table class="km-table">
        <tr>
            <th>Name</th>
            <th>Level (Housing)</th>
            <th>Issues</th>
            <th>Delete</th>
            <th>Edit</th>
            <th>Inspect</th>
        </tr>
        {{#each settlements}}
            <tr>
                <td title="Press CTRL and click to activate instead"><a href="#" class="km-view-settlement-scene"
                                                                        data-id="{{sceneId}}">{{name}}</a>{{#if
                        isCapital}}
                    <i title="Capital" class="fa-solid fa-star"></i>{{/if}}</td>
                <td>{{level}} ({{residentialLots}})
                </td>
                <td>
                    {{#if secondaryTerritory}}
                        <i title="Secondary Territory" class="fa-solid fa-road-circle-xmark"></i>
                    {{/if}}
                    {{#if lacksBridge}}
                        <i title="No Bridge" class="fa-solid fa-bridge-circle-xmark"></i>
                    {{/if}}
                    {{#if overcrowded}}
                        <i title="Overcrowded" class="fa-solid fa-people-roof"></i>
                    {{/if}}
                </td>
                <td>
                    <button type="button" class="icon-action km-delete-settlement"
                            data-delete-index="{{@index}}"><i
                            class="fa-solid fa-trash"></i></button>
                </td>
                <td>
                    <button type="button" class="icon-action edit-settlement" data-index="{{@index}}"><i
                            class="fa-solid fa-bars"></i></button>
                </td>
                <td>
                    <button type="button" class="icon-action inspect-settlement" data-id="{{sceneId}}"><i
                            class="fa-solid fa-magnifying-glass"></i></button>
                </td>
            </tr>
        {{/each}}
    </table>
{{/if}}
<button type="button" id="make-current-scene-settlement" {{#unless canAddSettlement}}disabled{{/unless}}>Add Current
    Scene
    <i class="fa-solid fa-plus"></i></button>
