<form class="km-settings-form">
    <h2>General</h2>
    <div>
        <div class="form-elements">
            <label for="km-kingdom-max-fame-points">Maximum Fame Points</label>
            <input name="maxFamePoints" type="number" id="km-kingdom-max-fame-points"
                   value="{{maxFamePoints}}">
        </div>
    </div>
    <div>
        <div class="form-elements">
            <label for="km-cult-of-the-bloom-events">Enable Cult of the Bloom Events</label>
            <input name="cultOfTheBloomEvents" type="checkbox" id="km-cult-of-the-bloom-events" {{checked
                    cultOfTheBloomEvents}}>
        </div>
        <div class="help">
            <p>If enabled, adds a <b>Cult of the Bloom Events</b> section in <b>Event Phase</b></p>
        </div>
    </div>

    <div>
        <div class="form-elements">
            <label for="km-kingdom-events-roll-mode">Kingdom Events Roll Mode</label>
            <select name="kingdomEventRollMode" id="km-kingdom-events-roll-mode">
                {{selectOptions rollModeChoices selected=kingdomEventRollMode}}
            </select>
        </div>
    </div>
    <div>
        <div class="form-elements">
            <label for="km-kingdom-events-table-name">Kingdom Events Table Name</label>
            <input name="kingdomEventsTable" type="text" id="km-kingdom-events-table-name"
                   value="{{kingdomEventsTable}}">
        </div>
    </div>
    <div>
        <div class="form-elements">
            <label for="km-cult-events-table-name">Cult Events Table Name</label>
            <input name="kingdomCultTable" type="text" id="km-cult-events-table-name" value="{{kingdomCultTable}}">
        </div>
    </div>

    <div>
        <div class="form-elements">
            <label for="km-vk-xp-rules">Vance & Kerenshara XP Rules</label>
            <input name="vkXpRules" type="checkbox" id="km-vk-xp-rules" {{checked vkXpRules}}>
        </div>
        <div class="help">
            <p>Adds additional milestones and increases XP for claiming hexes and converting XP at lower levels</p>
        </div>
    </div>

    <div>
        <div class="form-elements">
            <label for="km-xp-per-claimed-hex">XP Per Claimed Hex</label>
            <input name="xpPerClaimedHex"
                   type="number"
                   id="km-xp-per-claimed-hex"
                   value="{{xpPerClaimedHex}}"
                   {{#if vkXpRules}}disabled{{/if}}>
        </div>
    </div>
    <div>
        <div class="form-elements">
            <label for="km-xp-to-rp-conversion-rate">RP to XP Conversion Rate</label>
            <input name="rpToXPConversionRate"
                   type="number"
                   id="km-xp-to-rp-conversion-rate"
                   value="{{rpToXPConversionRate}}"
                   {{#if vkXpRules}}disabled{{/if}}>
        </div>
    </div>

    <div>
        <div class="form-elements">
            <label for="km-rp-to-xp-conversion-limit">RP to XP Conversion Limit</label>
            <input name="rpToXpConversionLimit"
                   type="number"
                   id="km-rp-to-xp-conversion-limit"
                   value="{{rpToXpConversionLimit}}">
        </div>
    </div>

    <div>
        <div class="form-elements">
            <label for="km-double-skill-increases">Double Skill Increases</label>
            <input name="doubleSkillIncreases" type="checkbox"
                   id="km-double-skill-increases" {{checked doubleSkillIncreases}}>
        </div>
    </div>

    <div>
        <div class="form-elements">
            <label for="km-double-capital-bank">Enable Capital Investment in Capital without Bank</label>
            <input name="capitalInvestmentInCapital" type="checkbox"
                   id="km-double-capital-bank" {{checked capitalInvestmentInCapital}}>
        </div>
    </div>

    <div>
        <div class="form-elements">
            <label for="km-untrained-skill-proficiency">Always Increase Untrained Skills By</label>
            <select name="untrainedSkillProficiency" id="km-untrained-skill-proficiency">
                {{selectOptions untrainedSkillProficiencies selected=untrainedSkillProficiency}}
            </select>
        </div>
    </div>

    <div>
        <div class="form-elements">
            <label for="km-all-structure-item-bonuses-stack">All Structures Item Bonuses Stack</label>
            <input name="allStructuresItemBonusesStack" type="checkbox"
                   id="km-all-structure-item-bonuses-stack" {{checked allStructuresItemBonusesStack}}>
        </div>
        <div class="help"><p>If enabled, groups item bonuses from all structures, regardless of if they are same
            building type</p></div>
    </div>

    <div>
        <div class="form-elements">
            <label for="km-auto-calc-settlement-level">Automatically Calculate Settlement Level</label>
            <input name="autoCalculateSettlementLevel" type="checkbox" id="km-auto-calc-settlement-level" {{checked
                    autoCalculateSettlementLevel}}>
        </div>
        <div class="help">
            <p>Placing structures on the shipped settlement scene blocks automatically sets the settlement's level</p>
        </div>
    </div>

    <div>
        <div class="form-elements">
            <label for="km-automatically-calculate-army-consumption">Automatically Calculate Army Consumption</label>
            <input name="automaticallyCalculateArmyConsumption" type="checkbox"
                   id="km-automatically-calculate-army-consumption" {{checked automaticallyCalculateArmyConsumption}}>
        </div>
        <div class="help"><p>If enabled, gets all visible army tokens on all scenes and sums up their consumption</p>
        </div>
    </div>

    <div>
        <div class="form-elements">
            <label for="km-automatically-calculate-resources">Automatically Calculate Kingdom Resources</label>
            <select name="automateResources" id="km-automatically-calculate-resources">
                {{selectOptions automateResourcesChoices selected=automateResources}}
            </select>
        </div>
        <div class="help"><p>Official Module parses the Stolen Lands data, Tile Based sums up worksites, size and
            farmlands from special Tiles or Drawings, Manual requires you to manage it manually in the <b>Lands</b> tab
        </p>
        </div>
    </div>

    <div>
        <div class="form-elements">
            <label for="km-reduce-lumber-structure-dc">Reduce Lumber Structure's DC by 2</label>
            <input name="reduceDCToBuildLumberStructures" type="checkbox"
                   id="km-reduce-lumber-structure-dc" {{checked reduceDCToBuildLumberStructures}}>
        </div>
        <div class="help"><p>At 8 Influence, as long as a certain companion remains helpful, this reduces the
            Construction DC of
            any structure that has a Lumber cost to construct by 2</p>
        </div>
    </div>

    <div>
        <div class="form-elements">
            <label for="km-expand-magic-use">Expand Magic Use</label>
            <input name="expandMagicUse" type="checkbox"
                   id="km-expand-magic-use" {{checked expandMagicUse}}>
        </div>
        <div class="help"><p>When enabled, you can use Magic for the following activities: Celebrate Holiday, Craft
            Luxuries, Create a Masterpiece, and Rest and Relax</p>
        </div>
    </div>

    <div>
        <div class="form-elements">
            <label for="km-ignore-skill-requirements">Disable Activity Skill Proficiency Requirements</label>
            <input name="ignoreSkillRequirements" type="checkbox" id="km-ignore-skill-requirements" {{checked
                    ignoreSkillRequirements}}>
        </div>
        <div class="help">
            <p>If disabled, all activities can be performed regardless of skill proficiencies</p>
        </div>
    </div>
    <button class="save">Save</button>
</form>