<form class="settlement-content">
    <div>
        <h2>{{name}}</h2>
        <table class="km-table">
            <tr>
                <th>Name</th>
                <td>{{name}}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{type}}</td>
            </tr>
            <tr>
                <th>Settlement Level</th>
                <td>{{level}}</td>
            </tr>
            <tr>
                <th>Residential Lots</th>
                <td>{{residentialLots}}</td>
            </tr>
            <tr>
                <th>Overcrowded</th>
                <td>
                    {{#if overcrowded}}
                        <i class="fa-solid fa-circle-check"></i>
                    {{else}}
                        <i class="fa-regular fa-circle-xmark"></i>
                    {{/if}}
                </td>
            </tr>
            <tr>
                <th>Secondary Territory</th>
                <td>
                    {{#if secondaryTerritory}}
                        <i class="fa-solid fa-circle-check"></i>
                    {{else}}
                        <i class="fa-regular fa-circle-xmark"></i>
                    {{/if}}
                </td>
            </tr>
            <tr>
                <th>Has Bridge</th>
                <td>
                    {{#if hasBridge}}
                        <i class="fa-solid fa-circle-check"></i>
                    {{else}}
                        <i class="fa-regular fa-circle-xmark"></i>
                    {{/if}}
                </td>
            </tr>
            <tr>
                <th>Required Kingdom Level</th>
                <td>{{config.requiredKingdomLevel}}</td>
            </tr>
            <tr>
                <th>Consumption</th>
                <td>{{consumption}}</td>
            </tr>
            <tr>
                <th>Influence</th>
                <td>{{config.influence}}</td>
            </tr>
            <tr>
                <th>Lots</th>
                <td>{{lots}}/{{config.maximumLots}}</td>
            </tr>
            <tr>
                <th>Max Item Bonus</th>
                <td>{{config.maxItemBonus}}</td>
            </tr>
            <tr>
                <th>Population</th>
                <td>{{config.population}}</td>
            </tr>
            <tr>
                <th>Capital Investment Possible</th>
                <td>{{capitalInvestmentPossible}}</td>
            </tr>
            <tr>
                <th>Leadership Activities</th>
                <td>{{leadershipActivities}}</td>
            </tr>
        </table>
        <h2>Available Items</h2>
        <table class="km-table">
            {{#each availableItems}}
                <tr>
                    <th>{{label}}</th>
                    <td>Up to level {{value}}</td>
                </tr>
            {{/each}}
        </table>
        {{#if showStorage}}
            <h2>Storage</h2>
            <table class="km-table">
                {{#each storage}}
                    <tr>
                        <th>{{label}}</th>
                        <td>{{value}}</td>
                    </tr>
                {{/each}}
            </table>
        {{/if}}
        {{#if showNotes}}
            <h2>Building Effects</h2>
            <ul>
                {{#each notes}}
                    <li>{{this}}</li>
                {{/each}}
            </ul>
        {{/if}}
    </div>
    <div>
        <h2>Item Bonuses</h2>
        <table class="km-table">
            {{#if settlementEventBonus}}
                <tr>
                    <th>Settlement Event Item Bonus</th>
                    <td>{{settlementEventBonus}}</td>
                </tr>
            {{/if}}
            {{#if leadershipActivityBonus}}
                <tr>
                    <th>Leadership Activity Item Bonus</th>
                    <td>{{leadershipActivityBonus}}</td>
                </tr>
            {{/if}}
            {{#each skillItemBonuses}}
                <tr>
                    <th>{{label}}</th>
                    <td>
                        <ul>
                            {{#if value}}
                                <li><b>Item Bonus</b>: {{value}}</li>
                            {{/if}}
                            {{#each actions}}
                                <li><b>{{label}}</b>: {{value}}</li>
                            {{/each}}
                        </ul>
                    </td>
                </tr>
            {{/each}}
        </table>
    </div>
</form>
