<form class="km-settings-form">
    <h2>General</h2>
    <div>
        <div class="form-elements">
            <label for="km-cult-of-the-bloom-events">Enable Cult of the Bloom Events</label>
            <input name="cultOfTheBloomEvents" type="checkbox" id="km-cult-of-the-bloom-events" {{checked
                    cultOfTheBloomEvents}}>
        </div>
        <div class="help">
            <p>If enabled, adds a <b>Cult of the Bloom Events</b> section in <b>Event Phase</b></p>
        </div>
    </div>

    <div>
        <div class="form-elements">
            <label for="km-kingdom-events-roll-mode">Kingdom Events Roll Mode</label>
            <select name="kingdomEventRollMode" id="km-kingdom-events-roll-mode">
                {{selectOptions rollModeChoices selected=kingdomEventRollMode}}
            </select>
        </div>
    </div>
    <div>
        <div class="form-elements">
            <label for="km-kingdom-events-table-name">Kingdom Events Table Name</label>
            <input name="kingdomEventsTable" type="text" id="km-kingdom-events-table-name"
                   value="{{kingdomEventsTable}}">
        </div>
    </div>
    <div>
        <div class="form-elements">
            <label for="km-cult-events-table-name">Cult Events Table Name</label>
            <input name="kingdomCultTable" type="text" id="km-cult-events-table-name" value="{{kingdomCultTable}}">
        </div>
    </div>

    <div>
        <div class="form-elements">
            <label for="km-vk-xp-rules">Vance & Kerenshara XP Rules</label>
            <input name="vkXpRules" type="checkbox" id="km-vk-xp-rules" {{checked vkXpRules}}>
        </div>
        <div class="help">
            <p>Adds additional milestones and increases XP for claiming hexes and converting XP at lower levels</p>
        </div>
    </div>

    <div>
        <div class="form-elements">
            <label for="km-xp-per-claimed-hex">XP Per Claimed Hex</label>
            <input name="xpPerClaimedHex"
                   type="number"
                   id="km-xp-per-claimed-hex"
                   value="{{xpPerClaimedHex}}"
                   {{#if vkXpRules}}disabled{{/if}}>
        </div>
    </div>
    <div>
        <div class="form-elements">
            <label for="km-xp-to-rp-conversion-rate">RP to XP Conversion Rate</label>
            <input name="rpToXPConversionRate"
                   type="number"
                   id="km-xp-to-rp-conversion-rate"
                   value="{{rpToXPConversionRate}}"
                   {{#if vkXpRules}}disabled{{/if}}>
        </div>
    </div>

    <div>
        <div class="form-elements">
            <label for="km-rp-to-xp-conversion-limit">RP to XP Conversion Limit</label>
            <input name="rpToXpConversionLimit"
                   type="number"
                   id="km-rp-to-xp-conversion-limit"
                   value="{{rpToXpConversionLimit}}">
        </div>
    </div>

    <div>
        <div class="form-elements">
            <label for="km-double-skill-increases">Double Skill Increases</label>
            <input name="doubleSkillIncreases" type="checkbox"
                   id="km-double-skill-increases" {{checked doubleSkillIncreases}}>
        </div>
    </div>

    <div>
        <div class="form-elements">
            <label for="km-double-capital-bank">Enable Capital Investment in Capital without Bank</label>
            <input name="capitalInvestmentInCapital" type="checkbox"
                   id="km-double-capital-bank" {{checked capitalInvestmentInCapital}}>
        </div>
    </div>

    <div>
        <div class="form-elements">
            <label for="km-untrained-skill-proficiency">Always Increase Untrained Skills By</label>
            <select name="untrainedSkillProficiency" id="km-untrained-skill-proficiency">
                {{selectOptions untrainedSkillProficiencies selected=untrainedSkillProficiency}}
            </select>
        </div>
    </div>

    <div>
        <div class="form-elements">
            <label for="km-all-structure-item-bonuses-stack">All Structures Item Bonuses Stack</label>
            <input name="allStructuresItemBonusesStack" type="checkbox"
                   id="km-all-structure-item-bonuses-stack" {{checked allStructuresItemBonusesStack}}>
        </div>
        <div class="help"><p>If enabled, groups item bonuses from all structures, regardless of if they are same
            building type</p></div>
    </div>

    <div>
        <div class="form-elements">
            <label for="km-auto-calc-settlement-level">Automatically Calculate Settlement Level</label>
            <input name="autoCalculateSettlementLevel" type="checkbox" id="km-auto-calc-settlement-level" {{checked
                    autoCalculateSettlementLevel}}>
        </div>
        <div class="help">
            <p>Placing structures on the shipped settlement scene blocks automatically sets the settlement's level</p>
        </div>
    </div>

    <div>
        <div class="form-elements">
            <label for="km-automatically-calculate-army-consumption">Automatically Calculate Army Consumption</label>
            <input name="automaticallyCalculateArmyConsumption" type="checkbox"
                   id="km-automatically-calculate-army-consumption" {{checked automaticallyCalculateArmyConsumption}}>
        </div>
        <div class="help"><p>If enabled, gets all visible army tokens on all scenes and sums up their consumption</p>
        </div>
    </div>

    <div>
        <div class="form-elements">
            <label for="km-automatically-calculate-resources">Automatically Calculate Kingdom Resources</label>
            <select name="automateResources" id="km-automatically-calculate-resources">
                {{selectOptions automateResourcesChoices selected=automateResources}}
            </select>
        </div>
        <div class="help"><p>Official Module parses the Stolen Lands data, Tile Based sums up worksites, size and
            farmlands from special Tiles or Drawings, Manual requires you to manage it manually in the <b>Lands</b> tab
        </p>
        </div>
    </div>

    <div>
        <div class="form-elements">
            <label for="km-reduce-lumber-structure-dc">Reduce Lumber Structure's DC by 2</label>
            <input name="reduceDCToBuildLumberStructures" type="checkbox"
                   id="km-reduce-lumber-structure-dc" {{checked reduceDCToBuildLumberStructures}}>
        </div>
        <div class="help"><p>At 8 Influence, as long as Ekundayo remains helpful, this reduces the Construction DC of
            any structure that has a Lumber cost to construct by 2</p>
        </div>
    </div>

    <div>
        <div class="form-elements">
            <label for="km-ignore-skill-requirements">Disable Activity Skill Proficiency Requirements</label>
            <input name="ignoreSkillRequirements" type="checkbox" id="km-ignore-skill-requirements" {{checked
                    ignoreSkillRequirements}}>
        </div>
        <div class="help">
            <p>If disabled, all activities can be performed regardless of skill proficiencies</p>
        </div>
    </div>

    <h2>Force Enable Companion Leader Benefits</h2>
    <p>If enabled, will always enable the companion's activity/benefit without having to configure them as a leader</p>
    <div>
        <div class="form-elements">
            <label for="km-amiri">Amiri</label>
            <input id="km-amiri" name="companions.amiri" type="checkbox" {{checked companions.amiri}}>
        </div>
    </div>
    <div>
        <div class="form-elements">
            <label for="km-ekundayo">Ekundayo</label>
            <input id="km-ekundayo" name="companions.ekunday" type="checkbox" {{checked companions.ekunday}}>
        </div>
    </div>
    <div>
        <div class="form-elements">
            <label for="km-harrim">Harrim</label>
            <input id="km-harrim" name="companions.harrim" type="checkbox" {{checked companions.harrim}}>
        </div>
    </div>
    <div>
        <div class="form-elements">
            <label for="km-jaethal">Jaethal</label>
            <input id="km-jaethal" name="companions.jaethal" type="checkbox" {{checked companions.jaethal}}>
        </div>
    </div>
    <div>
        <div class="form-elements">
            <label for="km-jubilost">Jubilost</label>
            <input id="km-jubilost" name="companions.jubilost" type="checkbox" {{checked companions.jubilost}}>
        </div>
    </div>
    <div>
        <div class="form-elements">
            <label for="km-kalikke">Kalikke</label>
            <input id="km-kalikke" name="companions.kalikke" type="checkbox" {{checked companions.kalikke}}>
        </div>
    </div>
    <div>
        <div class="form-elements">
            <label for="km-kanerah">Kanerah</label>
            <input id="km-kanerah" name="companions.kanerah" type="checkbox" {{checked companions.kanerah}}>
        </div>
    </div>
    <div>
        <div class="form-elements">
            <label for="km-linzi">Linzi</label>
            <input id="km-linzi" name="companions.linzi" type="checkbox" {{checked companions.linzi}}>
        </div>
    </div>
    <div>
        <div class="form-elements">
            <label for="km-nok-nok">Nok-Nok</label>
            <input id="km-nok-nok" name="companions.noknok" type="checkbox" {{checked companions.noknok}}>
        </div>
    </div>
    <div>
        <div class="form-elements">
            <label for="km-octavia">Octavia</label>
            <input id="km-octavia" name="companions.octavia" type="checkbox" {{checked companions.octavia}}>
        </div>
    </div>
    <div>
        <div class="form-elements">
            <label for="km-regongar">Regongar</label>
            <input id="km-regongar" name="companions.regongar" type="checkbox" {{checked companions.regongar}}>
        </div>
    </div>
    <div>
        <div class="form-elements">
            <label for="km-tristian">Tristian</label>
            <input id="km-tristian" name="companions.tristian" type="checkbox" {{checked companions.tristian}}>
        </div>
    </div>
    <div>
        <div class="form-elements">
            <label for="km-valerie">Valerie</label>
            <input id="km-valerie" name="companions.valerie" type="checkbox" {{checked companions.valerie}}>
        </div>
    </div>
    <button class="save">Save</button>
</form>