<table class="km-table">
    <tr>
        <th>Settlement</th>
        <th>Blocks</th>
        <th>Population</th>
        <th>Level</th>
        <th>Consumption</th>
        <th>Max. Item bonus</th>
        <th>Influence</th>
    </tr>
    {{#each data}}
        <tr>
            <td>{{type}}</td>
            <td>{{blocks}}</td>
            <td>{{population}}</td>
            <td>{{level}}</td>
            <td>{{consumption}}</td>
            <td>{{maxItemBonus}}</td>
            <td>{{influence}}</td>
        </tr>
    {{/each}}
</table>