<form class="km-base-form">
    <div class="km-container">
        <div class="km-header">
            <table class="km-table">
                <tr>
                    <th>Name</th>
                    <th>Size</th>
                    <th>Type</th>
                    <th>XP</th>
                    <th>Level</th>
                    <th>{{fameLabel}}</th>
                    <th>Next</th>
                    <th {{#unless isGM}}hidden{{/unless}}>Config</th>
                </tr>
                <tr>
                    <td><input id="km-kingdom-name" type="text" value="{{name}}" name="name"></td>
                    <td class="km-size"><input type="number" value="{{size}}" name="size"></td>
                    <td>{{type}}</td>
                    <td><input type="number" value="{{xp}}" name="xp"> / <input type="number" value="{{xpThreshold}}"
                                                                                name="xpThreshold"></td>
                    <td>
                        <select name="level" data-dtype="Number">
                            {{#select level}}
                                {{#each levels}}
                                    <option value="{{this}}">{{this}}</option>
                                {{/each}}
                            {{/select}}
                        </select>
                    </td>
                    <td>
                        <select name="fame.now" data-dtype="Number">
                            {{#select fame.now}}
                                <option value="0">0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                            {{/select}}
                        </select>
                    </td>
                    <td>
                        <select name="fame.next" data-dtype="Number">
                            {{#select fame.next}}
                                <option value="0">0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                            {{/select}}
                        </select>
                    </td>
                    <td {{#unless isGM}}hidden{{/unless}}>
                        <button type="button" class="kingdom-settings"><i class="fas fa-cog"></i></button>
                    </td>
                </tr>
            </table>
        </div>
        <nav class="km-nav">
            <a data-tab="status" class="{{#if statusTab}}active{{/if}}">Status</a>
            <a data-tab="skills" class="{{#if skillsTab}}active{{/if}}">Skills</a>
            <a data-tab="turn" class="{{#if turnTab}}active{{/if}}">Turn</a>
            <a data-tab="groups" class="{{#if groupsTab}}active{{/if}}">Trade Agreements ({{tradeAgreementsSize}})</a>
            <a data-tab="feats" class="{{#if featsTab}}active{{/if}}">Feats</a>
            <a data-tab="features" class="{{#if featuresTab}}active{{/if}}">Features</a>
            <a data-tab="settlements" class="{{#if settlementsTab}}active{{/if}}">Settlements</a>
            <a data-tab="effects" class="{{#if effectsTab}}active{{/if}}">Effects</a>
        </nav>
        <div class="km-sidebar">
            {{> modules/pf2e-kingmaker-tools/templates/kingdom/sidebar.hbs}}
        </div>

        <div class="km-content">
            <div {{#unless statusTab}}hidden{{/unless}}>
                {{> modules/pf2e-kingmaker-tools/templates/kingdom/status.hbs}}
            </div>
            <div {{#unless skillsTab}}hidden{{/unless}}>
                {{> modules/pf2e-kingmaker-tools/templates/kingdom/skills.hbs}}
            </div>
            <div {{#unless turnTab}}hidden{{/unless}}>
                {{> modules/pf2e-kingmaker-tools/templates/kingdom/turn.hbs}}
            </div>
            <div {{#unless groupsTab}}hidden{{/unless}}>
                {{> modules/pf2e-kingmaker-tools/templates/kingdom/groups.hbs}}
            </div>
            <div {{#unless featsTab}}hidden{{/unless}}>
                {{> modules/pf2e-kingmaker-tools/templates/kingdom/feats.hbs}}
            </div>
            <div {{#unless featuresTab}}hidden{{/unless}}>
                {{> modules/pf2e-kingmaker-tools/templates/kingdom/features.hbs}}
            </div>
            <div {{#unless settlementsTab}}hidden{{/unless}}>
                {{> modules/pf2e-kingmaker-tools/templates/kingdom/settlements.hbs}}
            </div>
            <div {{#unless effectsTab}}hidden{{/unless}}>
                {{> modules/pf2e-kingmaker-tools/templates/kingdom/effects.hbs}}
            </div>
        </div>
    </div>
</form>
