<form class="km-base-form">
    <div class="km-container">
        <div class="km-header">
            <table class="km-table">
                <tr>
                    <th>Name</th>
                    <th>Size</th>
                    <th>Type</th>
                    <th>XP</th>
                    <th>Level</th>
                    <th>Fame</th>
                </tr>
                <tr>
                    <td><input type="text" value="{{name}}" name="name"></td>
                    <td><input type="number" value="{{size}}" name="size"></td>
                    <td>{{type}}</td>
                    <td><input type="number" value="{{xp}}" name="xp"> / <input type="number" value="{{xpThreshold}}" name="xpThreshold"></td>
                    <td>
                        <select name="level">
                        {{#select level}}
                            {{#each levels}}
                                <option value="{{this}}">{{this}}</option>
                            {{/each}}
                        {{/select}}
                        </select>
                    </td>
                    <td><input type="number" value="{{fame}}" name="fame"></td>
                </tr>
            </table>
        </div>
        <nav class="km-nav">
            <a data-tab="status" class="{{#if statusTab}}active{{/if}}">Status</a>
            <a data-tab="skills" class="{{#if skillsTab}}active{{/if}}">Skills</a>
            <a data-tab="turn" class="{{#if turnTab}}active{{/if}}">Turn</a>
            <a data-tab="trade-agreements" class="{{#if tradeAgreementsTab}}active{{/if}}">Trade Agreements ({{tradeAgreementsSize}})</a>
            <a data-tab="feats" class="{{#if featsTab}}active{{/if}}">Feats</a>
        </nav>
        <div class="km-sidebar">
            {{> modules/pf2e-kingmaker-tools/templates/kingdom/sidebar.hbs}}
        </div>

        <div class="km-content">
            <div {{#unless statusTab}}hidden{{/unless}}>
                {{> modules/pf2e-kingmaker-tools/templates/kingdom/status.hbs}}
            </div>
            <div {{#unless skillsTab}}hidden{{/unless}}>
                {{> modules/pf2e-kingmaker-tools/templates/kingdom/skills.hbs}}
            </div>
            <div {{#unless turnTab}}hidden{{/unless}}>
                {{> modules/pf2e-kingmaker-tools/templates/kingdom/turn.hbs}}
            </div>
            <div {{#unless tradeAgreementsTab}}hidden{{/unless}}>
                {{> modules/pf2e-kingmaker-tools/templates/kingdom/trade-agreements.hbs}}
            </div>
            <div {{#unless featsTab}}hidden{{/unless}}>
                {{> modules/pf2e-kingmaker-tools/templates/kingdom/feats.hbs}}
            </div>
        </div>
    </div>
</form>
