<table class="km-table">
    <tr>
        <th>Active Settlement</th>
        <td>
            {{#if settlements}}
                <select name="activeSettlement">
                    {{selectOptions settlements valueAttr="sceneId" labelAttr="name" selected=activeSettlement}}
                </select>
            {{else}}
                No settlements found! Add a scene in the <b>Settlements</b> tab
            {{/if}}
        </td>
    </tr>
    <tr>
        <th>Control DC</th>
        <td>{{controlDC}}</td>
    </tr>
    <tr>
        <th>At War</th>
        <td><input type="checkbox" name="atWar" {{checked atWar}}></td>
    </tr>
</table>
<table class="km-table">
    <tr>
        <th>Unrest</th>
        <th>Penalty</th>
        <th>Anarchy At</th>
    </tr>
    <tr>
        <td class="smaller-number-input"><input type="number" value="{{unrest}}" name="unrest"></td>
        <td>{{unrestPenalty}}</td>
        <td>{{anarchyAt}}</td>
    </tr>
</table>
<table class="km-table">
    <tr>
        <th>Ruin</th>
        <th>Value</th>
        <th>Threshold</th>
        <th>Penalty</th>
        <th title="DC 16 Flat Check to reduce Ruin Penalty by 1">Check</th>
    </tr>
    {{#each ruin}}
        <tr>
            <td>{{this.label}}</td>
            <td><input type="number" value="{{this.value}}" name="ruin.{{@key}}.value"></td>
            <td><input type="number" value="{{this.threshold}}" name="ruin.{{@key}}.threshold"></td>
            <td><input type="number" value="{{this.penalty}}" name="ruin.{{@key}}.penalty"></td>
            <td title="DC 16 Flat Check to reduce {{this.label}} Penalty by 1">
                <button class="km-reduce-ruin" data-ruin="{{@key}}" type="button"
                        {{#unless this.canReduce}}disabled{{/unless}}><i class="fa-solid fa-dice-d20"></i></button>
            </td>
        </tr>
    {{/each}}
</table>
<table class="km-table">
    <tr>
        <th>Die Size</th>
        <th>Dice</th>
        <th>Now</th>
        <th title="Next Turn">Next</th>
    </tr>
    <tr>
        <td>{{resourceDieSize}}</td>
        <td>{{resourceDiceNum}}</td>
        <td class="smaller-number-input"><input type="number" value="{{resourceDice.now}}" name="resourceDice.now"></td>
        <td class="smaller-number-input"><input type="number" value="{{resourceDice.next}}" name="resourceDice.next">
        </td>
    </tr>
</table>
<table class="km-table">
    <tr>
        <th>Resource Points</th>
        <th title="Next Turn">Next</th>
    </tr>
    </tr>
    <tr>
        <td><input type="number" value="{{resourcePoints.now}}" name="resourcePoints.now"></td>
        <td><input type="number" value="{{resourcePoints.next}}" name="resourcePoints.next"></td>
    </tr>
</table>
<table class="km-table">
    <tr>
        <th>Supernatural Solutions</th>
        <th>Creative Solutions</th>
    </tr>
    <tr>
        <td><input type="number" value="{{supernaturalSolutions}}" name="supernaturalSolutions"></td>
        <td><input type="number" value="{{creativeSolutions}}" name="creativeSolutions"></td>
    </tr>
</table>
<table class="km-table">
    <tr>
        <th>Commodity</th>
        <th>Now</th>
        <th>Capacity</th>
        <th title="Next Turn">Next</th>
    </tr>
    {{#each commodities}}
        <tr>
            <td>{{label}}</td>
            <td><input type="number" value="{{value}}" name="commodities.now.{{@key}}"></td>
            <td>{{capacity}}</td>
            <td><input type="number" value="{{next}}" name="commodities.next.{{@key}}"></td>
        </tr>
    {{/each}}
</table>
