<table class="km-table">
    <tr>
        <th>Active Settlement</th>
        <td>
            {{#if settlements}}
            <select name="activeSettlement">
                {{#select activeSettlement}}
                    {{#each settlements}}
                        <option value="{{sceneId}}">{{name}}</option>
                    {{/each}}
                {{/select}}
            </select>
            {{else}}
                No settlements found!
            {{/if}}
        </td>
    </tr>
    <tr>
        <th>Control DC</th>
        <td>{{controlDC}}</td>
    </tr>
    <tr>
        <th>At War</th>
        <td><input type="checkbox" name="atWar" {{checked atWar}}></td>
    </tr>
</table>
<table class="km-table">
    <tr>
        <th>Unrest</th>
        <th>Anarchy</th>
    </tr>
    <tr>
        <td><input type="number" value="{{unrest}}" name="unrest"></td>
        <td>{{anarchyAt}}</td>
    </tr>
</table>
<table class="km-table">
    <tr>
        <th>Ruin</th>
        <th>Value</th>
        <th title="Threshold">Thresh.</th>
        <th>Penalty</th>
        <th title="DC 16 Flat Check to reduce Ruin by 1">Check</th>
    </tr>
    {{#each ruin}}
        <tr>
            <td>{{this.label}}</td>
            <td><input type="number" value="{{this.value}}" name="ruin.{{@key}}.value"></td>
            <td><input type="number" value="{{this.threshold}}" name="ruin.{{@key}}.threshold"></td>
            <td><input type="number" value="{{this.penalty}}" name="ruin.{{@key}}.penalty"></td>
            <td title="DC 16 Flat Check to reduce {{this.label}} by 1">
                <button class="km-reduce-ruin" data-ruin="{{@key}}" type="button" {{#unless this.canReduce}}disabled{{/unless}}><i class="fa-solid fa-dice-d20"></i></button>
            </td>
        </tr>
    {{/each}}
</table>
<table class="km-table">
    <tr>
        <th>Die Size</th>
        <th>Dice</th>
        <th>Now</th>
        <th>Next</th>
    </tr>
    <tr>
        <td>{{resourceDieSize}}</td>
        <td>{{resourceDiceNum}}</td>
        <td><input type="number" value="{{resourceDice.now}}" name="resourceDice.now"></td>
        <td><input type="number" value="{{resourceDice.next}}" name="resourceDice.next"></td>
    </tr>
</table>
<table class="km-table">
    <tr>
        <th>Resource Points</th>
        <th title="This will be moved to Turn and reset to 0">Next</th>
    </tr>
    </tr>
    <tr>
        <td><input type="number" value="{{resourcePoints.now}}" name="resourcePoints.now"></td>
        <td><input type="number" value="{{resourcePoints.next}}" name="resourcePoints.next"></td>
    </tr>
</table>
<table class="km-table">
    <tr>
        <th>Consumption</th>
        <!--        <th>Settlement</th>-->
        <th>Armies</th>
        <th>Now</th>
        <th>Next</th>
    </tr>
    <tr>
        <td>{{totalConsumption}}</td>
        <!--        <td>{{settlementConsumption}}</td>-->
        <td><input type="number" value="{{consumption.armies}}" name="consumption.armies"></td>
        <td><input type="number" value="{{consumption.now}}" name="consumption.now"></td>
        <td><input type="number" value="{{consumption.next}}" name="consumption.next"></td>

    </tr>
</table>
<table class="km-table">
    <tr>
        <th>Commodity</th>
        <th>Now</th>
        <th>Capacity</th>
        <th title="This will be moved to Turn and reset to 0">Next</th>
    </tr>
    {{#each commodities}}
        <tr>
            <td>{{label}}</td>
            <td><input type="number" value="{{value}}" name="commodities.now.{{@key}}"></td>
            <td>{{capacity}}</td>
            <td><input type="number" value="{{next}}" name="commodities.next.{{@key}}"></td>
        </tr>
    {{/each}}
</table>
<table class="km-table">
    <tr>
        <th>Worksite</th>
        <th>Quantity</th>
        <th>Resources</th>
    </tr>
    {{#each workSites}}
        <tr>
            <td>{{label}}</td>
            <td><input type="number" value="{{quantity}}" name="workSites.{{@key}}.quantity"></td>
            <td><input type="number" value="{{resources}}" name=workSites.{{@key}}.resources></td>
        </tr>
    {{/each}}
</table>
