<table class="km-table">
    <tr>
        <th>Active Settlement</th>
        <td>
            <select name="activeSettlement">
                {{#select activeSettlement}}
                    {{#each settlements}}
                        <option value="{{id}}">{{name}}</option>
                    {{/each}}
                {{/select}}
            </select>
        </td>
    </tr>
    <tr>
        <th>Control DC</th>
        <td>{{controlDC}}</td>
    </tr>
    <tr>
        <th>At War</th>
        <td><input type="checkbox" name="atWar" {{checked atWar}}></td>
    </tr>
    <tr>
        <th>Unrest</th>
        <td><input type="number" value="{{unrest}}" name="unrest"></td>
    </tr>
</table>
<table class="km-table">
    <tr>
        <th>Ruin</th>
        <th>Value</th>
        <th>Penalty</th>
        <th>Threshold</th>
    </tr>
    {{#each ruin}}
        <tr>
            <td>{{this.label}}</td>
            <td><input type="number" value="{{this.value}}" name="ruin.{{@key}}.value"></td>
            <td><input type="number" value="{{this.penalty}}" name="ruin.{{@key}}.penalty"></td>
            <td><input type="number" value="{{this.threshold}}" name="ruin.{{@key}}.threshold"></td>
        </tr>
    {{/each}}
</table>
<table class="km-table">
    <tr>
        <th>Die Size</th>
        <th>Dice</th>
        <th>Bonus</th>
        <th>Next</th>
    </tr>
    <tr>
        <td>{{resourceDieSize}}</td>
        <td>{{resourceDice}}</td>
        <td><input type="number" value="{{resources.bonusResourceDice}}" name="resources.bonusResourceDice"></td>
        <td><input type="number" value="{{resourcesNextRound.bonusResourceDice}}" name="resourcesNextRound.bonusResourceDice"></td>
    </tr>
</table>
<table class="km-table">
    <tr>
        <th>Resource Points</th>
        <th>Next</th>
    </tr>
    </tr>
    <tr>
        <td><input type="number" value="{{resources.resourcePoints}}" name="resources.resourcePoints"></td>
        <td><input type="number" value="{{resourcesNextRound.resourcePoints}}" name="resourcesNextRound.resourcePoints"></td>
    </tr>
</table>
<table class="km-table">
    <tr>
        <th>Armies</th>
        <th>Settlement</th>
        <th>Total Consumption</th>
    </tr>
    <tr>
        <td><input type="number" value="{{armyConsumption}}" name="armyConsumption"></td>
        <td>{{settlementConsumption}}</td>
        <td>{{totalConsumption}}</td>
    </tr>
</table>
<table class="km-table">
    <tr>
        <th>Commodity</th>
        <th>Quantity</th>
        <th>Capacity</th>
        <th>Next</th>
    </tr>
    {{#each commodities}}
        <tr>
            <td>{{label}}</td>
            <td><input type="number" value="{{value}}" name="commodities.{{@key}}"></td>
            <td>{{capacity}}</td>
            <td><input type="number" value="{{next}}" name="commoditiesNextRound.{{@key}}"></td>
        </tr>
    {{/each}}
</table>
<table class="km-table">
    <tr>
        <th>Worksite</th>
        <th>Quantity</th>
        <th>Resources</th>
    </tr>
    {{#each workSites}}
        <tr>
            <td>{{label}}</td>
            <td><input type="number" value="{{quantity}}" name="workSites.{{@key}}.quantity"></td>
            <td><input type="number" value="{{resources}}" name=workSites.{{@key}}.resources></td>
        </tr>
    {{/each}}
</table>
