<table class="km-table">
    <tr>
        <th>Skill</th>
        <th>Ability</th>
        <th>Proficiency</th>
        <th title="Ability Bonus">A</th>
        <th title="Proficiency Bonus">P</th>
        <th title="Status Bonus">S</th>
        <th title="Circumstance Bonus">C</th>
        <th title="Item Bonus">I</th>
        <th title="Unrest Penalty">U</th>
        <th title="Circumstance Penalty">C</th>
        <th title="Ruin Penalty">R</th>
        <th title="Vacancy Penalty">V</th>
        <th>Value</th>
    </tr>
    {{#each skills}}
        <tr>
            <td>{{skillLabel}}</td>
            <td>{{abilityLabel}}</td>
            <td>
                <select name="skillRanks.{{skill}}" data-dtype="Number"
                        class="proficiency-rank">
                    {{selectOptions ../ranks selected=rank}}
                </select>
            </td>
            <td class="skill-bonus" title="Ability Bonus">{{total.ability.bonus}}</td>
            <td class="skill-bonus" title="Proficiency Bonus">{{total.proficiency.bonus}}</td>
            <td class="skill-bonus" title="Status Bonus">{{total.status.bonus}}</td>
            <td class="skill-bonus" title="Circumstance Bonus">{{total.circumstance.bonus}}</td>
            <td class="skill-bonus" title="Item Bonus">{{total.item.bonus}}</td>
            <td class="skill-penalty" title="Unrest Penalty">{{total.status.penalty}}</td>
            <td class="skill-penalty" title="Circumstance Penalty">{{total.circumstance.penalty}}</td>
            <td class="skill-penalty" title="Ruin Penalty">{{total.item.penalty}}</td>
            <td class="skill-penalty" title="Vacancy Penalty">{{total.vacancyPenalty}}</td>
            <td class="skill-value">
                <button type="button" class="kingdom-skill" data-skill="{{skill}}"><span>{{total.value}}</span><i
                        class="fa-solid fa-dice-d20"></i></button>
            </td>
        </tr>
    {{/each}}
</table>
