<table class="km-table">
    <tr>
        <th>Fame Type</th>
        <td>
            <select name="fameType">
            {{#select fameType}}
                {{#each fameTypes}}
                    <option value="{{this}}">{{this}}</option>
                {{/each}}
            {{/select}}
            </select>
        </td>
    </tr>
    <tr>
        <th>Charter</th>
        <td><input name="charter" type="text" value="{{charter}}"></td>
    </tr>
    <tr>
        <th>Heartland</th>
        <td>
            <select name="heartland">
                {{#select heartland}}
                    {{#each terrains}}
                        <option value="{{value}}">{{label}}</option>
                    {{/each}}
                {{/select}}
            </select>
        </td>
    </tr>
    <tr>
        <th>Government</th>
        <td><input type="text" value="{{government}}" name="government"></td>
    </tr>
</table>

<table class="km-table">
    <tr>
        <th>Modifier</th>
        <th>Ability</th>
        <th>Score</th>
        <th>Invested</th>
        <th>Status Bonus</th>
    </tr>
    {{#each abilities}}
        <tr>
            <td>{{modifier}}</td>
            <td>{{label}}</td>
            <td><input type="number" value="{{score}}" name="abilityScores.{{@key}}"></td>
            <td><input type="checkbox" {{checked invested}} disabled></td>
            <td>{{investedBonus}}</td>
        </tr>
    {{/each}}
</table>

<table class="km-table">
    <tr>
        <th>Role</th>
        <th>Type</th>
        <th>Name</th>
        <th>Invested</th>
        <th>Vacant</th>
    </tr>
    {{#each leaders}}
    <tr>
        <td>{{label}}</td>
        <td>
            <select name="leaders.{{@key}}.type">
                {{#select type}}
                    {{#each ../actorTypes}}
                        <option value="{{value}}">{{label}}</option>
                    {{/each}}
                {{/select}}
            </select>
        </td>
        <td>
        {{#unless isCompanion}}
            <input type="text" value="{{name}}" name="leaders.{{@key}}.name">
        {{/unless}}
        {{#if isCompanion}}
            <select name="leaders.{{@key}}.name">
                {{#select name}}
                    {{#each ../companions}}
                        <option value="{{this}}">{{this}}</option>
                    {{/each}}
                {{/select}}
            </select>
        {{/if}}
        </td>
        <td><input type="checkbox" {{checked invested}} name="leaders.{{@key}}.invested"></td>
        <td><input type="checkbox" {{checked vacant}} name="leaders.{{@key}}.vacant"></td>
    </tr>
    {{/each}}
</table>
