<div class="status-details">
    <table class="km-table">
        <tr>
            <th>Aspiration</th>
            <td>
                <select name="fame.type">
                    {{selectOptions aspirations selected=fame.type}}
                </select>
            </td>
        </tr>
        <tr>
            <th>Charter</th>
            <td><input name="charter" type="text" value="{{charter}}"></td>
        </tr>
        <tr>
            <th>Heartland</th>
            <td>
                <select name="heartland">
                    {{selectOptions heartlands selected=heartland}}
                </select>
            </td>
        </tr>
        <tr>
            <th>Government</th>
            <td><input type="text" value="{{government}}" name="government"></td>
        </tr>
        <tr>
            <th>Size <a href="#" id="km-kingdom-size-help"><i class="fa-solid fa-question"></i></a></th>
            <td class="km-size">{{#if automateResources}}{{size}}{{else}}
                <input type="number" value="{{size}}" name="size">{{/if}}</td>
        </tr>
        <tr>
            <th>Type</th>
            <td>{{type}}</td>
        </tr>
    </table>

    <table class="km-table">
        <tr>
            <th>Modifier</th>
            <th>Ability</th>
            <th>Score</th>
            <th {{#if enableLeadershipModifiers}}hidden{{/if}}>Invested</th>
            <th {{#if enableLeadershipModifiers}}hidden{{/if}}>Status Bonus</th>
        </tr>
        {{#each abilities}}
            <tr>
                <td>{{modifier}}</td>
                <td>{{label}}</td>
                <td><input type="number" value="{{score}}" name="abilityScores.{{@key}}"></td>
                <td {{#if ../enableLeadershipModifiers}}hidden{{/if}}>
                    {{#if invested}}
                        <i class="fa-solid fa-circle-check"></i>
                    {{else}}
                        <i class="fa-regular fa-circle-xmark"></i>
                    {{/if}}
                </td>
                <td {{#if ../enableLeadershipModifiers}}hidden{{/if}}>{{investedBonus}}</td>
            </tr>
        {{/each}}
    </table>
</div>
<table class="km-table">
    <tr>
        <th>Role</th>
        <th {{#unless enableLeadershipModifiers}}hidden{{/unless}} class="km-leader-type-th">Type</th>
        <th class="km-leader-name-th">Identity</th>
        <th {{#if enableLeadershipModifiers}}hidden{{/if}}>Invested</th>
        <th>Vacant</th>
    </tr>
    {{#each leaders}}
        <tr>
            <td>{{label}}</td>
            <td {{#unless ../enableLeadershipModifiers}}hidden{{/unless}}>
                <select name="leaders.{{@key}}.type">
                    {{selectOptions ../leaderTypes selected=type}}
                </select>
            </td>
            <td class="km-leader-details" data-leader="{{@key}}" data-uuid="{{uuid}}">
                {{#if hasActor}}
                <div>
                    <a title="Open Actor" href="#" data-action="open-actor" data-uuid="{{uuid}}"><img src="{{img}}"></a>
                    <div>
                        <header>{{name}}</header>
                        <p><i>Level</i>: {{level}} <span {{#unless ../enableLeadershipModifiers}}hidden{{/unless}}><i>Leadership Bonus</i>: {{bonus}}</span></p>
                    </div>
                    <input type="hidden" value="{{uuid}}" name="leaders.{{@key}}.uuid">
                    <button type="button" title="Remove Actor" data-action="remove-actor"><i class="fa-solid fa-trash"></i></button>
                </div>
                {{else}}
                    <p>Drop Actor Here!</p>
                {{/if}}
            </td>
            <td {{#if ../enableLeadershipModifiers}}hidden{{/if}}><input type="checkbox" {{checked invested}}
                                                                         name="leaders.{{@key}}.invested"></td>
            <td><input type="checkbox" {{checked vacant}} name="leaders.{{@key}}.vacant"></td>
        </tr>
    {{/each}}
</table>


{{#if showRealmData}}
    <table class="km-table">
        <tr>
            <th>Consumption</th>
            <th>Surplus</th>
            <th>Farmlands</th>
            <th>Food</th>
            <th>Armies</th>
            <th>Now</th>
            <th title="Next Turn">Next</th>
        </tr>
        <tr>
            <td>{{totalConsumption}}</td>
            <td>{{farmSurplus}}</td>
            <td>{{#if automateResources}}{{farmlands}}{{else}}
                <input type="number" value="{{farmlands}}" name="workSites.farmlands.quantity">{{/if}}</td>
            <td>{{#if automateResources}}{{food}}{{else}}
                <input type="number" value="{{food}}" name="workSites.farmlands.resources">{{/if}}</td>
            <td><input type="number" value="{{consumption.armies}}" name="consumption.armies"
                       {{#if autoCalculateArmyConsumption}}disabled{{/if}}></td>
            <td><input type="number" value="{{consumption.now}}" name="consumption.now"></td>
            <td><input type="number" value="{{consumption.next}}" name="consumption.next"></td>
        </tr>
    </table>

    <table class="km-table">
        <tr>
            <th>Income</th>
            <th>Worksites</th>
            <th>+</th>
            <th>Extra Resources</th>
            <th>Total</th>
        </tr>
        {{#each workSites}}
            <tr>
                <td>{{label}}</td>
                <td>{{#if ../automateResources}}{{quantity}}{{else}}
                    <input type="number" value="{{quantity}}" name="workSites.{{@key}}.quantity">{{/if}}</td>
                <td>+</td>
                <td>{{#if ../automateResources}}{{resources}}{{else}}
                    <input type="number" value="{{resources}}" name=workSites.{{@key}}.resources>{{/if}}</td>
                <td>{{total}}</td>
            </tr>
        {{/each}}
    </table>
{{/if}}

<div {{#unless showAddRealmButton}}hidden{{/unless}}>
    <button type="button" id="make-current-scene-realm" {{#unless canAddRealm}}disabled{{/unless}}>Set Stolen Lands Hex
        Map to
        Current Scene <i class="fa-solid fa-save"></i></button>
</div>
