{{#each structures}}
    <div class="km-structure-list-item">
        <h2>{{name}} {{#if residential}}
            <img class="km-structure-type" src="icons/environment/settlement/ldoge.webp" title="housing">
        {{else if infrastructure}}
            <img class="km-structure-type" src="icons/environment/settlement/well.webp"
                 title="infrastructure">
        {{/if}}</h2>
        <a class="km-structure-link" href="#" data-uuid="{{uuid}}">
            <img class="km-lots" src="modules/pf2e-kingmaker-tools/img/settlements/block.webp">
            <img class="km-structure-image" data-lots="{{lots}}" src="{{img}}">
        </a>
        <ul class="km-structure-cost">
            {{#if rp}}
                <li {{#if insufficientRp}}title="Not enough resource points" class="error"{{/if}}>
                    <div class="km-resource-cost">{{rp}}</div>
                    <img
                            class="km-structure-resource"
                            src="icons/commodities/currency/coin-embossed-crown-gold.webp" alt="resource points">
                </li>{{/if}}
            {{#if lumber}}
                <li {{#if insufficientLumber}}title="Not enough lumber" class="error"{{/if}}>
                    <div class="km-resource-cost">{{lumber}}</div>
                    <img class="km-structure-resource"
                         src="icons/commodities/wood/lumber-stack.webp" alt="lumber"></li>{{/if}}
            {{#if stone}}
                <li {{#if insufficientStone}}title="Not enough stone" class="error"{{/if}}>
                    <div class="km-resource-cost">{{stone}}</div>
                    <img class="km-structure-resource"
                         src="icons/commodities/stone/boulder-grey-blue.webp" alt="stone"></li>{{/if}}
            {{#if ore}}
                <li {{#if insufficientOre}}title="Not enough ore" class="error"{{/if}}>
                    <div class="km-resource-cost">{{ore}}</div>
                    <img class="km-structure-resource"
                         src="icons/commodities/metal/ingot-stack-steel.webp" alt="ore"></li>{{/if}}
            {{#if luxuries}}
                <li {{#if insufficientLuxuries}}title="Not enough luxuries" class="error"{{/if}}>
                    <div class="km-resource-cost">{{luxuries}}</div>
                    <img class="km-structure-resource"
                         src="icons/commodities/gems/gem-cluster-purple.webp" alt="luxuries"></li>{{/if}}
        </ul>
        <div class="km-structure-build">
            <button type="button" class="km-build-structure-dialog{{#if lacksProficiency}} error{{/if}}"
                    data-id="{{id}}" {{#if disableBuild}}disabled{{/if}} {{#if
                    lacksProficiency}}title="Kingdom Lacks Proficiency: {{proficiencyRequirements}}" {{/if}}>Build <i
                    class="fa-solid fa-hammer"></i></button>
        </div>
    </div>
{{/each}}