<form id="km-structure-browser">
    <div id="km-structure-browser-sidebar">
        {{#if activeSettlement}}
            <h2>Active Settlement</h2>
            <select name="activeSettlement">
                {{selectOptions settlements selected=activeSettlement}}
            </select>
        {{/if}}
        <h2>Filters</h2>
        <button type="button" id="km-structure-browser-clear">Clear Filters</button>
        <div>
            <label for="km-structure-search">Name</label>
            <div>
                <input type="search" value="{{search}}" name="search" id="km-structure-search">
            </div>
        </div>
        <div>
            <label for="km-structure-browser-level">Max Level</label>
            <div class="structure-browser-range">
                <input type="range" min="0" max="20" value="{{level}}" name="level" id="km-structure-browser-level">
                <div>{{level}}</div>
            </div>
        </div>
        <div>
            <label for="km-structure-browser-min-lots">Min Lots</label>
            <div class="structure-browser-range">
                <input type="range" min="0" max="4" value="{{minLots}}" name="minLots"
                       id="km-structure-browser-min-lots">
                <div>{{minLots}}</div>
            </div>
        </div>
        <div>
            <label for="km-structure-browser-lots">Max Lots</label>
            <div class="structure-browser-range">
                <input type="range" min="1" max="4" value="{{lots}}" name="lots" id="km-structure-browser-lots">
                <div>{{lots}}</div>
            </div>
        </div>
        <div>
            <input type="checkbox" {{checked ignoreProficiencyRequirements}} name="ignoreProficiencyRequirements"
                   id="km-structure-browser-include-missing-proficiency">
            <label for="km-structure-browser-include-missing-proficiency">Ignore Proficiency</label>
        </div>
        <div>
            <input type="checkbox" {{checked ignoreStructureCost}} name="ignoreStructureCost"
                   id="km-structure-browser-ignore-building-cost">
            <label for="km-structure-browser-ignore-building-cost">Ignore Building Cost</label>
        </div>
        <div>
            <input type="checkbox" {{checked reducesUnrest}} name="reducesUnrest"
                   id="km-structure-browser-reduce-unrest">
            <label for="km-structure-browser-reduce-unrest">Reduces Unrest</label>
        </div>
        <div>
            <input type="checkbox" {{checked reducesRuin}} name="reducesRuin" id="km-structure-browser-reduce-ruin">
            <label for="km-structure-browser-reduce-ruin">Reduces Ruin</label>
        </div>
        <div>
            <input type="checkbox" {{checked housing}} name="housing" id="km-structure-browser-housing">
            <label for="km-structure-browser-housing">Housing</label>
        </div>
        <div>
            <input type="checkbox" {{checked affectsDowntime}} name="affectsDowntime"
                   id="km-structure-browser-downtime">
            <label for="km-structure-browser-downtime">Downtime</label>
        </div>
        <div>
            <input type="checkbox" {{checked affectsEvents}} name="affectsEvents" id="km-structure-browser-events">
            <label for="km-structure-browser-events">Affects Events</label>
        </div>
        <div>
            <input type="checkbox" {{checked items}} name="items" id="km-structure-browser-items">
            <label for="km-structure-browser-items">Shopping</label>
        </div>
        <div>
            <input type="checkbox" {{checked storage}} name="storage" id="km-structure-browser-capacity">
            <label for="km-structure-browser-capacity">Increases Capacity</label>
        </div>
        <div>
            <input type="checkbox" {{checked upgradeFrom}} name="upgradeFrom" id="km-structure-browser-upgrade-from">
            <label for="km-structure-browser-upgrade-from">Cheaper when upgraded</label>
        </div>
        <div>
            <input type="checkbox" {{checked upgradeTo}} name="upgradeTo" id="km-structure-browser-upgrade-to">
            <label for="km-structure-browser-upgrade-to">Upgradeable</label>
        </div>
        <div>
            <input type="checkbox" {{checked consumption}} name="consumption" id="km-structure-browser-consumption">
            <label for="km-structure-browser-consumption">Reduces Consumption</label>
        </div>
        <div>
            <input type="checkbox" {{checked infrastructure}} name="infrastructure"
                   id="km-structure-browser-infrastructure">
            <label for="km-structure-browser-infrastructure">Infrastructure</label>
        </div>
        <hr>
        {{#each activities}}
            <div>
                <input type="checkbox" {{checked enabled}} name="activity-{{@key}}" id="km-structure-browser-{{@key}}">
                <label for="km-structure-browser-{{@key}}">{{name}}</label>
            </div>
        {{/each}}
    </div>
    <div id="km-structure-browser-content" {{#if noStructures}}class="flex-it"{{/if}}>
        {{#if noStructures}}
            {{#if isGM}}
                <button class="km-import-structures">Import Structures</button>
            {{else}}
                <p class="km-import-notice">No structures imported, ask your GM to open this window and click on <b>Import
                    Structures</b></p>
            {{/if}}
        {{else}}
            <nav class="km-nav">
                <a data-tab="buildable" class="{{#if buildableTab}}active{{/if}}">Buildable
                    ({{constructableBuildings.buildable}})</a>
                <a data-tab="upgradable" class="{{#if upgradableTab}}active{{/if}}">Upgradable
                    ({{constructableBuildings.upgradable}})</a>
                <a data-tab="free" class="{{#if freeTab}}active{{/if}}">Free ({{constructableBuildings.free}})</a>
            </nav>
            <div class="km-structure-list">
                {{> modules/pf2e-kingmaker-tools/templates/kingdom/structure-browser-item.hbs structures=structures}}
            </div>
        {{/if}}
    </div>
</form>