{{#if isGM}}
    <button type="button" id="manage-kingdom-activities">Manage Activities</button>
{{/if}}
<h2>Upkeep Phase</h2>
<ol>
    <li>
        <button type="button" id="km-gain-fame">Gain 1 {{fameLabel}}</button>
    </li>
    <li {{#if (lookup hideActivities 'new-leadership')}}hidden{{/if}}>
        <div class="activity-help">
            <button type="button" class="kingdom-activity" data-activity="new-leadership">New Leadership (optional)
            </button>
            <button type="button" class="show-help" data-help="new-leadership"><i class="fa-solid fa-question"></i>
            </button>
        </div>
    </li>
    <li>
        <button type="button" id="km-adjust-unrest">Adjust Unrest</button>
    </li>
    <li>
        <button type="button" id="km-collect-resources">Collect Resources</button>
    </li>
    <li>
        <button type="button" id="km-pay-consumption">Pay Consumption</button>
    </li>
</ol>

<h2>Commerce Phase</h2>
<ol>
    <li>
        <div class="activity-choice activity-help">
            <button type="button" class="kingdom-activity" data-activity="collect-taxes"
                {{#unless
                        (lookup enabledActivities 'collect-taxes')}}title="Insufficient Proficiencies" disabled{{/unless}}
                {{#if (lookup hideActivities 'collect-taxes')}}hidden{{/if}}
            >Collect Taxes (trained)
            </button>
            <button type="button" class="show-help" data-help="collect-taxes"
                    {{#if (lookup hideActivities 'collect-taxes')}}hidden{{/if}}><i class="fa-solid fa-question"></i>
            </button>
            <button type="button" id="km-reduce-unrest">Reduce Unrest</button>
        </div>
    </li>
    <li {{#if (lookup hideActivities 'improve-lifestyle')}}hidden{{/if}}>
        <div class="activity-help">
            <button type="button" class="kingdom-activity" data-activity="improve-lifestyle">Improve Lifestyle
                (optional)
            </button>
            <button type="button" class="show-help" data-help="improve-lifestyle"><i class="fa-solid fa-question"></i>
            </button>
        </div>
    </li>
    <li {{#if (lookup hideActivities 'tap-treasury')}}hidden{{/if}}>
        <div class="activity-help">
            <button type="button" class="kingdom-activity" data-activity="tap-treasury">Tap Treasury (optional)</button>
            <button type="button" class="show-help" data-help="tap-treasury"><i class="fa-solid fa-question"></i>
            </button>
        </div>
    </li>
    <li {{#if (lookup hideActivities 'trade-commodities')}}hidden{{/if}}>
        <div class="activity-help">
            <button type="button" class="kingdom-activity" data-activity="trade-commodities">Trade Commodities
                (optional)
            </button>
            <button type="button" class="show-help" data-help="trade-commodities"><i class="fa-solid fa-question"></i>
            </button>
        </div>
    </li>
    <li {{#if (lookup hideActivities 'manage-trade-agreements')}}hidden{{/if}}>
        <div class="activity-help">
            <button type="button" class="kingdom-activity" data-activity="manage-trade-agreements">Manage Trade
                Agreements
                (optional)
            </button>
            <button type="button" class="show-help" data-help="manage-trade-agreements"><i
                    class="fa-solid fa-question"></i>
            </button>
        </div>
    </li>
</ol>

<h2>Leadership Activities ({{leadershipActivityNumber}} per player)</h2>
{{#each leadershipActivities}}
    <div class="activity-help" {{#if (lookup ../hideActivities value)}}hidden{{/if}}>
        <button type="button" class="kingdom-activity" data-activity="{{value}}"
            {{#unless (lookup ../enabledActivities value)}}title="Insufficient Proficiencies or Lacking Buildings"
                disabled{{/unless}}
        >{{label}}</button>
        <button type="button" class="show-help" data-help="{{value}}"><i
                class="fa-solid fa-question"></i>
        </button>
    </div>
{{/each}}

<h2>Region Activities (3)</h2>

<p>You can attempt 2 Region activities simultaneously as long as both activities take place in the same hex and the hex
    is either a {{heartlandLabel}}. You take a –2 penalty to Kingdom skill checks made during these two activities.</p>

<p>A hex can have at most one of these: Farmland, Freehold, Ruins, Settlement, Structure, or Work Site. A Settlement can
    be built in a hex that contains Ruins or a Structure. A Free Hold can be brought into your kingdom in which case it
    becomes a Settlement instead.</p>

{{#each regionActivities}}
    <div class="activity-help" {{#if (lookup ../hideActivities value)}}hidden{{/if}}>
        <button type="button" class="kingdom-activity"
            {{#unless (lookup ../enabledActivities value)}}title="Insufficient Proficiencies" disabled{{/unless}}
                data-activity="{{value}}">{{label}}</button>
        <button type="button" class="show-help" data-help="{{value}}"><i
                class="fa-solid fa-question"></i>
        </button>
    </div>
{{/each}}

<p>Click these buttons after successfully claiming a hex containing a refuge or landmark:</p>

<div class="activity-choice">
    <button type="button" id="claimed-refuge">Claimed Refuge</button>
    <button type="button" id="claimed-landmark">Claimed Landmark</button>
</div>

<h2>Civic Activities (1 per settlement)</h2>

{{#if civicPlanning}}
    <p>During the Civic Activities step of the Activities phase of a Kingdom turn, one settlement of the party’s choice
        can attempt two Civic activities rather than one. The second Civic activity occurs after all other settlements
        have taken their individual Civic activities.</p>
{{/if}}
<p>First, import all structures from the <b>Structures</b> compendium in the <b>Kingmaker Tools</b> folder, then add the
    relevant scene in the <b>Settlements</b> tab. Then hit <b>Build Structure</b> and choose a building. After rolling
    the check, and drag the building link from chat onto the settlement scene.</p>
<div class="activity-help" {{#if (lookup hideActivities 'build-structure')}}hidden{{/if}}>
    <button type="button" id="km-open-structure-browser">Build Structure
    </button>
    <button type="button" class="show-help" data-help="build-structure"><i
            class="fa-solid fa-question"></i>
    </button>
</div>
<div class="activity-help" {{#if (lookup hideActivities 'demolish')}}hidden{{/if}}>
    <button type="button" class="kingdom-activity" data-activity="demolish">Demolish
    </button>
    <button type="button" class="show-help" data-help="demolish"><i
            class="fa-solid fa-question"></i>
    </button>
</div>

<h2>Army Activities (1 per army)</h2>

<p>Target (<i class="fa-solid fa-keyboard"></i> <b>t</b>) an army on the scene before performing the activity to
    correctly
    apply conditions and DCs. For <b>Offensive
        Gambit</b>, target all enemy units (<i class="fa-solid fa-keyboard"></i> <b>shift + t</b>)</p>

{{#each armyActivities}}
    <div class="activity-help" {{#if (lookup ../hideActivities value)}}hidden{{/if}}>
        <button type="button" class="kingdom-activity"
            {{#unless (lookup ../enabledActivities value)}}title="Insufficient Proficiencies" disabled{{/unless}}
                data-activity="{{value}}">{{label}}</button>
        <button type="button" class="show-help" data-help="{{value}}"><i
                class="fa-solid fa-question"></i>
        </button>
    </div>
{{/each}}

<h2>Event Phase</h2>

<div {{#unless cultOfTheBloomEvents}}hidden{{/unless}}>
    <h3>Cult of the Bloom Events</h3>
    <p>These events happen after completing a day of downtime researching the Cult of the Bloom in Chapter 5. The first
        time one of these Cult events occurs, the PCs earn 80 Kingdom XP regardless of how successful the kingdom was in
        dealing with the event; they do not earn additional Kingdom XP for repeated events. This sheet tracks them as
        milestones.</p>
    <button type="button" id="km-check-cult-event">Check for Cult Event (DC {{cultEventDC}})</button>
    <button type="button" id="km-roll-cult-event">Roll Cult Event</button>
</div>

<h3>Kingdom Events</h3>
<button type="button" id="km-check-event">Check for Kingdom Event (DC {{eventDC}})</button>
<button type="button" id="km-roll-event">Roll Kingdom Event</button>

<table class="km-table" {{#unless ongoingEvents}}hidden{{/unless}}>
    <tr>
        <th>Ongoing Events</th>
        <th>Resolve</th>
    </tr>
    {{#each ongoingEvents}}
        <tr>
            <td>{{{this}}}</td>
            <td>
                <button type="button" class="icon-action km-remove-event" data-delete-index="{{@index}}"><i
                        class="fa fa-trash" aria-hidden="true"></i></button>
            </td>
        </tr>
    {{/each}}
</table>
<button type="button" id="km-add-event">Add Ongoing Event <i class="fa-solid fa-plus"></i></button>
<p><b>Hint:</b> You can also add an ongoing event by right-clicking on the rolled event in chat and choosing <b>Add to
    Ongoing Events</b></p>

<h2>Apply Kingdom XP</h2>
Resolved Event with Modifier:

<div class="activity-choice">
    <button type="button" class="km-event-xp" data-modifier="-4">-4</button>
    <button type="button" class="km-event-xp" data-modifier="-3">-3</button>
    <button type="button" class="km-event-xp" data-modifier="-2">-2</button>
    <button type="button" class="km-event-xp" data-modifier="-1">-1</button>
    <button type="button" class="km-event-xp" data-modifier="0">0</button>
    <button type="button" class="km-event-xp" data-modifier="1">1</button>
    <button type="button" class="km-event-xp" data-modifier="2">2</button>
    <button type="button" class="km-event-xp" data-modifier="3">3</button>
    <button type="button" class="km-event-xp" data-modifier="4">4</button>
</div>
<hr>
Claimed Hexes this Round:

<div class="activity-choice">
    <button type="button" class="km-claimed-hexes-xp" data-hexes="1">1 Hex</button>
    <button type="button" class="km-claimed-hexes-xp" data-hexes="2">2 Hexes</button>
    <button type="button" class="km-claimed-hexes-xp" data-hexes="3">3 Hexes</button>
</div>
<hr>
<button type="button" id="km-rp-to-xp">Convert RP to XP</button>
<hr>
<button type="button" id="solutions-to-xp">Convert unused solutions to XP</button>
<hr>
<table class="km-table">
    <tr>
        <th>Milestone</th>
        <th>XP</th>
        <th>Reached</th>
    </tr>
    {{#each milestones}}
        <tr {{#unless display}}hidden{{/unless}}>
            <td>{{name}}</td>
            <td>{{xp}}</td>
            <td>
                <input type="checkbox" name="milestones.{{@index}}.completed" {{checked completed}}>
            </td>
        </tr>
    {{/each}}
</table>

<h2>Ending Turn</h2>

<button type="button" id="km-level-up" {{#unless canLevelUp}}disabled{{/unless}}>Level Up</button>

<button type="button" id="km-end-turn">End Turn</button>
